/*@import url(mpdf/ttfonts/DejaVuSans.ttf);*/


#PDFHeader .logo {width: 300px; padding-top: 20px; float: left; margin: 0px 0 10px 2px; font-size: 9pt; position: relative; display: inline-block;}
#PDFHeader .couponID {text-align: right; float: right; padding: 10px 10px 0 0;position: relative; display: inline-block; width: 300px;}
#PDFHeader .couponID .qrImage { display: inline-block;  position: relative; float: right;}

#PDFHeader .voucherCode {
    margin-bottom: 10px;
}

#PDFHeader {
    margin-bottom: 0;
    padding-bottom: 0;
}

#PDFcontent {
    margin:0 auto;
    width: 790px;
    margin-top: 20px;
}

#PDFHeader,
#PDFcontent,
#PDFFooter {
/* font-family: "DejaVuSansCondensed"*/;
font-family: "Arial";
}


#PDFcontent { /*margin: 10px;*/ /*padding: 10px;*/ font-size: 100%;}
#PDFcontent table {width: 100%;}
#PDFcontent table td {vertical-align: top;}
#PDFcontent h1 {font-size: 120%; font-weight: bold; margin:0;}
#PDFcontent h3 {
    font-size: 100%; font-weight: bold;
    margin:  0;
    padding: 0 0 0 0;
    /*border-top: 2px solid #ccc;*/
}
#PDFcontent h2 {
    font-size: 120%; font-weight: bold;
    margin:  0;
    padding: 0 0 0 0;
    /*border-top: 2px solid #ccc;*/
}
#PDFcontent h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0;
    color: #000;
    border-bottom: none;
}
#PDFcontent h5 {font-size: 100%; margin :0;}

#PDFcontent ul {
    margin: 0 0 20px 0; 

}

#PDFcontent li {
    font-size: 11px;
    line-height: 20px;

}


#PDFcontent .printInfo div#infoContainer {width: 100%; padding: 3px 0px 0px 0px;}
#PDFcontent .printInfo div#leftInfo {float: left; margin-top: -20px; width: 300px; padding-right: 20px; display: inline; position: relative; vertical-align: top; height: auto;}
#PDFcontent .printInfo div#rightInfo {float: right; width: 300px; display: inline; position: relative; vertical-align: top; height: auto;}

#PDFcontent .printInfo .label {float: left; width: 270px; font-weight: bold; font-size : 14px;}
#PDFcontent .printInfo .bold {float: left; font-weight: bold; font-size : 14px;}
#PDFcontent .printInfo .value {float: left; width: 150px; padding: 0 0 0 10px;}
#PDFcontent .printInfo .left {text-align: left;}
#PDFcontent .printInfo .right {text-align: right;}

#PDFcontent .printInfo div#infoContent {clear: both; position: relative; top: 20px; width: 100%;}
#PDFcontent .printInfo div#infoContent p {font-size: 10px;}
#PDFcontent .printInfo div#infoContent .dealHint {text-align: left; padding: 10px 0; font-size: 100%; color: #D61F8D; font-weight: bold;border-top: 1px dotted #D61F8D; border-bottom: 1px dotted #D61F8D;}
#PDFcontent .printInfo div#infoContent ul {font-size: 14px;}

#PDFFooter { font-size: 40%; text-align: center; color: #777; }
#PDFFooter .notification {clear: both; position: relative; border-top: 1px dotted #000; width: 100%; font-size: 6.5px;}









