.float_left, .fl, .fL, #fl{float:left;}
.fl_1{float:left;padding-left:20px;}
.float_right, .fr, .fR, #fr{float:right}
.clear_both, .clb, .clear{clear:both}
.c{clear:both;height:0;overflow:hidden}
.cur_pointer{cursor:pointer}
.hidden{display:none}
.noBg, #noBg{background:none}
.f26, #f26{font-size:26px}
.f20, #f20{font-size:20px}
.f18, #f18{font-size:18px}
.f16, #f16{font-size:16px}
.f14, #f14{font-size:14px}
.f11, #f11{font-size:11px}
.f12, #f12{font-size:12px}
.c8E908F, #c8E908F{color:#8E908F}
.white{color:#fff}
.8e8e8e{color:#8e8e8e}
#borderB0{border-bottom:0}
.noBoder, #noBoder{border:none}
a.no_under:hover{text-decoration:none}
.m0{margin:0}
.mTop-35{margin-top:-35px;}
.mTop0, #mTop0{margin-top:0px}
.mTop3, #mTop3{margin-top:3px}
.mTop5, #mTop5{margin-top:5px}
.mTop10, #mTop10{margin-top:10px}
.mTop13{margin-top:13px;}
.mTop15, #mTop15{margin-top:15px}
.mTop20, #mTop20{margin-top:20px}
.mt28{margin-top:28px}
.mt38{margin-top:38px}
.mt45{margin-top:45px}
.m10{margin:10px}
.m15{margin:15px}
.mBottom0{margin-bottom:0;}
.mBottom20, #mBottom20{margin-bottom:20px}
.mBottom15, #mBottom15{margin-bottom:15px}
.mBottom10, #mBottom10{margin-bottom:10px}
.mBottom5, #mBottom5{margin-bottom:5px}
.mBottom0, #mBottom0{margin-bottom:0px}
.mb25{margin-bottom:25px}
.mLeft5, #mLeft5{margin-left:5px}
.mLeft7, #mLeft7{margin-left:7px}
.mLeft10, #mLeft10, .marginLeft10{margin-left:10px}
.mLeft15, #mLeft15{margin-left:15px}
.mLeft16, #mLeft16{margin-left:16px}
.mLeft19{margin-left:19px;}
.mLeft20, #mLeft20{margin-left:20px}
.mLeft25, #mLeft25{margin-left:25px}
.mLeft30, #mLeft30{margin-left:30px}
.mLeft35, #mLeft35{margin-left:35px}
.mLeft40, #mLeft40{margin-left:40px}
.mLeft400, #mLeft400{margin-left:400px}
.ml23{margin-left:23px}
.mRight15, #mRight15{margin-right:15px}
.mRight16, #mRight16{margin-right:16px}
.mRight17, #mRight17{margin-right:17px}
.mRight20, #mRight20{margin-right:20px}
.mRight5, #mRight5{margin-right:5px}
.mr10{margin-right:10px}
.p0, #p0{padding:0}
.p1, #p1{padding:1px}
.p3, #p3{padding:3px}
.p5, #p5{padding:5px}
.p10, #p10{padding:10px}
.p20, #p20{padding:20px}
.pTop0, #pTop0, #main_c #pTop0{padding-top:0px}
.pLR10, #pLR10{padding:0px 10px}
.pLR5, #pLR5{padding:0px 5px}
.pTop5, #pTop5{padding-top:5px}
.pTop10, #pTop10{padding-top:10px}
.pTop15, #pTop15{padding-top:15px}
.pTop20, #pTop20{padding-top:20px}
.pLeft0{padding-left:0;}
.pLeft5, #pLeft5{padding-left:5px}
.pLeft7, #pLeft7{padding-left:7px}
.pLeft20, #pLeft20{padding-left:20px}
.pRight0{padding-right:0;}
.pRight20, #pRight20{padding-right:20px}
.pBottom0, #pBottom0{padding-bottom:0px}
.pBottom5, #pBottom5{padding-bottom:5px}
.pBottom10, #pBottom10{padding-bottom:10px}
.w20{width:20px}
.w170{width:170px}
.w60{width:60px}
.w600{width:600px}
.w140, #w140{width:140px}
.w80, #w80{width:80px}
.width_100, .w100, #w100{width:100px}
.w200, #w200{width:200px}
#w330{width:330px}
.w100pc{width:100%}
.w728{width:728px}
.w525{width:535px}
.w315{width:315px}
.w210{width:210px}
.w215{width:215px}
.w228{width:228px}
.w290{width:290px}
.w390{width:400px}
.h70{height:70px}
.h78{height:78px}
.h80{height:80px}
.h64{height:64px}
.h62{height:62px}
.h30{height:30px}
.h20{height:20px}
.h60{height:60px}
.lineHeight19{line-height:19px}
.justify, #justify{text-align:justify}
.price, td.price{color:#ff3c00;font-weight:bold;}
.bold, #bold{font-weight:bold}
.error{color:#F00;padding:3px 0;}
.odd .error{margin-left:10px;}
#pass_short{color:red}
#pass_bad{color:red}
#pass_good{color:#8F7500}
#pass_strong{color:#4E7F00}
#vni_login_overlay, #vni_login_loading{position:absolute;z-index:100;width:100%;height:100%;}
#vni_login_overlay{background:#000;opacity:0.5;filter:alpha(opacity=50)}
#vni_login_loading{z-index:105;background:transparent}
#vni_login_loading .msg{margin:auto;height:15px;width:200px;text-align:center;padding-top:35px;background:url(images/login_loading.gif) no-repeat top center;color:#fff;font-weight:bold;}
a.go_top{background:url(images/icon/gotop.gif) no-repeat;display:block;position:fixed;z-index:99;bottom:10px;right:10px;width:46px;height:46px;top:50%;opacity:0.5;filter:alpha(opacity=50)}
a.go_top:hover{opacity:1;filter:alpha(opacity=100)}
.jTip{cursor:pointer}
#JT{position:absolute;z-index:999;background:url(images/tooltip_arrow.gif) no-repeat left 10px;padding-left:17px}
#JT_copy{border:2px solid #c5ced7;background-color:#fff;overflow:hidden}
#JT .title{padding:0 20px;font-size:14px;font-weight:bold;height:24px;line-height:24px;cursor:pointer;display:block;color:#034b8a;border-top:1px solid #fff;border-bottom:1px solid #fff;background-color:#edf1f3;}
#JT .content{border-top:2px solid #edf1f3;height:auto;display:block;padding:0}
#JT .content .row{padding:0 5px;height:29px;line-height:29px;border-bottom:1px solid #e9eaf4;background-color:#fff}
#JT .content .row_last{border:0}
#JT .content .bg_gray{background-color:#f2f2f2}
.image_border{border:1px solid #ccc;padding:2px}
.pagging{height:35px;border-top:1px solid #c4c4c4;padding-top:15px}
.pager{float:right;padding-right:30px}
.pager a.page-item{float:left;color:#252525;display:block;height:19px;margin:0 3px;line-height:19px}
.pager a.page-item span{display:block;padding:0 6px;}
.pager a.prev, .pager a.next, .pager a.first, .pager a.last{color:#ffa800;text-transform:uppercase;font-weight:bold;margin:0 5px}
.pager a.prev:hover, .pager a.next:hover, .pager a.first:hover, .pager a.last:hover, .pager a.prev:hover span, .pager a.next:hover span, .pager a.first:hover span, .pager a.last:hover span{color:#ffa800;background:none}
.pager a.active{font-weight:bold}
.pager .dot{float:left;color:#252525;display:block;height:19px;margin:0 2px;line-height:19px}
.blueButton, a.blueButton, .blueButton span{background:url(images/button/bgButton.png) repeat-x 0 -220px;overflow:hidden;text-align:center;display:block;float:left;font-size:14px;font-weight:bold;color:#fff;cursor:pointer}
.blueButton span{background-position:left -156px;background-repeat:no-repeat}
.blueButton span span{background-position:right -188px;height:32px;line-height:32px;padding:0 10px}
.blueButton span span b{font-size:17px}
a.blueButton:hover{text-decoration:none}
#pagingSold .pager a.page-item{border:1px solid #c5e2f1;color:#31a2dc;font-weight:bold}
#pagingSold .pager a.page-item:hover, #pagingSold .pager a.active{background-color:#31a2dc;border:1px solid #31a2dc;color:#ffffff;text-decoration:none}
#pagingSold .pager a.prev, #pagingSold .pager a.next, #pagingSold .pager a.first, #pagingSold .pager a.last{text-transform:capitalize}
#pagingSold .pager a.prev:hover span, #pagingSold .pager a.next:hover span, #pagingSold .pager a.first:hover span, #pagingSold .pager a.last:hover span{color:#ffffff}
.classic-popup{background:rgba(255,255,255, 0.24);border-radius:5px;-moz-border-radius:5px;padding:5px}
.classic-popup-title{width:100%;background:#0093d0}
.classic-popup-title, .classic-popup-title .fl, a.classic-popup-close{height:40px;line-height:40px;font-weight:bold;color:#fff}
.classic-popup-title .fl{padding-left:20px;font-size:16px;text-transform:uppercase;text-shadow:0 1px 0 #666666}
a.classic-popup-close{float:right;font-size:13px;line-height:30px;padding:0 10px}
a.classic-popup-close:hover{text-decoration:none;color:#4f2d00}
.classic-popup-content{width:100%;background:#fff;color:#472900}
b, strong{font-weight:bold}