@media only screen and (max-width:767px){.main .left-box, .headerBottom .searchBoxTop, .scrollup, .footerWidth, .bottomTopDeal, #formRegMail .regContent .text strong, .commentlist .avatar, .ctrlMenu, .btProfile, .borderImg, #navigation-menu, .bt_hide_email, #progress_bar, .keepshp, .headerBottom{display:none!important}
.sContainer{width:auto!important;padding:10px!important}
img{width:100%!important;height:auto!important;max-width:100%!important;}
.twocol{display:block;overflow:visible}
.headerTop .shopnewIconHeader{margin:4px 3px 0 5px!important;}
.shopnewIconHeader .retinaiconbox .retinaicon-circ{width:23px!important;height:23px!important;font-size:14px!important}
.v7unOrderheader span, .v7likeheader span, .shopnewIconHeader .retinaiconbox span.item{font-size:7px!important}
#mobile-header{display:block!important;}
.header, .headerBg{height:61px!important}
#responsive-menu-button{background:url('images/boxmenu/rs-menu.png') no-repeat center center;display:block;height:61px;width:61px;text-indent:-9999px;position:absolute;top:0px;left:-10px;}
.headerLogo{overflow:hidden; position:absolute; margin-left:65px!important; z-index:99;}
.bt_send_email{font-size:10px!important}
.headerTop .headerInfo, .headerGoldInfo, .right-contdear{/*float:right*/;padding:0 5px;}
.header{margin-top:31px;}
.headerTop{width:auto}
.headerBarMenu{width:100%;background:#333;margin-top:-31px;position:absolute;height:31px;}
.headerBottomW{ width:auto; background:#0072b0}
.headerInfo, .headerGoldInfo{margin:0!important}
.headerInfo .bgall, .regBut{background:none!important;border:none!important;border-radius:0!important;-webkit-border-radius:0!important;-webkit-box-shadow:none!important}
.headerInfo .content a{color:#FFF!important}
.headerInfo .content .p20, .regBut .content{padding:0!important}
.regMailButton{margin-left:0px!important;position:absolute;top:-39px;height:0;background:none!important;color:#FFF!important}
.headerCity{top:61px!important;}
#formRegMail .regContent{width:100%!important}
#formRegMail .regContent .text{margin-left:0!important;padding-left:0!important;}
#formRegMail .regContent .text{font-size:12px!important}
.bgSubscribeEmail input, .bgSubscribeEmail select{font-size:11px!important;}
.bgSubscribeEmail input{width:100px!important}
.bt_send_email{width:60px!important}
.headerFloat, .headerCity{top:61px;display:none}
.block-content{position:relative;}
.cont-maindear{/*width:99%!important;*/height:auto!important;position:relative;}
.main .main-boxcont{float:left;width:99%;height:auto}
.main{width:98%!important}
.leftcontents, .leftMainBox{width:100%!important;display:block;float:left;}
.right_contents, .rightMainBox{width:100%!important}
.mainimg, .setDealWh{width:99.5%!important;height:auto!important}
.right-contdear{/*position:absolute;*/bottom:0;right:0;border:none!important;width:100%!important;height:100%!important;margin:0; float:none!important}
.right-contdear .boxPrices_view{/*width:180px!important;*/position:relative;/*margin-right:-26px;*/background-image:none; background:#0073B1; left:0; width:auto; height:auto; padding:10px;}
.right-contdear .boxPrices{ right:0; height:auto!important}
.width256, .width283{width:100%!important}
#dynamic_price{display:none;}
.attribute_label{display:block;font-size:10px;}
#wpg_addcart .price_label{position:absolute;right:-4px;top:78px;margin:0!important;width:90px;}
#wpg_addcart .bt_addtocart{position:absolute;float:right!important;margin:0!important;width:auto;right:10px;top:100px;}
.v6BuyNow .retinaiconbox{width:100%!important;height:auto!important;font-size:14px!important;}
.v6BuyNow .retinaiconbox .retinaicon-shopping-cart{font-size:14px!important;margin-left:10px!important;line-height:26px!important}
.v6BuyNow, .v6BuyNowMulti{margin:10px 0 0 19px!important;padding-right:10px;}
.v6BuyNow .retinaiconbox{border-radius:10px!important;-moz-border-radius:10px!important;-webkit-border-radius:10px!important;line-height:30px!important;}
.v6BuyNow span.buynow_text{border:none!important;padding-right:8px;}
.v6BuyNow a{height:auto}
.mainimg{float:none!important}
.mainimg .mLeft400{margin-left:0!important;}
.v6Price{/*padding-top:10px; */height:auto!important; margin-top:0!important}
.ca-container{padding:20px 0; height:400px!important}
.ca-nav span.ca-nav-next{right:0!important}
.ca-nav span.ca-nav-prev{left:0!important}
.main .ca-wrapper{width:80%!important;margin:auto;}
.v6TitleCate{padding:10px 5px!important}
.v6TitleCat{padding:20px 10px 10px 5px!important}
.list-rands{width:100%!important;height:auto!important}
.v6ItemHotImg{width:auto!important;height:auto!important}
.no_img, .no_img_475{width:auto!important}
.v7price_promotion, .v7price_promotionsmall{margin:0!important}
#wpg_login_form input, #blog-comment input, #claim_voucher input, #wpg_deal_submission input, #wpg_merchant_register input, #wpg_account_edit input, #wpg_login_form textarea, #blog-comment textarea, #claim_voucher textarea, #wpg_deal_submission textarea, #wpg_merchant_register textarea, #wpg_account_edit textarea{width:50%!important}
#wpg_cart_button{text-align:right;}
#wpg_checkout textarea, #claim_voucher textarea, #wpg_login_form textarea, #wpg_deal_submission textarea{width:30%!important}
#wpg_checkout textarea{width:80%!important}
.right-contdear .shopinfo, .v6BorderBot{width:100%;/*float:right;position:absolute;right:4px;*/}
.v6BorderBot{bottom:3px}
.right-contdear .shopinfo{bottom:28px}
.shopinfo{height:auto}
.shopTitleInfo{font-size:9px;text-transform:none;}
.shopMoreInfo, .v6Timer .v6DisplayTime, .v6Buyersnew{font-size:12px!important;}
.v6BorderBot{margin:0!important;padding:0!important;}
.v6Timer, .v6Buyersnew{background:#F3F3F3;text-align:center;padding:5px!important;/*height:14px;*/}
.shopBuy, .shoppromotion, .shoptime{width:32%!important}
.boxcategory, .boxdetailAdvan{margin:10px 0!important}
.image_map{margin-left:10px;width:auto!important;float:left}
.image_map iframe{width:100%!important}
.left-box-acc, .right-box-acc{width:95%!important;height:auto!important;}
.right-box-acc{float:left!important;margin-top:5px;}
.profileHeaderTitle{font-size:15px!important}
.profilesmoney{font-size:12px!important;}
.profileTabV6{padding:0 12px 0 2px!important}
.reportTypev6 li{margin-right:-1px!important;}
.profileHeaderTop{padding:13px 10px!important;}
.reportTypev6 a.active, .reportTypev6 a:hover, .reportTypev6 a{padding:0 5px!important;font-size:11px;}
.viewdetailOrder, .viewdetailOrder:hover{height:auto!important}
.profileContainer{overflow:hidden;padding:5px!important;}
.viewdetailOrderSmall{width:auto}
.commentlist li.comment{padding:0!important}
.main-boxcontFull{overflow:hidden;margin:0 5px 1px 5px!important;}
.footer .bottom-footer{border-top:none!important}
.headerWidth, .footerWidth, .weekly .homecate_c, .homecate_c, .ca-container, .main-width, .bottom-footer{width:auto!important}
.content-copyright{padding:0 5px}
img, img[Attributes Style]{display:block;height:auto !important;max-width:100% !important;}
#wpadminbar img{width:auto!important}
#listData, #listData a{font-size:10px!important;}
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{width:100%!important}
.panel{padding:10px 10px 0!important;}
.mt38{margin-top:10px!important}
.sc-deal-item{height:auto!important}
.title-maindear .v6TitleShort{margin-left:0px; height:auto!important}
#card_image{display:none}
.box_header, .box_txt_header{font-size:18px!important}
.box{left:11%!important;margin-left:-10%!important;width:98% !important;height:auto!important;}
.close-box{z-index:2!important}
.box_header{height:65px!important; line-height:20px!important}
.box_header span{font-size:11px!important}
.box_email_form{width:150px!important; font-size:12px!important}
.title-maindear a, .title-maindear .v6TitleShort h1{text-shadow: 1px 1px #efefef;}
.title-maindear .v6TitleShort a{font-size:14px}
.main{
		max-width: 100%;
	}
	.headerTop{
		max-width: 100%;
	}
}
.select2-results{
	max-height: 130px !important;
}
.box{
	top:160px !important;
}