/* Basic */
input, table, fieldset, ul li {
	direction: rtl!important;
}
th, td {
	text-align: right!important
}
.main-boxcontFull {
	text-align: right!important
}
.main-content {
	text-align: right!important;
	/*direction: rtl!important;*/
}
.float_left, .fl, .fL, #fl {
	float: right!important;
}
.fl_1 {
	float: right!important;
	padding-right: 20px!important;
	padding-left: 0!important;
}
.float_right, .fr, .fR, #fr {
	float: left!important;
}
.mLeft5, #mLeft5 {
	margin-right: 5px!important;
	margin-left: 0!important;
}
.mLeft7, #mLeft7 {
	margin-right: 7px!important;
	margin-left: 0!important;
}
.mLeft10, #mLeft10, .marginLeft10 {
	margin-right: 10px!important;
	margin-left: 0!important;
}
.mLeft15, #mLeft15 {
	margin-right: 15px!important;
	margin-left: 0!important;
}
.mLeft16, #mLeft16 {
	margin-right: 16px!important;
	margin-left: 0!important;
}
.mLeft20, #mLeft20 {
	margin-right: 20px!important;
	margin-left: 0!important;
}
.mLeft25, #mLeft25 {
	margin-right: 25px!important;
	margin-left: 0!important;
}
.mLeft30, #mLeft30 {
	margin-right: 30px!important;
	margin-left: 0!important;
}
.mLeft35, #mLeft35 {
	margin-right: 35px!important;
	margin-left: 0!important;
}
.mLeft40, #mLeft40 {
	margin-right: 40px!important;
	margin-left: 0!important;
}
.mLeft400, #mLeft400 {
	margin-right: 400px!important;
	margin-left: 0!important;
}
.ml23 {
	margin-right: 23px!important;
	margin-left: 0!important;
}
.mRight15, #mRight15 {
	margin-left: 15px!important;
	margin-right: 0!important;
}
.mRight16, #mRight16 {
	margin-left: 16px!important;
	margin-right: 0!important;
}
.mRight17, #mRight17 {
	margin-left: 17px!important;
	margin-right: 0!important;
}
.mRight20, #mRight20 {
	margin-left: 20px!important;
	margin-right: 0!important;
}
.mRight5, #mRight5 {
	margin-left: 5px!important;
	margin-right: 0!important;
}
.mr10 {
	margin-left: 10px!important;
	margin-right: 0!important;
}
/* padding */
.pLeft5, #pLeft5 {
	padding-right: 5px!important;
	padding-left: 0!important;
}
.pLeft7, #pLeft7 {
	padding-right: 7px!important;
	padding-left: 0!important;
}
.pLeft20, #pLeft20 {
	padding-right: 20px!important;
	padding-left: 0!important;
}
.pRight20, #pRight20 {
	padding-left: 20px!important;
	padding-right: 0!important;
}
.leftcontents, .leftMainBox {
	float: right!important
}
.right_contents, .rightMainBox {
	float: left!important
}
#wpg_login_form input[type='checkbox'], #wpg_checkout input[type='checkbox'], #wpg_deal_submission input[type='checkbox'], #wpg_merchant_register input[type='checkbox'], #wpg_account_edit input[type='checkbox'] {
	margin-right: 0!important;
	margin-left: 5px!important;
}
.odd .error {
	margin-left: 0!important;
	margin-right: 10px!important;
}
/* Header */
#category-menu .menu{direction:rtl!important}
#category-menu .menu li{background-image:none!important}
#category-menu .menu li:hover ul.sub-menu {
display: block!important;
right: 193px!important;
margin-top: -26px!important;
left:auto!important;
}

.headerInfo, .headerGoldInfo {
	float: left!important;
}
.v7buidFocus {
	left: 0!important;
}
.searchBoxTop {
	left: 0!important;
	right: auto!important;
}
.headerFloat {
	right: 0!important
}
.headerCity {
	right: 225px!important;
	left: auto!important;
}
.main-boxcont {
	float: left!important;
}
#header-menu ul li { float: right!important; }
#header-menu ul li ul.sub-menu {
	right: 0!important
}
.oneBoder {
	background: url(images/header/separator2.png) no-repeat left center!important
}
.searchBox .inputSearch {
	text-align: right!important;
	float: right!important;
}
.searchBox .searchBoxRight {
	padding: 3px 10px 0 0!important
}
.searchBox .searchBoxLeft {
	background: url(images/header/search_left_rtl.png) no-repeat right 0!important
}
.searchBox .btnsearch {
	background: url(images/header/search_right_rtl.png) no-repeat 0 0!important;
	float: left!important;
	margin: -3px 0 0 -10px!important
}
.regMailButton {
	background: url(images/header/icon_add.png) left center no-repeat!important;
	padding: 0 0 0 15px!important
}
.bt_send_email, .bt_send_email:hover{
	float: right!important
}
#formRegMail .regContent .text {
	background: url('images/header/iconSubcribe.png') no-repeat right 0!important;
	padding-right: 55px!important;
	padding-left: 0!important;
	margin-right: 90px!important;
	margin-left: 0!important;
	text-align: right!important
}
.bt_hide_email {
	left: 0!important;
	right: auto!important
}
.bgSubscribeEmail input, .bgSubscribeEmail select {
	direction: rtl!important
}
.bgSubscribeEmail option {
	padding-right: 5px!important;
}
.bgSubscribeEmail {
	margin-left: 0!important;
	margin-right: 10px!important;
}
.topCat .title h1, .topCat .title div {
	background: url(images/header/icon_arrow2.png) no-repeat 15px center!important;
	text-align: right!important;
	padding: 0 15px 0 0!important
}
.categoryDeals2 li {
	text-align: right!important;
	background: transparent url(images/boxmenu/bg-li-alldear_rtl.png) left center no-repeat!important
}
.categoryDeals2 li:hover, .categoryDeals2 li.active {
	background: #ebf4f8 url(images/boxmenu/bg-li-V6Active_rtl.png) left center no-repeat!important;
}
.headerCity .title {
	background: url(images/header/icon_maker.png) no-repeat right center!important;
	padding: 0 10px 0 25px!important
}
.headerCity .currentBg {
	background: url(images/header/arrow.png) no-repeat left center!important;
	padding: 0 35px 0 25px!important
}
.headerCity .title:hover {
	background: url(images/background/bg-adr.png) no-repeat right center!important;
}
.headerCity ul.locations-ul {
	text-align: right!important
}
.headerCity ul.locations-ul li {
	border-bottom: 1px solid #eaeaea!important
}
.headerCity a {
	background: url(images/header/arrow_active_rtl.png) no-repeat right -72px!important;
	padding: 0 25px 0 10px!important;
	text-align: right!important;
	margin-right: 15px!important;
	border-bottom: none!important;
}
.headerCity a:hover {
	background-position: right -15px!important;
	text-decoration: none!important
}
.cusMenu a span {
	text-align: right!important;
	padding: 0 30px 0 0!important
}
.cusMenu a span.icGold {
	background-position: right -56px!important
}
.cusMenu a:hover span.icGold {
	background-position: right -84px!important
}
.cusMenu a span.icVi {
	background-position: right -112px!important
}
.cusMenu a:hover span.icVi {
	background-position: right -140px!important
}
.cusMenu a span.icShop {
	background-position: right -168px!important
}
.cusMenu a:hover span.icShop {
	background-position: right -196px!important
}
.cusMenu a span.icProduct {
	background-position: right -224px!important
}
.cusMenu a:hover span.icProduct {
	background-position: right -252px!important
}
.cusMenu a span.icAccount {
	background-position: right -336px!important
}
.cusMenu a:hover span.icAccount {
	background-position: right -364px!important
}
.cusMenu a span.icOut {
	background-position: right -392px!important
}
.cusMenu a:hover span.icOut {
	background-position: right -420px!important
}
.cusMenu a span.icAddDeal {
	background-position: 0 0!important
}
.cusMenu a:hover span.icAddDeal {
	background-position: right -28px!important
}
.cusMenu a span.icInfo {
	background-position: right -56px!important
}
.cusMenu a:hover span.icInfo {
	background-position: right -84px!important
}
.cusMenu a span.icAddpro {
	background-position: right -112px!important
}
.cusMenu a:hover span.icAddpro {
	background-position: right -140px!important
}
.cusMenu a span.icCoupon {
	background-position: right -224px!important
}
.cusMenu a:hover span.icCoupon {
	background-position: right -252px!important
}
.cusMenu a span.icCSKH {
	background-position: right -280px!important
}
.cusMenu a:hover span.icCSKH {
	background-position: right -308px!important
}
.cusMenu a span.icReport {
	background-position: right -336px!important
}
.cusMenu a:hover span.icReport {
	background-position: right -364px!important
}
.cusMenu a span.icWP, .cusMenu a:hover span.icWP {
	background: url("images/icon/wp.png") no-repeat scroll right 5px transparent!important
}
/* Main - Home page*/
.contents {
	text-align: right!important
}
.box-suport {
	text-align: right!important
}
.mainimg {
	float: right!important
}
.right-contdear {
	float: left!important;
	border-right: 1px solid #e0e0e0!important;
	border-left: none!important;
}
.v6TitleCate {
	float: right!important
}
.v6TitleCate .link {
	padding: 10px 10px 0 0!important
}
.v6Fb {
	padding: 10px 0 10px 10px!important
}

.v6Buyersnew {
	background: url(images/icon/icon_deal.png) no-repeat right 0px!important;
}
.v6RealPrice, .v6Buyer, .v6Timer, .v6Buyerdetail, .v6Buyersnew, .v6adr {
	/*padding-right: 45px!important;*/
	padding-left: 0!important;
}
.v6Timer {
	background: url(images/icon/icon_clock.png) no-repeat right 8px!important
}
#progress_bar {
	direction: rtl!important;
}
.v6BorderBot {
	margin-left: -3px!important;
	margin-right: 0!important;
	padding-right: 20px!important;
	text-align: left!important;
}
.shopBuy, .shoppromotion {
	float: right!important;
	border-left: 1px solid #d9d9d9!important;
	border-right: none!important;
}
.v6BuyNow, .v6BuyNowMulti {
	margin: 10px 0 0 30px!important
}
.v6BuyNow .retinaiconbox .retinaicon-shopping-cart {
	float: right!important;
	direction: rtl!important;
	margin-left: -20px!important;
	margin-right: 25px!important;
}
.v6BuyNow span.buynow_text {
	margin-left: -20px!important;
	font-weight: bold!important;
	padding-right: 12px!important;
	border-right: 1px solid #FFF!important;
	border-left: none!important;
}
.v7price_promotionsmall {
	margin-left: 0!important
}
.title-maindear .v6TitleShort, .v6ItemTitle {
	text-align: right!important
}
.v6ItemPrice {
	padding: 5px 10px 5px 10px!important
}
.blog-post-thumb {
	float: right!important;
	margin: 0 0 10px 10px!important;
}
.blog-post-content {
	text-align: right!important
}
.image_map {
	float: left!important
}
.title_adr {
	float: right!important
}
.bg_adrviewa {
	background: url(images/header/icon_maker.png) no-repeat right 0!important
}
.bg_adrview, .bg_adrviewa {
	padding-left: 0!important;
	padding-right: 40px!important
}
.bg_adrviewa:hover {
	background: url(images/background/bg-adr.png) no-repeat right -3px!important
}
#respond textarea {
	direction: rtl!important
}
.form-submit {
	float: right!important
}
.reply_link {
	float: left!important;
	margin-right: auto!important;
	margin-left: 10px!important;
}
/* Account page */
#dashboard_container {
	text-align: right!important
}
.left-box-acc {
	float: right!important;
	margin-left: 10px!important;
	margin-right: auto!important
}
.viewdetailOrder, .viewdetailOrder:hover {
	float: right!important
}
.borderImg {
	float: right!important;
	margin-right: auto!important;
	margin-left: 5px!important;
}
.onlineMerchant {
	margin: 8px 60px 0 0!important
}
.newicon2 {
	background: url(images/icon/ico-contact_rtl.png) right 13px no-repeat!important;
	padding-right: 13px!important;
	padding-left: 0!important;
}
/*.listingOrder .bRight {
border-left: 1px solid #e2e2e2!important;
border-right:none!important;
}*/
.aleft {
	text-align: right!important
}
.menuFilters li.first {
	border-right: none!important
}
.report-back {
	float: left!important;
	background: url('images/icon/go_previous_rtl.png') 0 0 no-repeat!important
}
.profileContainer {
	text-align: right!important
}
#wpg_login_form textarea, #wpg_checkout textarea, #claim_voucher textarea, #wpg_deal_submission textarea, #wpg_merchant_register textarea, #wpg_account_edit textarea {
	width: 282px!important
}
.cenbreakcumb {
	text-align: right!important
}
.merchant-back {
	float: left!important
}
.merchant-post {
	float: right!important
}
.v7PromotionBig, .v7PromotionBigSold, .v7PromotionSmall, .titledeals2 {
	text-align: right!important
}
.v7price_promotion, .v7price_promotionsmall {
	margin: 0!important
}
/* widget */
#wp-calendar caption {
	text-align: center!important;
}
.right_contents .contents, #share_link, .advantagesconditions, .advantagesconditionsright {
	text-align: right!important
}
.advantagesconditions {
	padding-right: 0!important;
	padding-left: 20px
}
.soldImgqc {
	float: right!important;
	margin-right: 0!important;
	margin-left: 15px!important;
}
.box_discountsale {
	right: 65px!important;
	width: 35px!important;
    height: 35px!important;
}
.scrollup {
	left: 10px!important;
	right: auto!important
}
.rightMainBox {
	text-align: right!important
}
.helpPayBox .icon {
	padding-left: 0!important;
	padding-right: 30px!important
}
.ShopCart .icon {
	background: url(images/icon/shopping_cart_blue.png) right 9px no-repeat!important
}
.EditAcc .icon {
	background: url(images/icon/edit_user.png) right 9px no-repeat!important
}
.voucher_ico .icon {
	background: url(images/icon/voucher.png) right 9px no-repeat!important
}
.biz_ico .icon {
	background: url(images/icon/business.png) right 11px no-repeat!important
}
.adddeal .icon {
	background: url(images/icon/adddeal.png) right 9px no-repeat!important
}
.chart .icon {
	background: url(images/icon/chart.png) right 4px no-repeat!important
}
.salerpt .icon {
	background: url(images/icon/gold.png) right 9px no-repeat!important
}
.wpad .icon {
	background: url(images/icon/wp.png) right 9px no-repeat!important
}
.users .icon {
	background: url(images/icon/users.png) right 9px no-repeat!important
}
/* Shortcode */
.accordion .accordion-title a {
	background: url(images/shortcodes/accordion-open_rtl.png) no-repeat left center!important
}
.accordion .accordion-title.active a {
	color: #333333 !important;
	background: url(images/shortcodes/accordion-close_rtl.png) no-repeat left center!important;
}
.alert-message span.close {
	left: 0!important;
	right: auto!important
}
.dropcap {
	float: right!important;
	margin: 6px 0 0 8px!important
}
.iconbox [class^="iconbox-"], .iconbox [class*=" iconbox-"] {
	float: right!important;
	margin: 0px 0px 0 15px!important;
}
.shopnewIconHeader .retinaiconbox [class^="retinaicon-"], .retinaiconbox [class*=" retinaicon-"] {
	float: left!important;
	margin: 2px 0px 0 5px!important
}
.shopnewIconHeader .retinaiconbox span.item {
	margin: -2px 0 0 -5px!important;
}
.member {
	float: right!important
}
.pricing-table.col-2 .plan, .pricing-table.col-3 .plan, .pricing-table.col-4 .plan, .pricing-table.col-5 .plan {
	float: right!important
}
.sc_container .column, .sc_container .columns {
	float: right!important
}
.sc-deal-item .sc-deal-title {
	text-align: right!important
}
.latest-blog .blog-item {
	text-align: right!important
}
.latest-blog-list .blog-list-item-date {
	float: right!important;
}
.latest-blog-list {
	float: right!important
}
.latest-blog-list .blog-list-item-description {
	margin-left: 0!important;
	margin-right: 70px!important
}
.social-icon {
	float: right!important
}
.social-icon a {
	text-indent: 100%!important;
	white-space: nowrap!important;
	overflow: hidden!important;
}
.tab {
	float: right!important;
	margin-left: -1px!important;
	margin-right: 0px!important;
}
.tab .last {
	background: #ccc!important;
}
.toggle .toggle-title span {
	float: left!important;
	background: url(images/shortcodes/accordion-open_rtl.png) no-repeat left center!important;
}
.toggle .toggle-title.active span {
	background: url(images/shortcodes/accordion-close_rtl.png) no-repeat left center!important;
}
.toggle .toggle-title {
	padding: 10px 15px 10px 0!important;
}
.toggle .toggle-title i {
	margin: -2px 0 0 8px!important;
	float: right!important;
}
[class^="icon-"], [class*=" icon-"] {
	float: right!important;
}
ul.styled-list li i {
	margin-right: 0!important;
	margin-left: 6px!important;
}
.testimonial:after {
	left: auto!important;
	right: 30px!important;
}
.testimonial-author {
	margin: 2px 56px 20px 0!important
}
.ui-timepicker-div, .ui-datepicker-buttonpane {
	direction: rtl!important;
}
.ui-datepicker table {
	direction: rtl!important;
}
.ca-more, .ca-more-2 {
	float: left!important
}
.ca-item a.deal_title, .ca-content-wrapper {
	text-align: right!important
}
.ca-close {
	right: auto!important;
	left: 30px!important
}
.ca-column2 {
	float: left!important;
	margin: 15px 5px 10px 25px!important
}
.ca-column {
	float: right!important;
	margin: 15px 35px 10px 5px!important
}
.v6Timer .v6DisplayTime {
	direction: rtl!important
}
.v6ItemHomeHoverTextD .pageView {
	margin-right:0px!important;
	margin-left:10px!important;
}

.centerFooters { text-align: right!important; }
/*.boxcategory, .boxdetailAdvan { margin: 10px 0 10px 25px!important; }*/

.boxPrices_view{
	background-image: url(images/background/bg_price_rtl.png)!important;
    background-position: -18px -134px!important;
	left:auto!important;
}

/* RESPONSIVE VERSION */
@media only screen and (max-width: 767px) {
#formRegMail .regContent .text {
	display: none!important
}
.image_map {
	float: right!important;
}
.right-contdear {
	left: 0!important;
	right: auto!important
}
.v7price_promotion, .v7price_promotionsmall {
	right: 0!important
}
.right-contdear .shopinfo, .v6BorderBot {
	right: auto!important;
	left: 0px!important
}
.v6Timer {
	background: #F3F3F3!important
}
.v6BottomPrice {
	font-size: 9px!important;
	/*position: absolute!important;*/
	top: -95px!important;
	z-index: 3!important;
	margin-left: 12px!important;
}
/*.v6Buyersnew {
	background: none!important;
	color: #FFF!important
}*/
.v6Buyersnew b {
	font-size: 12px!important
}
.regMailButton {
	position: absolute!important;
	right: 10px!important
}
#header-menu {
	float: left!important
}
.bt_send_email:hover {
	float: right!important
}
.mainBlueBoxNew {
	font-size: 9px!important
}
.listingOrder .bRight {
	padding: 5px!important
}
.sidr.left {
	direction: rtl!important
}
.sidr ul li ul li a, .sidr ul li ul li span {
	padding-left: 0!important;
	padding-right: 30px!important
}
.sidr input[type="button"], .sidr input[type="submit"] {
	float: left!important
}
.headerTop .headerInfo, .headerGoldInfo, .right-contdear {
	float: left!important
}
#wpg_addcart{
	margin-left:100px!important;
}
#wpg_addcart .price_label{
	left:10px!important;
}
#wpg_addcart .bt_addtocart {
	float:left!important;
	left:10px!important;
	right:auto!important;	
}
}
