@import url("default.css");
@import url("shortcodes.css");
@import url("retina.css");
@import url("bootstrap.css");
@import url("ui.totop.css");
.freedeal{font-size:30px!important;}
body{/*color:#404040*/;font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:0;padding:0;background-color:#e7e7e7}
.main{margin:0 auto;width:980px}
.v6Main{margin:0 auto;width:980px;position:relative;z-index:1;}
.wrap{background-color:transparent;}
.block-content{background:transparent;margin:13px 0 2px 0}
.clear{display:block;overflow:hidden;clear:both;height:0px}
.twocol{width:35%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;}
label.error{padding:0 5px}
a{/*color:#00a0dc;*/text-decoration:none;outline-style:none}
a:hover{color:#00a0dc;text-decoration:underline}
a:focus{color:#00a0dc;text-decoration:none}
a:active{background-color:transparent;}
a.link_block{width:100%;height:100%;display:block}
img{border:none;margin:0;padding:0}
p{margin:10px 0}
ul, li, ol{margin:0;padding:0}
ul li{}
.rightMainBox ul li, .right_contents .main-boxcontFull .contents ul li{list-style:none}
.main-boxcontFull ul, .sWrapper ul{margin-left:10px;}
.main-boxcontFull ol, .sWrapper ol{margin-left:15px;}
.width256{width:258px}
.width283{width:281px}
.clearfix{display:block;width:100%;}
.clearfix:after{clear:both;display:block;height:0;visibility:hidden}
.aleft{text-align:left}
.alignleft{display:inline;float:left;margin-right:1.625em;}
.alignright{display:inline;float:right;margin-left:1.625em;}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
.wp-caption{margin-top:0.4em;}
.wp-caption{margin-bottom:1.625em;max-width:96%;padding:9px;text-align:center;}
.wp-caption img{display:block;margin:0 auto;max-width:98%;}
.wp-caption .wp-caption-text,
.gallery-caption{color:#666;font-size:12px;}
.wp-caption .wp-caption-text{margin-bottom:0.6em;position:relative;}
pre{background:#eeeeee;border:1px solid #ddd;padding:5px;overflow:scroll;}
.lh2{line-height:2em;}
.zi10{z-index:10;}
.w117{width:117px;display:inline-block;}
.wauto{width:auto!important;}
.w23e{width:2.3em;}
.w5e{width:5em;}
.w45{width:45px;}
.w49{width:49px!important;}
.w88{width:88px!important;}
.hauto{height:auto;}
.h20{height:20px;}
.h30{height:30px;}
.h48{height: auto!important;}
.h70{height:70px;}
.h88{height:88px!important;}
.tw_btn{width:80px;margin:0 10px;}
/*.c0575b3{color:#0575b3;}*/
.c555{color:#333;}
.border_1_ddd{border:1px solid #DDD;}
.border_bt_none{border-bottom:none;}
.border_t_none{border-top:none;}
.border_r_none{border-right:none;}
.border_l_none{border-left:none;}
.dsp_none{display:none;}
.dsp_block{display:block;}
.dsp_inh{display:inherit}
.ovhide{overflow:hidden;}
.ovauto{overflow:auto;}
.txt_trs_none{text-transform:none;}
.cs_df{cursor:default;}
.txt_l{text-align:left;}
.txt_r{text-align:right;}
.txt_c{text-align:center;}
.zone_c{width:100%;margin:0 auto;}
#sidr-main{display:none;}
ul.locations-ul li, #copyright ul li{list-style-type:none;}
.header{height:110px;width:auto;background-color:transparent;}
/*.headerBarMenu{background: url('images/bg-menu.jpg') repeat-x 0 0;}*/
.headerBg{height:109px;/*background-color:#0072b0;*/}
.headerWidth{background: url('images/header/header_bg_sm.png') repeat-x 0 0;}
.headerLogo{height:61px;width:208px;background-position:0 center}
#notification{display:none;position:fixed;width:100%;background:#fff7cb;text-align:center;z-index:9999;}
#notification p{margin:0;}
#notification .info{padding:3px 0;}
.scrollup{width:46px;height:46px;opacity:0.3;position:fixed;bottom:10px;right:10px;display:none;text-indent:-9999px;background:url(images/icon/gotop.gif) no-repeat;}
#formRegMail{background-color:#FFF7CB;height:43px;box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.3)}
#formRegMail .regContent{width:982px;border-top:none;height:40px;margin:0 auto;background-color:#fff7cb;position:relative;}
#formRegMail .regContent .text{background:url('images/header/iconSubcribe.png') no-repeat 0 0;height:40px;line-height:40px;padding-left:55px;margin-left:90px;font-size:16px;color:#000}
#formRegMail .regContent .leftBorderReg, #formRegMail .regContent .rightBorderReg{width:5px;height:5px;overflow:hidden;background:url('images/header/borderRegMail.png') no-repeat top left;bottom:-1px;left:-1px;position:absolute}
#formRegMail .regContent .rightBorderReg{background-position:top right;right:-1px;left:auto}
.bgSubscribeEmail{margin-left:10px;margin-top:8px}
.bgSubscribeEmail input{color:#a0a0a0;font-size:12px;font-family:arial;background:#fff;border:none;width:218px;padding:3px 5px;height:29px;line-height:20px;margin:0;border:1px solid #c8c8c8;border-radius:3px;-moz-border-radius:3px}
.bgSubscribeEmail select{color:#a0a0a0;font-size:12px;font-family:arial;background:#fff;border:none;padding:3px 5px;height:29px;line-height:20px;margin:0;border:1px solid #c8c8c8;border-radius:3px;-moz-border-radius:3px}
.bt_send_email{background:url("images/button/button-overlay.png") repeat-x scroll 0 0 #61aeda;border-bottom:1px solid rgba(0, 0, 0, 0.25);border-radius:5px 5px 5px 5px;border-style:none none solid;box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);color:#FFFFFF;cursor:pointer;padding:5px 10px;position:relative;text-decoration:none;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);height:28px;width:89px;margin:8px 8px 0 10px;float:left;font-size:12px;}
.bt_send_email:hover{float:left;width:89px;height:28px;background:url('images/button/button-overlay.png') repeat-x scroll 0 0 #71bae4}
.bt_hide_email{position:absolute;top:5px;right:5px;color:#b0b0b0;font-weight:bold;font-size:11px}
.bt_hide_email:hover{color:#02639d}
#mobile-header, #txtmainmenu, #txtcatmenu, #txtcitymenu, #txtsearchmenu, #txtaccmenu{display:none;}
.headerTabMenu, #header-menu{margin:0 0 0 10px;position:relative;z-index:5}
#header-menu ul{list-style-type:none;}
#header-menu ul li{display:inline;float:left;position:relative;}
#header-menu ul li ul.sub-menu{display:none;position:absolute;top:61px;}
#header-menu ul li ul.sub-menu li{float:none;display:block;}
#header-menu ul.menu li ul.sub-menu li.current_page_item a, #header-menu ul.menu li.current-menu-parent ul li a{display:block;width:140px;font-size:12px;height:30px;line-height:30px;padding:0 0 0 10px;border-top:1px solid;border-top-color:#0170b5;background:none;}
#header-menu ul li ul.sub-menu li a, #header-menu ul.menu li.current_page_item ul.sub-menu li a{display:block;width:140px;font-size:12px;height:30px;line-height:30px;padding:0 0 0 10px;border-top:1px solid;border-top-color:#0170b5;/*background:none;*/}
#header-menu ul.menu li ul.sub-menu li.current_page_item a:hover{background-color:rgba(255, 255, 255, 0.1);}
#header-menu ul li ul.sub-menu li a:hover, #header-menu ul.menu li.current_page_item ul.sub-menu li a:hover{/*background-color:rgba(255, 255, 255, 0.1);*/}

#header-menu ul>li:hover>ul.sub-menu{background:#0068a8;display:block;width:150px;}
#header-menu ul>li:hover>ul.sub-menu li{position:relative;}
#header-menu ul>li:hover> #header-menu>ul.sub-menu>li>a{background-image:url(images/spriteme2.png);background-repeat: repeat-x;background-position: 0px -142px;color:#fff;text-decoration:none;position:}
#header-menu ul li a{display:block;float:left;font-size:18px;height:61px;line-height:61px;padding:0 10px 0 10px;/*color:#fff;*/}
#header-menu ul li a:hover{background-image:url(images/spriteme2.png);background-repeat: repeat-x;background-position: 0px -142px;color:#fff;text-decoration:none;}
#header-menu ul.menu li.current_page_item a, #header-menu ul.menu li.current-menu-parent a{background-image:url(images/spriteme2.png);background-repeat: repeat-x;background-position: 0px -142px;}
.headerInfo, .headerGoldInfo{float:right;margin:15px 0 0;color:#fff;cursor:pointer;position:relative;z-index:8}
.headerInfo .bgall{/*background-color:#0072b0;*/background-image:url(images/spriteme2.png);background-repeat: repeat-x;background-position: 0px -276px;display:inline-block;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;cursor:pointer}
.headerInfo .content{background-position:right -62px}
.headerInfo .content a{color:#FFF}
.headerInfo .content a.fwhite{/*color:#FFF;*/}
.headerInfo a.btProfile, .headerInfo .btProfile, .headerGoldInfo .btProfile{display:inline-block;height:26px;line-height:29px;text-decoration:none;padding:0 6px}
.headerInfo .anchor{background:url(images/header/arrow_down.png) no-repeat center center;width:23px;height:30px;float:right}
.headerGoldInfo .btProfile{font-size:11px;color:#D6D26E}
.regBut{background:url(images/header/overlay.png) repeat-x;background-color:rgba(255, 255, 255, 0.3);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.regBut .bleft{background-position:0 -93px}
.regBut .bgall{background-position:0 -124px}
.regBut .content{background-position:right -155px;padding:0 20px}
.sellBut .bleft{background-position:0 -186px}
.sellBut .bgall{background-position:0 -217px}
.sellBut .content{background-position:right -248px}
.headerInfoHover .bleft{background-position:0 -384px}
.headerInfoHover .bgall{background-position:0 -415px}
.headerInfoHover .content{background-position:right -446px}
.headerInfoHover .content a, .headerInfoHover2 .content a{text-decoration:none}
.headerInfoHover2 .bleft{background-position:0 -477px}
.headerInfoHover2 .bgall{background-position:0 -508px}
.headerInfoHover2 .content{background-position:right -539px}
.headerInfoActive{position:relative;z-index:5}
.headerInfoActive .bleft{background-position:0 -279px}
.headerInfoActive .bgall{background-position:0 -314px;position:absolute;right:0;z-index:999}
.headerInfoActive .content{background-position:right -349px}
.headerInfoActive a, .headerInfoActive .content a{color:#000}
.headerInfoActive a.btProfile, .headerInfoActive .btProfile{color:#000;text-decoration:none}
.shopnewIconHeader{margin:17px 0 0 5px;z-index:8;position:relative}
.shopnewIconHeader .retinaiconbox [class^="retinaicon-"], .retinaiconbox [class*=" retinaicon-"]{margin:2px 5px 0 0;}
.shopnewIconHeader .retinaiconbox{}
.shopnewIconHeader .retinaiconbox .retinaicon-circ{border-radius:50%;width:25px;height:25px;font-size:20px;text-align:center;line-height:25px;/*color:#abc8d7;background-color:#006198;*/font-size:16px;}
.shopnewIconHeader .retinaiconbox span.item{margin:-2px 0 0 -12px!important;}
.shopHeaderLike, .shopHeaderLike:hover, .shopHeaderOrder, .shopHeaderOrder:hover, .shopHeaderCart, .shopHeaderCart:hover{background:url("images/icon/iconLikeCartOrder.png") no-repeat left top;width:25px;height:25px;margin:0;display:block;float:left;}
.shopHeaderCart, .shopHeaderCart:hover{background-position:0 -54px}
.shopHeaderFB{background:url("images/icon/Facebook.png") no-repeat left top;width:25px;height:24px;margin:0;display:block;float:left;}
.shopHeaderOrder, .shopHeaderOrder:hover{background-position:0 -27px}
.shopfixNotBuy{height:145px;padding-top:30px}
.headerInfo .content a{text-decoration:none}
.shopGold{color:#D6D26E;font-size:11px;padding-left:10px;float:left}
.shopnewIconHeader .v7unOrderheader span, .shopnewIconHeader .v7likeheader span, .shopnewIconHeader .fblogin span{margin:-5px 0 0 18px}
.v7unOrderheader span, .v7likeheader span, .shopnewIconHeader .retinaiconbox span.item{background-color:#EB4823;border-radius:2px;-moz-border-radius:2px;line-height:11px;text-align:center;margin:-10px 0 0 12px;display:inline-block;padding:1px 3px;font-size:10px;color:#fff}
.v7likeheader, .v7unOrderheader, .v7unOrderheader:hover, .v7likeheaderActive{width:25px;height:25px;float:left;margin:0;display:block}
.v7unOrderheader, .v7unOrderheader:hover{background-position:0 -50px;margin:6px 10px 0 2px;height:17px}
.v7linkbtn{line-height:31px;padding:0 5px}
.headerTop{width:980px;margin:0 auto;}
.headerBottom{position:relative;z-index:4;margin:0 auto;/*background-color:#FFF;*/border-bottom: 1px solid #CCC;height:48px;}
.headerBottomW{width: 980px; margin: 0 auto; position: relative;/*background: #fff;*/}
.headerFloat{position:absolute;z-index:99;}
.oneBoder{background:url(images/spriteme3.png) no-repeat 196px -97px !important;box-shadow:0 0 0 0!important;-moz-box-shadow:0 0 0 0!important;-webkit-box-shadow:0 0 0 0!important;}
.topCat{background:#fff;width:208px;height:auto;font-family:arial;color:#000;font-weight:normal;font-size:12px;box-shadow:0 0 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);line-height:33px;}
.topCatHover{border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px}
.topCat div{padding:0}
.topCat .title h1, .topCat .title div{height:48px;line-height:48px;background-image:url(images/spriteme1.png);background-position: 175px -298px;font-size:16px;padding:0 0 0 15px;width:100%;font-weight:bold;cursor:pointer}
.topCat .content{width:208px;display:none}
.topCatHover .content{display:block}
.weekly .detailAds{z-index:9999;left:auto;margin:5px 0 0;padding:5px;height:auto;background:#fff;text-align:left;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:none;-webkit-box-shadow:2px rgb(0,0,0);border-radius:2px}
.weekly .baylenem .detailAds{margin:215px 0 0 765px}
.v7Conview .detailAds{top:75px;left:12px}
.weekly .detailAds .categoryDeals2 li:hover{margin:0;border-top:none}
.weekly .detailAds .categoryDeals2 li{margin:0}
.weekly .detailAds .categoryDeals2 li.last{border-bottom-color:#fff}
.weekly .detailAds a{font-weight:normal}
.home_ver7{width:100%}
.home_ver7 .main-width{width:980px;margin:0 auto}
.weekly .homecate_c{padding:10px 0 30px;width:980px;margin:0 auto;position:relative}
.weekly2{background:#f3f3f3;border-top:1px solid #dedede;border-bottom:1px solid #dedede}
.categoryDeals2 li{display:block;margin-right:15px;border-bottom:#f3f3f3 solid 1px;background-image: url(images/spriteme1.png);background-position: 158px -346px;padding:2px 0 3px;margin-left:15px;font-size:12px;line-height:25px}
.categoryDeals2 span{font-size:12px}
.categoryDeals2 li.active span{font-weight:bold}
.categoryDeals2 li a{color:#000000;display:block;padding:0 10px 0 7px;line-height:23px}
.categoryDeals2 li a:hover, .blockGoldBG .rightGold .title a:hover{text-decoration:none}
.categoryDeals2 li:hover, .categoryDeals2 li.active{background:#ebf4f8 url(images/boxmenu/bg-li-V6Active.png) right center no-repeat;border-bottom:1px solid #e3ecf0;border-top:1px solid #e3ecf0;margin-top:-1px}
.headerCity{position:absolute;z-index:99;top:0;left:225px;color:#303030;/*background:#fff*/}
.headerCityOver{padding:0 0 4px;border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;box-shadow:0 0 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);}
.headerCity .title{background:url(images/spriteme1.png) no-repeat 2px -375px;height:48px;line-height:48px;padding:0 10px 0 40px;font-size:16px;font-weight:bold;cursor:pointer}
.headerCity .title:hover{background:url(images/background/bg-adr.png) no-repeat 12px center}
.headerCity .currentBg{background: url(images/header/arrow.png) no-repeat right center;padding:0 25px 0 0}
.headerCity .content{background:#fff}
.headerCity a{display:block;border-bottom:1px solid #eaeaea;font-size:12px;color:#000;height:30px;line-height:30px;padding:0 10px 0 40px;background:url(images/header/arrow_active.png) no-repeat 15px -72px}
.headerCity a:hover{background-position:15px -15px;text-decoration:none}
.regMailButton{float:left;display:block;color:#313131;padding:0 15px;height:48px;line-height:48px;background-image:url(images/spriteme1.png);background-position: 120px -471px;margin-left:400px;}
.searchBoxTop{position:absolute;right:0;top:8px;}
.searchBox{background-image:url(images/spriteme2.png);background-repeat: repeat-x;background-position: 0px -223px;width:280px;height:33px;border-radius:0;-moz-border-radius:0;}
.searchBox .searchBoxLeft{background-image:url(images/spriteme1.png);background-position: -10px -529px;padding:0 0 0 10px;height:33px}
.searchBox .searchBoxRight{padding:3px 30px 0 0;height:30px}
.searchBox .inputSearch{border:0;height:25px;margin:0;padding:0;width:235px;border-radius:0;-moz-border-radius:0;font-size:13px;color:#777;}
.searchBox .btnsearch{color:#FFFFFF;cursor:pointer;float:right;margin:-3px -30px 0 0;border:0;width:30px;height:33px;background:url(images/spriteme1.png) no-repeat -10px -10px;}
#account-menu ul li{list-style-type:none;}
.v7arrowMT{position:absolute;background:url(images/boxmenu/arrowMT.png) 0 0 no-repeat;width:20px;height:10px;z-index:10;top:30px;}
.v7buidFocus{position:absolute;background:#fff;border:1px solid #ccc;padding:10px 0 4px;width:185px;display:block;top:39px;right:0;border-radius:3px;-moz-border-radius:3px;box-shadow:0 0 10px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);}
.v7buidFocus .cusMenu a span{color:#000 !important}
.cusMenu a{display:block;padding:0 10px;width:100%}
.cusMenu a:hover{background:#efefef;text-decoration:none}
.cusMenu a span{display:block;width:100%;padding:0 0 0 30px;height:28px;line-height:29px;border-bottom:1px solid #eff0f1;background:url(images/header/icon_menu.png) no-repeat 0 0}
.cusMenu a span.icInfo, .cusMenu a span.icAddpro, .cusMenu a span.icAddDeal, .cusMenu a span.icCoupon, .cusMenu a span.icReport, .cusMenu a span.icCSKH{background-image:url(images/icon/icon_menu.png)}
.cusMenu a span.icWP, .cusMenu a:hover span.icWP{background:url("images/spriteme3.png") no-repeat scroll -10px -53px transparent}
.cusMenu a:hover span{border-color:#eff0f1;background-position:0 -28px}
.cusMenu a span.icGold{background-position:0 -56px}
.cusMenu a:hover span.icGold{background-position:0 -84px}
.cusMenu a span.icVi{background-position:0 -112px}
.cusMenu a:hover span.icVi{background-position:0 -140px}
.cusMenu a span.icShop{background-position:0 -168px}
.cusMenu a:hover span.icShop{background-position:0 -196px}
.cusMenu a span.icProduct{background-position:0 -224px}
.cusMenu a:hover span.icProduct{background-position:0 -252px}
.cusMenu a span.icAccount{background-position:0 -336px}
.cusMenu a:hover span.icAccount{background-position:0 -364px}
.cusMenu a span.icOut{background-position:0 -392px}
.cusMenu a:hover span.icOut{background-position:0 -420px}
.cusMenu a span.icAddDeal{background-position:0 0}
.cusMenu a:hover span.icAddDeal{background-position:0 -28px}
.cusMenu a span.icInfo{background-position:0 -56px}
.cusMenu a:hover span.icInfo{background-position:0 -84px}
.cusMenu a span.icAddpro{background-position:0 -112px}
.cusMenu a:hover span.icAddpro{background-position:0 -140px}
.cusMenu a span.icCoupon{background-position:0 -224px}
.cusMenu a:hover span.icCoupon{background-position:0 -252px}
.cusMenu a span.icCSKH{background-position:0 -280px}
.cusMenu a:hover span.icCSKH{background-position:0 -308px}
.cusMenu a span.icReport{background-position:0 -336px}
.cusMenu a:hover span.icReport{background-position:0 -364px}
.cusMenu .line-dot{height:1px;border-top:1px dotted #000}
.keepshp{display:inherit;margin-top:-15px;}
.no_img{background:#efefef;vertical-align:middle;display:table-cell;}
.217{width:217px;height:217px;}
.290{width:290px;height:290px;}
.475{width:475px;height:475px;}
.no_img_sm{background:url('images/background/no_img_sm.png') no-repeat #efefef center center;width:100%;height:100%;}
.no_img_mn{background:url('images/spriteme3.png') no-repeat #efefef -7.5px 0px;width:100%;height:100%;}
.leftcontents{float:left;width:745px}
.right_contents{float:right;width:225px}
.contents{padding:1px 5px 10px 5px;text-align:justify}
.main_view{margin-bottom:11px;}
.boxBorderRad, .mainboxcontDetail, .main_view, .main-boxcont, .box-suport, .list-rands, .main_viewprofile, .goldContainer{border-radius:4px;-moz-border-radius:4px;background-color:#fff;border:1px solid #e6e6e6;border-top:none;border-bottom:1px solid #c6c6c6;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1)}
.cont-maindear{padding:3px;height:521px;}
.v6ItemHomeHoverTextD{padding:15px;}
.v6ItemHomeHoverTextD .pageView{margin-right:10px;}
.mainimg{float:left;width:475px;position:relative;cursor:pointer;}
.setDealWh{display:block;width:475px;height:475px;}
.v7price_promotion, .v7price_promotionsmall{font-size:24px;color:#fff;position:absolute;font-weight:bold;background-image:url(images/spriteme1.png);background-position: -10px -63px;width:65px;height:67px;text-align:center;margin:0 0 0 225px;padding-top:15px;z-index:1;}
.v7price_promotion span{font-size:18px}
.v7price_promotion span.deal-savings{font-size:25px;}
.v7price_promotionsmall{background:url(images/background/discountmin.png) 0 center no-repeat;font-size:18px;width:52px;height:52px;margin-left:165px;padding-top:0;line-height:2.5;z-index:2;}
.v7price_promotionsmall span{font-size:19px}
.cont-maindear{padding:3px;height:521px}
.right-contdear{float:right;width:258px;border-left:1px solid #e0e0e0;height:479px}
.title-maindear{color:#515151;font-size:12px;padding:10px 10px 5px}
.title-maindear .v6TitleShort{color:#666;font-size:14px;text-align:left;height:85px;overflow:hidden}
.title-maindear a{color:#303030}
.title-maindear .v6TitleShort a{font-size:20px;font-weight:bold}
.title-maindear .v6TitleShort a h2, .title-maindear .v6TitleShort h2, .title-maindear .v6TitleShort a h1, .title-maindear .v6TitleShort h1{font-size:18px;font-weight:bold;display:inline;color:#000}
.title-maindear a:hover{color:#F51100;text-decoration:none}
.pricebuys{font-weight:normal;color:#82b9d9}
.pricebuys span{text-decoration:line-through;font-weight:normal;color:#82b9d9;text-transform:none}
.pricebuys span.noline{text-decoration:none;font-weight:normal;color:#82b9d9;text-transform:none}
.v6Price span.normalprice{color:#82B9D9;text-decoration:line-through;font-size:12px;}
.pricebuys b{color:#82b9d9;font-weight:bold}
.boxPrices{height:133px;position:relative}
.boxPrices_view{height:133px;width:281px;position:absolute;background-image:url(images/spriteme1.png);background-position: -10px -155px;left:-20px;z-index:3}
.boxPricesPadding{padding:16px 20px}
.v7inlinetype{text-transform:uppercase;font-weight:bold;font-size:12px;color:#efe283}
.v6Price{color:#fff;font-size:34px;font-weight:bold;height:35px}
.v6Price span{color:#fff;font-size:21px;font-weight:normal}
.boxPricesPadding .v6Price{margin-right:25px;width:175px;text-align:center}
.v6BuyNow, .v6BuyNowMulti{margin:10px 0 0 44px}
.v6BuyNow a:hover{text-decoration:none;}
.retinaiconbox a:hover{text-decoration:none}
.v6BuyNow .retinaiconbox{font-size:24px;text-align:center;line-height:45px;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;width:220px;height:48px;color:#FFF;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);background-image:url('images/button/overlay_x.png');}
.v6BuyNow .retinaiconbox:hover{background-image:url('images/button/overlay.png');text-decoration:none;border:none;}
.buynow_btn{/*background-color:#629607;*/}
.soldout_btn{/*background-color:#525252;*/}
.v6BuyNow .retinaiconbox .retinaicon-shopping-cart{font-size:30px;line-height:41px;margin-left:30px;color: #fff;}
.v6BuyNow span.buynow_text{margin-left:-20px;font-weight:bold;padding-left:12px;border-left:1px solid #FFF;color: #fff}
.v6BottomPrice{font-size:13px;line-height:160%}
.v6RealPrice, .v6Buyer, .v6Timer, .v6Buyerdetail, .v6Buyersnew, .v6adr{background:url(images/icon/icon_deal2.png) no-repeat left center;border-bottom:1px solid #e9e9e9;padding:5px 10px 5px 45px;color:#000}
.v6RealPrice b{font-size:18px}
.v6Real{width:135px;border-right:1px solid #ccc;height:40px}
.v6Real b, .textDecoration{text-decoration:line-through}
.v6Percent{height:40px;text-align:center;width:145px}
.v6Buyersnew{background-image:url(images/spriteme1.png);background-position: -10px -577px;font-size:14px;font-weight:bold;padding-bottom:15px;border-bottom:none}
.v6Buyersnew b{font-size:17px;color:#72a60b}
.v6Buyerdetail{background:url(images/background/bgbuyers.png) no-repeat -2px 7px;padding:12px 0 22px 40px;margin-top:8px}
.v6Buyerdetail b{font-size:15px;color:#c93131}
.v6Realdetail{width:160px;border-right:1px solid #ccc}
.v6Percentdetail{text-align:left;padding-left:20px}
.v6Percentdetail b{font-size:18px;color:#000}
.v6Timer{background-image:url(images/spriteme1.png);background-position: -10px -631px;height:50px;padding:15px 10px 10px 45px;overflow:hidden;border-bottom:none}
.v6Timer .v6DisplayTime{font-size:14px;font-weight:bold}
.v6adr{border-bottom:none;height:42px;overflow:hidden;vertical-align:middle;display:table-cell;width:100%;font-size:12px;line-height:145%}
.v6Fb{padding:10px 10px 10px 0;overflow:hidden;width:280px;overflow:hidden}
.iconfunction{float:left;padding:8px 0 0 30px;line-height:24px;text-align:left}
.iconbuy, .iconlinke, .iconviewder{float:left;line-height:24px;height:24px;width:50px;overflow:hidden;color:#000000;font-size:14px;display:inline-block;padding-left:30px;background:url(images/boxmenu/start.png) left 0 no-repeat}
.iconlinke{background:url(images/boxmenu/hand.png) left 0 no-repeat;width:55px;padding-left:22px}
.iconviewder{background:url(images/boxmenu/view.png) left center no-repeat}
.viewcus{background-color:#ffffff;border-radius:4px;-moz-border-radius:0;padding-bottom:5px}
.viewHover{position:absolute;bottom:15px;left:20px;width:395px}
.shopinfo{height:55px;overflow:hidden;background-color:#f3f3f3;border-bottom:1px solid #d9d9d9}
.shopTitleInfo{text-transform:uppercase;font-size:11px;color:#545454;margin-top:10px}
.shopMoreInfo{font-size:17px;margin-top:2px}
.shopBuy, .shoppromotion, .shoptime{float:left;border-right:1px solid #d9d9d9;width:33%;height:100%;color:#333}
.shoptime{border-right:none;}
.v6BorderBot{border-bottom:1px solid #e0e0e0;margin-right:-3px;padding-left:20px;}
.v6Timer{background-image:url(images/spriteme1.png);background-position: -10px -631px;height:50px;padding:15px 10px 10px 45px;overflow:hidden;border-bottom:none}
.v6Timer .v6DisplayTime{font-size:14px;font-weight:bold}
.bottomTopDeal{height:42px;background-image:url('images/spriteme2.png');background-repeat: repeat-x;background-position: 0px 0px;border-top:1px solid #e0e0e0;}
.boxdetailAdvan{width:100%;margin-top:0;}
.boxcategory, .boxdetailAdvan{margin:10px 25px 10px 0;display:inline-table;text-align:center;}
.boximage_view{padding:12px 11px 7px;background-color:#ffffff;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;border-top:1px solid #dcdcdc;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0}
.bot_left_cate{background:url(images/background/bg-blpalaza.png) left top no-repeat;height:7px}
.bot_right_cate{background:url(images/background/bg-brpalaza.png) right top no-repeat;height:7px}
.bot_cen_cate, .bot_cen_view{width:97.5%;margin-left:7px;margin-right:7px;background:url(images/background/bg-bpalaza.png) top repeat-x;height:7px}
.bot_cen_view{width:98%}
.advantagesconditions{padding-right:20px}
.title_bold_blueGay{color:#000;}
.title_bold, .title_bold_blueGay{font-size:18px;font-weight:bold;color:#040404;}
.main-boxcontFull{margin:0 15px 1px 13px;}
.blog-post{width:100%;float:left;padding:10px 0;}
.merchant-post{width:70%;float:left;}
.merchant-widget{width:30%;float:left;}
.blog-post-thumb{float:left;margin:0 10px 10px 0;}
.blog-post-title a{font-size:14px;color:#00a0dc;}
.blog-post-sub{line-height:1.5}
.blog-post-content{text-align:justify;}
.merchant-post-content{text-align:justify;padding:0;line-height:1.5;}
.merchant-post-content p{margin:0;}
.merchant-back{float:right;height:32px;width:32px;background:url('images/icon/go_previous.png') 0 0 no-repeat;cursor:pointer;margin-top:18px;}
.report-back{float:right;height:32px;width:32px;background:url('images/icon/go_previous.png') 0 0 no-repeat;cursor:pointer;margin-top:0;}
.sTitle{width:100%;padding-bottom:5px;border-bottom:1px solid #EFEFEF;margin-bottom:15px;}
.sTitle h2{margin:0;}
.title_adr{width:270px;float:left;}
.image_map{float:right;width:430px;height:auto;margin-top:10px;overflow:hidden;}
.dash_bottom{border-bottom:1px solid #ededed;padding-bottom:8px;margin-bottom:10px;}
.bg_adrview, .bg_adrviewa{padding-left:35px;overflow:hidden;height:40px;}
.bg_adrviewa{background-image:url(images/spriteme1.png);background-position: -5px -385px;}
.bg_adrviewa:hover{background:url(images/background/bg-adr.png) no-repeat 5px -3px}
.comment-content{}
#comments{clear:both;}
#comments .navigation{padding:0 0 18px 0;}
h3#comments-title, h3#reply-title{font-size:20px;font-weight:bold;margin-bottom:0;}
h3#comments-title{padding:24px 0;}
h4#comments-title{padding:0;margin:5px 0 10px 0;}
.commentlist{list-style:none;margin:0 0 0 -40px;}
.commentlist li.comment{border-bottom:1px dashed #E4E4E4;line-height:24px;margin:0 0 24px 0;padding:0 0 0 65px;position:relative;}
.commentlist li:last-child{border-bottom:none;margin-bottom:0;}
#comments .comment-body ul, #comments .comment-body ol{margin-bottom:18px;}
#comments .comment-body p:last-child{margin-bottom:6px;}
#comments .comment-body blockquote p:last-child{margin-bottom:24px;}
.commentlist ol{list-style:decimal;}
.commentlist .avatar{position:absolute;top:0;left:0;}
.comment-author{}
.comment-author cite{color:#000;font-style:normal;font-weight:bold;}
.comment-author .says{font-style:italic;}
.comment-meta{font-size:12px;padding:5px;background:#ededed;}
.comment-meta a:link, .comment-meta a:visited{color:#888;text-decoration:none;}
.comment-meta a:active, .comment-meta a:hover{color:#ff4b33;}
.commentlist .even{}
.commentlist .bypostauthor{}
.reply{font-size:12px;padding:0 0 24px 0;}
.reply a, a.comment-edit-link{color:#888;}
.reply a:hover, a.comment-edit-link:hover{color:#ff4b33;}
.commentlist .children{list-style:none;margin:0 0 0 30px;}
.commentlist .children li{border-bottom:1px dashed #E4E4E4;margin:0 0 24px 0;}
.nopassword, .nocomments{display:none;}
#comments .pingback{border-bottom:1px dashed #E4E4E4;margin-bottom:18px;padding-bottom:18px;}
.commentlist li.comment+li.pingback{margin-top:-6px;}
#comments .pingback p{color:#888;display:block;font-size:12px;line-height:18px;margin:0;}
#comments .pingback .url{font-size:13px;font-style:italic;}
.reply_link{float:right;margin-right:10px;}
#respond{border-top:1px solid #e7e7e7;overflow:hidden;position:relative;}
#respond p{margin:0;}
#respond .comment-notes{margin-bottom:1em;}
.form-allowed-tags{line-height:1em;}
.children #respond{margin:0 48px 0 0;}
h3#reply-title{margin:18px 0;}
#comments-list #respond{margin:0 0 18px 0;}
#comments-list ul #respond{margin:0;}
#cancel-comment-reply-link{font-size:12px;font-weight:normal;line-height:18px;}
#respond .required{color:#ff4b33;font-weight:bold;}
#respond label{color:#888;font-size:12px;}
#respond input{margin:0 0 9px;width:50%;display:block;}
#respond textarea{width:98%!important;}
#respond .form-allowed-tags{color:#888;font-size:12px;line-height:18px;}
#respond .form-allowed-tags code{font-size:11px;}
#respond .form-submit{margin:12px 0;}
#respond .form-submit input{font-size:14px;width:auto;}
.right_contents .contents{text-align:left}
.right_contents .searchBox{width:190px;margin-top:10px;}
.right_contents .searchBox .inputSearch{width:145px;}
.right_contents .share_link{margin-top:10px;}
.deal-widget-inner{overflow:hidden;}
ul.deal_tags{}
ul.deal_tags li{display:inline;}
ul.deal_tags li a{padding:5px;background:#00a0dc;color:#fff;margin:2px;display:inline-block;}
ul.deal_tags li a:hover{background:#EB4823;}
ul.location_url li{display:inline;}
ul.location_url li a{margin-right:8px;display:inline-block;}
ul.deal_categories li{display:inline;}
ul.deal_categories li a{margin-right:8px;display:inline-block;}
#wp-calendar{width:190px;}
#wp-calendar caption{color:#333;font-size:12px;font-weight:bold;padding-bottom:5px;text-align:center;}
#wp-calendar thead{font-size:11px;}
#wp-calendar tbody{color:#AAAAAA;}
#wp-calendar tbody td{background:none repeat scroll 0 0 #F1F1F1;border:1px solid #FFFFFF;padding:5px 0 4px;text-align:center;}
#wp-calendar tbody td#today{background:#00a0dc;color:#fff;}
#wp-calendar tbody .pad{background:none repeat scroll 0 0 transparent;}
#wp-calendar tfoot #next{text-align:right;}
#progress_bar{clear:both;height:15px;position:relative;font-size:10px;}
#progress_bar .progress_bar_wrap{background-color:#EBF0F5;height:15px;margin:0px;overflow:hidden;padding:0;position:absolute;top:0;width:100%;z-index:40;}
.remaining_tip{color:rgba(0, 0, 0, 0.6);float:right;line-height:15px;position:relative;text-shadow:none;z-index:50000;width:100%;text-align:center;}
#progress_bar .progress_bar_progress{height:15px;line-height:15px;padding-left:10px;position:absolute;z-index:20;background:#ccc;}
.boxPrices #ajax_gif{display:none}
#wpg_addcart{margin-left:25px;margin-top:5px;color:#FFF;}
#wpg_addcart .price_label{float:right;margin:14px 40px 0 0;font-size:14px;}
#wpg_addcart img#ajax_gif{float:right;margin:-20px 20px 0 0;}
.bt_addtocart{background:url("images/button/button-overlay.png") repeat-x scroll 0 0 #76a809;border-bottom:1px solid rgba(0, 0, 0, 0.25);border-radius:5px 5px 5px 5px;border-style:none none solid;box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);color:#FFFFFF;cursor:pointer;padding:5px 10px;position:relative;text-decoration:none;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);height:28px;width:89px;margin:8px 8px 0 10px;float:left;font-weight:bold;}
.bt_addtocart:hover{float:left;width:89px;height:28px;background:url('images/button/button-overlay.png') repeat-x scroll 0 0 #679b07}
.main-boxcont{float:right;width:758px;}
.v6TitleCate{float:left;font-size:25px;font-weight:bold;padding:10px 0}
.v6TitleCate h2{font-size:25px;font-weight:bold;padding:0;margin:0}
.v6TitleCate h2 a{color:#404040;text-decoration:none}
.v6TitleCate .link{padding:10px 0 0 10px}
.scrollTit{height:43px;width:100%;line-height:43px;color:#000;position:fixed;top:0;left:0;z-index:9999;font-size:25px;font-weight:bold;background:#fff;border-bottom:1px solid #cfcfcf;display:none}
.v6TitleMore{line-height:30px}
.v6TitleMore a{color:#6a6a6a;text-decoration:underline;font-size:11px;margin-left:15px;font-weight:normal}
.v6TitleMore a:hover{color:orange}
.v6CatePage, .jCarouselNew{overflow:hidden;width:980px;height:360px}
.v6CatePage ul.listHomeCate{position:absolute;height:360px;overflow:hidden;width:100%}
.v6CatePage li{list-style:none}
.v6PreCatePage, .v6NextCatePage{height:38px;width:38px;position:absolute;margin-top:150px;z-index:9999}
.v6PreCatePage{left:-10px}
.v6NextCatePage{right:-10px}
.v6PreCatePage a, .v6NextCatePage a, .v6NextCatePage a:hover, .v6PreCatePage a:hover{background:url('images/button/nextBack3.png') 0 0 no-repeat}
.v6NextCatePage a:hover{background-position:right top}
.v6PreCatePage a{background-position:left bottom}
.v6PreCatePage a:hover{background-position:right bottom}
.v7Bgnew, .v7Bgnew:hover{position:absolute;background:url(images/background/viewContinue2.png) no-repeat top left;width:227px;height:205px;padding:140px 0 0;color:#fff;display:block;z-index:999;top:71px;right:1px}
a.v7Bgnew:hover{background-position:left bottom;text-decoration:none;cursor:pointer}
.v7inview{font-size:42px;font-weight:bold}
.v7productnum{font-size:17px}
.v6CatePage ul.listHomeCate{position:absolute;height:360px;overflow:hidden;width:100%}
.v6CatePage li{list-style:none}
.v6Item{margin-right:17px;float:left;width:232px;overflow:hidden;height:359px;padding-top:5px}
.v6ItemCon, .v7ItemConEnd{width:229px;background-color:#fff;border-radius:3px;-moz-border-radius:3px;box-shadow:0 1px 1px 1px rgba(70,70,70, 0.2)}
.v6ItemTitle{color:#777;padding:10px 10px 5px;height:45px;overflow:hidden;border-bottom:1px solid #e0e0e0;line-height:150%;font-size:11px}
.v6ItemTitle a{color:#444;font-weight:bold;font-size:14px;}
.v6ItemTitle a:hover{color:#f55100;text-decoration:none}
.v6ItemTitle h3{height:40px;overflow:hidden;line-height:20px;display:block;font-size:11px;font-weight:bold}
.v6ItemImg{width:217px;height:217px;cursor:pointer;padding:6px 6px 0 6px}
.v6ItemPrice{background-color:#f1f1f1;margin-top:1px;padding:5px 0 5px 10px;height:50px}
.v6ItemPrice{background-color:#f1f1f1;margin-top:1px;padding:5px 0 5px 10px;height:50px}
.v7PriceBig, .v7PriceSmall{font-size:14px;color:#909090;text-decoration:line-through;text-align:left}
.v7PriceSmall{color:#909090;font-size:12px}
.v7PromotionBig, .v7PromotionBigSold, .v7PromotionSmall{font-size:22px;color:#909090;font-weight:bold;text-align:left}
.v7PromotionSmall{font-size:18px;color:#bb2626;font-weight:bold}
.v7PromotionBigSold span, .v7PromotionSmall span{font-size:14px}
.v7PromotionBig{font-weight:normal;color:#bb2626}
.v7PromotionBigSold{color:#bb2626}
.v7view img, .v7view img:hover{background:url('images/button/smallView.png') 0 0 no-repeat;margin-top:-10px}
.v7view img:hover{background-position:0 -31px}
.v7viewSmall, .v7viewSmall:hover{background:url('images/button/smallViewh.png') 0 0 no-repeat;margin:12px 7px 0 0}
.v7viewSmall:hover{background-position:0 -32px}
.v7linkcate{color:#056bac;font-size:12px;text-decoration:underline;font-weight:normal;}
.textwidget{margin-top:10px;}
.box-suport{margin-top:15px;width:208px;border-radius:6px;-moz-border-radius:3px;}
#box-suport{padding:10px 10px 10px 10px;border-radius:4px;-moz-border-radius:0;background-color:#ffffff;border-bottom:1px solid #d4d4d4;background:#fffdf0;}
.bottomsupport{background:url(images/background/bgSupport.png) top left no-repeat;width:209px;height:14px;margin-top:-2px;}
.v6TitleCat{padding:20px 10px 10px 0;}
.fontNormal{font-size:25px;font-weight:bold;margin:0 0 5px 0;}
.list-rands-over{margin:0 3px;overflow:hidden;margin-bottom:20px; float: left;}
.list-rands{width:315px;border-radius:3px;-moz-border-radius:3px}
.box-frame-center{padding:1px;}
.v7Relative{position:relative;}
.v6ItemHotImg{cursor:pointer;width:290px;height:290px;margin:12px 12px 0 12px;}
.v7InfoType, .smallv7{color:#fff;font-size:13px;background-color:#424242;position:absolute;bottom:0;left:auto;}
.v6ContentHot{border-bottom:1px solid #E0E0E0}
.v6HotPrice{color:#626262;font-size:11px;padding-bottom:12px}
.v6HotPrice b{color:#000000;font-size:12px}
.v6HotPrice span{color:#f55100;margin-right:5px;font-size:15px}
.v7price{line-height:1.3}
.v7prices{line-height:1}
.v7bnew{font-size:15px;color:#666;/*margin-top:3px;*/text-align:left;}
.titledeals2{color:#777;margin:10px 15px 10px 15px;text-decoration:none;height:50px;overflow:hidden;font-size:14px;}
.titledeals2 a{color:#444;font-size:16px;}
.titledeals2 a:hover{color:#f55100;text-decoration:none;}
.v6TopBorder{background-color:#F1F1F1;padding:10px 8px 10px 15px;margin-top:1px;}
.soldout_tag{background:url('images/background/soldout_tag.png') 0 0 no-repeat;height:82px;top:1px;right:0;position:absolute;width:89px;margin:-1px 0 0 -1px;z-index:2;}
.v7linkSold{font-size:16px;text-decoration:none;color:#0067a6;font-weight:bold}
.v7Soldbg{padding:5px 0 30px;}
.lbreakcumb, .rbreakcumb{height:36px;background:url(images/icon/menuDeal.png) no-repeat left 0;width:100%;margin-top:10px}
.rbreakcumb{background-position:right -36px}
.cenbreakcumb{background:url(images/icon/menuDeal.png) repeat-x left -72px;margin:0 4px;height:36px;line-height:34px}
.menubreakcumb li{float:left;background:url(images/icon/icon_menu2.png) no-repeat right center;padding:0 20px}
.menubreakcumb li a, .menubreakcumb li span{font-size:12px;color:#777777;text-decoration:none}
.sContainer{background:white;margin:0 auto 15px;width:938px;padding:20px;}
.sContent{width:100%;}
.sWrapper{}
.mainPadding{padding:0;}
.leftMainBox{width:730px;float:left;}
.profileCus{border:1px solid #e3e3e3;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-bottom:none;overflow:hidden;}
.profileHeaderTop{background-color:#f9f9f9;padding:20px 22px 0px}
.profileTabV6{background-color:#f9f9f9;padding:0 12px 0 15px;border-bottom:1px solid #e3e3e3}
.reportTypev6{height:35px;list-style-type:none;margin-bottom:-1px;}
.reportTypev6 li{margin-right:4px;margin-bottom:-1px;}
.reportTypev6 a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: -moz-linear-gradient(center bottom , rgb(245, 245, 245) 32%, rgb(248, 248, 248) 66%, rgb(255, 255, 255) 83%);
    border-color: #e3e3e3 #e3e3e3 #C5CDD0;
    border-image: none;
    border-radius: 2px 2px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}.reportTypev6 a.active, .reportTypev6 a:hover{color:#000;border:1px solid #e3e3e3;margin-bottom:-1px;border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;border-bottom:1px solid #fff;background:#FFF;padding:0 15px}
.menuFilters{height:35px;list-style-type:none;display:inline-table}
.menuFilters li{padding:0 8px;border-right:1px solid #cecece}
.menuFilters li a{font-size:12px;text-decoration:none;color:#000}
.menuFilters li a.active{font-weight:bold}
.listingOrder .noneborderbot{color:#000}
.titleProfile, .titleProfile:hover{font-weight:normal;font-size:12px;color:#0784c8}
.viewdetailOrder, .viewdetailOrder:hover{display:block;border:1px solid #bbb;background-image:linear-gradient(bottom, rgb(245,245,245) 32%, rgb(248,248,248) 66%, rgb(255,255,255) 83%);background-image:-o-linear-gradient(bottom, rgb(245,245,245) 32%, rgb(248,248,248) 66%, rgb(255,255,255) 83%);background-image:-moz-linear-gradient(bottom, rgb(245,245,245) 32%, rgb(248,248,248) 66%, rgb(255,255,255) 83%);background-image:-webkit-linear-gradient(bottom, rgb(245,245,245) 32%, rgb(248,248,248) 66%, rgb(255,255,255) 83%);background-image:-ms-linear-gradient(bottom, rgb(245,245,245) 32%, rgb(248,248,248) 66%, rgb(255,255,255) 83%);background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(245,245,245)), color-stop(0.66, rgb(248,248,248)), color-stop(0.83, rgb(255,255,255)));border-radius:4px;-moz-border-radius:4px;text-decoration:none;font-size:12px;font-weight:bold;padding:5px;text-align:center;color:#000}
.viewdetailOrderSmall{width: 100px; padding:5px; margin:0 auto}
.wsmall{ width:80px; margin-bottom:10px}
.profileHeaderTitle{font-weight:bold;font-size:22px;}
.profilesmoney{color:#000;font-size:14px;}
.profileContainer{border-top:1px solid #C5CDD0;background:#FFF;margin-top:-1px;padding:15px;}
.left-box-acc {
    float: left;
    width: 340px;
    height: 305px;
    margin-right: 10px;
    border: 1px solid #DDD;
    padding: 10px;
    overflow: hidden;
}
.left-box-acc.full {
	width: calc(100% - 20px);
}
.right-box-acc {
    float: right;
    width: 340px;
    height: 305px;
    margin-right: 10px;
    border: 1px solid #DDD;
    padding: 10px;
    overflow: hidden;
}
.left-box-acc:hover, .right-box-acc:hover{border-color:#ccc}
.listing_profile{padding:8px 0 15px;}
.listingOrder .noneborderbot{color:#000}
.listingOrder .bRight{border-right:1px solid #e2e2e2;}
.bRight{border-right:1px solid #E2E2E2;}
.bBottom{border-bottom:1px solid #DDD;}
.listingOrder .headProfile{background-color:#f9f9f9;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding:5px;}
.listingOrder .headProfileCenter{background-color:#f9f9f9;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding:5px; text-align: center;}
.listingOrder .itemProfile{border-bottom:1px solid #E2E2E2;}
.listingOrder .bRight{padding:5px;}
.itemProfile{padding:10px 5px 10px!important;}
.profileAddGoldV6, .profileAddGoldV6:hover{background:url(images/button/bt_orange.png) left top no-repeat;height:36px;width:116px;color:#FFFFFF;font-weight:bold;line-height:32px;text-align:center;text-decoration:none;font-size:16px;display:block;}
.sell1, .sell2{margin-bottom:15px;}
#listData tr:hover{background:#F9F9F9;}
.borderImg{box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);padding:1px;background-color:#fff;width:80px;border:1px solid #e5e5e5}
.newicon{background:url(images/icon/ico-contact.png) left 13px no-repeat;font-size:12px;padding-left:13px}
.newicon2{background:url(images/spriteme3.png) -10px -155px no-repeat;font-size:11px;padding-left:13px}
.onlineMerchant{border-top:1px dashed #cccbc5;margin:8px 0 0 60px;line-height:1.5;color:#000000;padding-top:5px;}
#wpg_checkout .one_half{margin-right:2%;}
#wpg_checkout .profileAddGoldV6, #wpg_cart .profileAddGoldV6{border:none;display:inline;margin-right:5px;}
#wg_credit_cc_cvv input{width:auto!important}
.text-input, .text-input-sm{width:auto!important}
#wg-credit-card select{width:130px!important}
#wpg_report1{width:520px;clear:both;margin:20px 0 10px;}
#wpg_report1 .viewport{width:500px;height:200px;overflow:hidden;position:relative;}
#wpg_report1 .overview{list-style:none;position:absolute;left:0;top:0;}
#wpg_report1 .thumb .end, #wpg_report1 .thumb{background-color:#003D5D;}
#wpg_report1 .scrollbar{position:relative;float:right;width:15px;}
#wpg_report1 .track{background-color:#D8EEFD;height:100%;width:13px;position:relative;padding:0 1px;}
#wpg_report1 .thumb{height:20px;width:13px;cursor:pointer;overflow:hidden;position:absolute;top:0;}
#wpg_report1 .thumb .end{overflow:hidden;height:5px;width:13px;}
#wpg_report1 .disable{display:none;}
.noSelect{user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;}
#checkout_login_register_forms .w50{width:49%;float:left;}
#checkout_login_register_forms .pR5{padding-right:10px;}
#checkout_login_register_forms input{border:1px solid #DDDDDD;color:#333333;font-size:14px;height:29px;font-family:arial;padding:0 10px;width:150px!important;border-radius:3px;-moz-border-radius:3px;margin:3px 0;}
.f12{font-size:12px!important;}
#wpg_account_edit fieldset{border:none;margin-bottom:10px;}
#wpg_account_edit label{margin-right:5px;}
#wpg_checkout fieldset, #wpg_login_form fieldset{border:1px solid #ddd;margin-bottom:10px; padding: 15px;}
#wpg_checkout fieldset:hover, #wpg_login_form fieldset:hover{border:1px solid #ccc;}
#wpg_checkout legend, #wpg_account_edit legend, #wpg_login_form legend{font-size:1.5em; width: auto; border-bottom: none; margin-bottom: 0px;}
#wpg_login_form input, #blog-comment input, #wpg_checkout input, #claim_voucher input, #wpg_deal_submission input, #wpg_merchant_register input, #wpg_account_edit input{border:1px solid #DDDDDD;color:#333333;font-size:14px;height:29px;font-family:arial;padding:0 10px;width:300px;border-radius:3px;-moz-border-radius:3px;margin:3px 0;}
#wpg_login_form textarea, #blog-comment textarea, #wpg_checkout textarea, #claim_voucher textarea, #wpg_deal_submission textarea, #wpg_merchant_register textarea, #wpg_account_edit textarea{border:1px solid #DDDDDD;color:#333333;font-size:14px;font-family:arial;padding:5px 0 0 10px;width:310px;border-radius:3px;-moz-border-radius:3px;margin:3px 0;}
#wpg_checkout textarea, #claim_voucher textarea, #wpg_login_form textarea, #wpg_deal_submission textarea{width:100%}
#wpg_login_form select, #wpg_checkout select, #wpg_deal_submission select, #wpg_merchant_register select, #wpg_account_edit select{border:1px solid #DDDDDD;color:#333;line-height:34px;width:100%;padding:5px 5px 5px 5px;margin:5px 0;margin-right:5px;font-size: 14px;}
#wpg_login_form input[type='checkbox'], #wpg_checkout input[type='checkbox'], #wpg_deal_submission input[type='checkbox'], #wpg_merchant_register input[type='checkbox'], #wpg_account_edit input[type='checkbox']{border:none;width:auto!important;height:auto;margin-right:5px;}
#wpg_login_form input[type='submit'], #wpg_checkout input[type='submit'], #claim_voucher input[type='submit'], #wpg_deal_submission input[type='submit'], #wpg_merchant_register input[type='submit'], #wpg_account_edit input[type='submit']{width:auto!important;height:36px;color:#FFF;cursor:pointer;border:none;border:none}
#wpg_login_form input[type='submit']:hover, #wpg_checkout input[type='submit']:hover, #claim_voucher input[type='submit']:hover, #wpg_deal_submission input[type='submit']:hover, #wpg_merchant_register input[type='submit']:hover, #wpg_account_edit input[type='submit']:hover{color:#EFEFEF;border:none;}
#wpg_checkout input[type='button'], #claim_voucher input[type='button'], #wpg_deal_submission input[type='button'], #wpg_merchant_register input[type='button'], #wpg_account_edit input[type='button']{width:116px;height:36px;color:#FFF;cursor:pointer;border:none;border:none}
#wpg_checkout input[type='button']:hover, #claim_voucher input[type='button']:hover, #wpg_deal_submission input[type='button']:hover, #wpg_merchant_register input[type='button']:hover, #wpg_account_edit input[type='button']:hover{color:#EFEFEF;border:none;}
#wpg_deal_submission input[type='file'], #wpg_merchant_register input[type='file'], #wpg_account_edit input[type='file']{border:none;padding:0;}
#wpg_deal_submission select, #wpg_merchant_register select, #wpg_account_edit select{border:1px solid #DDDDDD;color:#333;line-height:34px;padding-left:10px;margin:auto 0}
#wpg_deal_submission .edit-td, #wpg_merchant_register .edit-td, #wpg_account_edit .edit-td, .edit-td{width:130px;vertical-align:top;}
#claim_voucher .edit-td{width:170px!important}
#wpg_account_edit small{font-size:11px;}
#wpg_checkout span, #wpg_deal_submission span{font-size:11px;color:#757575;}
#wpg_report tr:hover{background:#F9F9F9}
#wpg_checkout input[type="radio"]{width:auto!important;height:auto;outline:none;border:none;}
#wpg_cart_button input[type='submit']{cursor:pointer;}
.facebook_button{background:url(images/button/facebook.png) 1px top no-repeat;width:117px;height:36px;display:block;margin:3px 0;}
.facebook_button:hover{background:url(images/button/facebook.png) 1px -36px no-repeat;}
#log input, #pwd input{width:auto!important;}
.share_earn{border:1px solid #DDDDDD;color:#333333;font-size:14px;height:29px;font-family:arial;padding:0 10px;width:170px;border-radius:3px;-moz-border-radius:3px;margin:3px 0;}
.rightMainBox{width:235px;float:right;}
ul.helpPayBox{margin-left:0;}
.helpPayBox .icon{height:30px;padding-left:30px;line-height:40px;color:#000;font-weight:bold;}
.helpPayBox a, .helpPayBox a:hover{font-size:12px;color:#000;text-decoration:none}
.goldRe .icon{background:url(images/icon/payhelp2.png) left 12px no-repeat}
.goldReFor .icon{background:url(images/icon/payhelp3.png) left 12px no-repeat}
.onlinePay .icon{background:url(images/icon/payhelp4.png) left 12px no-repeat}
.codPay .icon{background:url(images/icon/payhelp5.png) left 12px no-repeat}
.helpPayBox .icon{height:30px;padding-left:30px}
.helpPayBox ul li{padding:2px 0;}
.ShopCart .icon{background:url(images/spriteme3.png) -10px -306px no-repeat}
.EditAcc .icon{background:url(images/spriteme3.png) -10px -189px no-repeat}
.voucher_ico .icon{background:url(images/spriteme3.png) -10px -228px no-repeat}
.biz_ico .icon{background:url(images/spriteme3.png) -10px -344px no-repeat}
.adddeal .icon{background:url(images/spriteme3.png) -10px -388px no-repeat}
.chart .icon{background:url(images/spriteme3.png) -10px -476px no-repeat}
.salerpt .icon{background:url(images/spriteme3.png) -10px -267px no-repeat}
.wpad .icon{background:url(images/spriteme3.png) -10px -49px no-repeat}
.users .icon{background:url(images/spriteme3.png) -10px -427px no-repeat}
.newTitleV6{font-size:20px;color:#000;font-weight:bold;}
.soldLineNew{border-bottom:1px solid #efefef;}
.titleblue14, .titleblue14 a, .titleblue14 a:hover{font-size:16px;font-weight:bold;color:#000;text-decoration:none;}
.dotLineNew{border-bottom:1px dotted #929292;}
.blockSoldItem .newqc a{color:#000;font-size:13px;text-decoration:none}
.soldImgqc{position:relative;float:left}
.box_discountsale{position:absolute;background:url(images/background/discount_qc.png) 0 0 no-repeat;width:35px;height:35px;right:-6px;bottom:-6px;color:#fff;font-size:14px !important;font-weight:bold;padding:9px 0 0 5px}
.soldInfonew div{font-size:12px;font-style:italic;color:#202020;}
.soldInfonew div b{color:#ff0000;font-style:italic;font-size:13px;}
.soldInfonew{margin-left:10px !important;}
.footer{background:transparent;width:100%;border:none;margin-top:0;}
#copyright{width:100%;/*background:#FFF;*/border-top:1px solid #fff;}
#footer_nav ul li{display:inline-block;padding-right:10px;}
.centerFooters{text-align:left;/*color:#000;*/}
.footerWidth{width:980px;margin:0 auto;}
.byFooters{width:320px}
.byFooters2{width:165px}
.byFooters a{display:block;}
.centerFooters{}
.bottom-footer{padding-top:30px !important;background:url(images/bg-footer.jpg) no-repeat center 30px;margin:0px auto 0;width:980px;color:#000000;padding:20px 0 10px;}
.content-copyright{padding-top:10px;line-height:20px;color:#444;font-size:12px;}
.ca-container{position:relative;width:980px;height:360px;}
.ca-wrapper{width:100%;height:100%;position:relative;}
.ca-item{position:relative;float:left;width:245px;height:359px;}
.ca-column{width:55%;float:left;margin:15px 5px 10px 35px;font-size:14px;text-align:justify;}
.ca-column2{width:20%;float:right;margin:15px 25px 10px 5px;}
.ca-column2 .shopinfo{background:none;border-bottom:none;margin-bottom:20px;}
.ca-column2 .v6Timer{background:none;padding:0;}
.ca-column2 .v6BuyNow{margin:0;}
.ca-more, .ca-more-2{float:right;padding:7px;font-weight:bold;background-image:url('images/button/overlay_x.png');/*background-color:#0072b0;*/text-align:center;/*color:#FFF;*/text-shadow:1px 1px 1px #897c63;-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);box-shadow:1px 1px 2px rgba(0,0,0,0.2);border-radius:3px;-moz-border-radius:3px;margin-top:8px;text-decoration:none;text-transform:uppercase;}
.ca-more:hover, .ca-more-2:hover{background:url('images/button/overlay.png') #0072b0 0 bottom repeat-x;text-decoration:none;color:#fff;}
.ca-close{position:absolute;top:10px;right:10px;background:#efefef url(images/button/cross.png) no-repeat center center;width:27px;height:27px;text-indent:-9000px;outline:none;-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);box-shadow:1px 1px 2px rgba(0,0,0,0.2);opacity:0.7;text-indent:100%;white-space:nowrap;overflow:hidden;}
.ca-close:hover{opacity:1.0;}
.ca-item-main{padding:9px;position:absolute;top:5px;left:5px;right:5px;bottom:5px;background:#fff;overflow:hidden;border-radius:3px;-moz-border-radius:3px;box-shadow:0 1px 1px 1px rgba(70,70,70, 0.2);-moz-box-shadow:0 1px 1px 1px rgba(70,70,70, 0.2);-webkit-box-shadow:0 1px 1px 1px rgba(70,70,70, 0.2);}
.ca-icon{position:relative;margin:0 auto;}
.ca-item h3{font-family:'Coustard', sans-serif;text-transform:uppercase;font-size:13px;color:#000;margin-bottom:20px;height:85px;text-shadow:0px 1px 1px #e4ebe9;text-align:left;}
.ca-item a.deal_title{font-weight:bold;font-size:14px;color:#444;text-decoration:none;display:block;width:100%;border-bottom:1px solid #e0e0e0;text-align:left;padding:7px 0;height:75px;}
.ca-item a.deal_title:hover{color:#f55100;}
.ca-item h4{font-family:"Georgia", "Times New Roman", serif;font-style:italic;font-size:12px;text-align:left;border-left:10px solid #b0ccc6;padding-left:10px;line-height:24px;margin:10px;position:relative;}
.ca-item h4 span{text-indent:40px;display:block;}
.ca-content-wrapper{position:absolute;width:0px;height:365px;top:5px;text-align:left;z-index:10000;overflow:hidden;margin-left:-4px;}
.ca-content{width:100%;height:349px;overflow:hidden;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;background:#fff;box-shadow:0 1px 1px 1px rgba(70,70,70, 0.2);-moz-box-shadow:0 1px 1px 1px rgba(70,70,70, 0.2);-webkit-box-shadow:0 1px 1px 1px rgba(70,70,70, 0.2);}
.ca-content-text{font-size:14px;font-style:italic;margin:10px 20px;padding:10px 20px;line-height:24px;}
.ca-content-text p{padding-bottom:5px;}
.ca-content h6{margin:25px 20px 0px 35px;font-size:25px;padding-bottom:5px;border-bottom:2px solid #d9d9d9;text-shadow:1px 1px 1px #ccc;}
.ca-content ul{margin:20px 35px;height:30px;}
.ca-content ul li{float:left;margin:0px 2px;}
.ca-content ul li a{color:#fff;background:#000;padding:3px 6px;font-size:14px;font-family:"Georgia", "Times New Roman", serif;font-style:italic;}
.ca-content ul li a:hover{background:#fff;color:#000;text-shadow:none;}
.ca-nav span{width:25px;height:38px;background:transparent url(images/button/arrows.png) no-repeat top left;position:absolute;top:50%;margin-top:-19px;left:-40px;text-indent:-9000px;opacity:0.7;cursor:pointer;z-index:100;}
.ca-nav span.ca-nav-next{background-position:top right;left:auto;right:-40px;}
.ca-nav span:hover{opacity:1.0;}
.wpcf7 input[type="text"], .wpcf7 input[type="email"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:300px!important;max-width:100%;margin:5px 0 0 0!important;}
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea, .wpcf7 select{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #D4D4D4;border-radius:2px;box-shadow:0 1px 2px 0 rgba(180, 180, 180, 0.2);color:#999999;display:block;font-family:Arial,Helvetica,sans-serif;font-size:13px;margin:0 0 20px;max-width:100%;outline:medium none;padding:8px;width:180px;}
.wpcf7 textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:100%;margin:5px 0 0 0;}
.wpcf7 select{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:400px;max-width:100%;margin:5px 0 0 0;padding:8px;}
.wpcf7{margin:0;padding:0;}
.wpcf7 input[type="checkbox"]{width:auto}
.wpcf7 form.wpcf7-form p{font-weight:600;margin:0 0 20px 0 !important;}
.wpcf7-list-item-label{font-weight:normal}
.wpcf7-response-output{display:none}
.wpcf7-form .invalid{color:#bf1515 !important}
.wpcf7-not-valid{border:1px solid #bf1515 !important;}
.wpcf7 span.wpcf7-not-valid-tip{display:none}
div.wpcf7-response-output{margin:0px !important;padding:5px 10px !important;}
div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors{position:relative;border:1px solid #ddd !important;display:block;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F7F7F7;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);font-weight:600;padding:10px 40px !important;text-align:center;}
div.wpcf7-mail-sent-ok{background-image:linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-color:#e9f2d2;border-color:#c0da66 !important;color:#88b12b;}
#business-deal tr:hover #action-dl {display: block;}
#action-dl {display: none;}
a.action-ic {color: #333;}
a.action-ic:hover {color: #333;text-decoration: none;}
span.publish {color: #00b050;}
span.pending {color: #ff0000;}
#wg-credit-card span.wg-form-field-radio, #card_image{ display:block}
/* Sub menu */
#category-menu .menu{padding: 0 0 10px;}
#category-menu .menu ul {list-style-type: none;}
#category-menu .menu li {display: block;margin-right: 15px;border-bottom: #f3f3f3 solid 1px;padding: 2px 0 3px;margin-left: 15px;font-size: 12px;line-height: 25px;background: url(images/spriteme1.png) no-repeat 158px -346px;}
#category-menu .menu ul.sub-menu li {margin: 0;background: none}
#category-menu .menu ul.sub-menu li:hover {background: #ebf4f8;border-bottom: 1px solid #e3ecf0;border-top: 1px solid #e3ecf0;margin-top: -1px;}
#category-menu .menu ul.sub-menu li.last {border-bottom: none}
#category-menu .menu a {color: #000000;display: block;padding: 0 10px 0 7px;line-height: 23px;text-decoration: none;}
#category-menu .menu li:hover {background: #ebf4f8 url(images/boxmenu/bg-li-V6Active.png) right center no-repeat;border-bottom: 1px solid #e3ecf0;border-top: 1px solid #e3ecf0;margin-top: -1px;}
#category-menu ul.sub-menu {display: none;position: absolute;background: #FFF;width: 200px;border: 1px solid #e3ecf0;border-left: none;border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;}
#category-menu .menu li:hover ul.sub-menu {display: block;left: 193px;margin-top: -26px;}
.box_header{height: auto !important;float: left;width:100%;}
.box{height: auto !important;width:45%;}

.close-box{
	position: absolute;
	top: -8px;
	right: -8px;
	color: transparent;
	background: url(images/Light_Close.png) no-repeat;
	height: 24px;
	width: 24px;
	margin:0px;
	cursor: pointer;
}
/*.simplemodal-close{
	position: absolute;
	background: red;
	height: 24px;
	width:24px;
	top:100px;
}*/
#box_location #e1{
	min-width:250px;
	padding:7px;
	font-size: 14px;
}#ie8 .headerCity:hover #location-menu,
#ie8 .headerFloat .fixPNG:hover #category-menu{
	display: block !important;
}

/* Front-end TinyCME format */

.tmce-active .quicktags-toolbar{
	display: none;
}

.quicktags-toolbar .button {
	width: auto!important;
	min-width: 30px;
	font-size: 12px!important;
	color: black!important;
	margin-right: 2px!important;
}

#wpg_deal_submission textarea.wp-editor-area {
	width: 100%;
	height: 200px;
}

#wg_account_register .g-recaptcha > div > div {
	margin: 15px auto;
}
.billing_info {
    width: 200px;
}

/* by the way */

#wpg_account_edit .profileAddGoldV6 {
	cursor: pointer;
	height: 44px !important;
	width: 186px !important;
	font-size: 18px !important;
	margin-top: 20px !important;
	background: #d5499f;
	background-image: none;
	color: #fff !important;
	padding: 4px 15px!important;
}

#wpg_account_edit .profileAddGoldV6:hover {
    background-color: #fff;
    border: 1px solid #d5499f;
    color: #d5499f;
    text-decoration: none;
}

.footer .menu {
	display: none;
}

#wpg_login_form input[type="submit"] {
	width: inherit !important;
}


