body {
	margin: 20px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
}
.container {
	max-width: 790px;
	padding: 15px;
}
#wrapper-site {
	margin: 0 auto;
    max-width: 800px;
}
#voucher-top {
	border: 5px solid #0072B0;
    margin-bottom: 20px;
}
#title-section {
	border-bottom: 2px solid #f3f3f3;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
p.title {
	font-weight: bold;
	padding: 0;
	margin: 15px 0 0;
}
p.title span {
	font-weight: normal
}
