
/* WPG Themes */
.wg_table .cart-line-item-discount0,
.wg_table .cart-line-item-discount1,
.wg_table .cart-line-item-discount2,
.wg_table .cart-line-item-discount3,
.wg_table .cart-line-item-discount4,
.wg_table .cart-line-item-discount5,
.wg_table .cart-line-item-discount6,
.wg_table .cart-line-item-discount7,
.wg_table .cart-line-item-discount8,
.wg_table .cart-line-item-discount9 {
	width: 10%;
	text-align: center;
	vertical-align: middle;
}
.wg_table .cart-line-item-row-discount0 th,
.wg_table .cart-line-item-row-discount1 th,
.wg_table .cart-line-item-row-discount2 th,
.wg_table .cart-line-item-row-discount3 th,
.wg_table .cart-line-item-row-discount4 th,
.wg_table .cart-line-item-row-discount5 th,
.wg_table .cart-line-item-row-discount6 th,
.wg_table .cart-line-item-row-discount7 th,
.wg_table .cart-line-item-row-discount8 th,
.wg_table .cart-line-item-row-discount9 th {
	font-weight: normal;
	font-style: italic;
}