#wg_light_box {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
#box_login {
	bottom: 0;
	position: absolute
}
.box {
	position: absolute;
	width: 40%;
	height: 300px;
	line-height: 30px;
	text-align: center;
	left: 50%;
	top: 200px;
	margin-left: -20%;
	background: #FFF;
	-webkit-border-radius: 5px 5px 3px 3px;
	border-radius: 5px 5px 3px 3px;
}
.box_header {
	height: 90px;
	line-height: 35px;
	text-align: center;
	font-size: 30px;
	background: #262626;
	color: #FFF;
	margin-bottom: 15px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	font-style: italic;
	font-family: georgia, serif;
	padding-top: 20px;
	font-weight: bold;
	border-bottom: 5px solid red;
}
.box_header span {
	color: #A3A3A3;
	font-size: 15px;
	font-weight: bold;
	float: left;
	width: 100%
}
#box_location {
}
#box_email {
	left: -100%;
}
.box_txt_header {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}
.box_select {
	width: 200px;
	padding: 10px;
	font-size: 14px
}
#continue-button {
	margin-top: 20px
}
.box_agree {
	font-style: italic;
	color: #999;
	margin-top:-5px;
}
.box_email_form {
	height: 24px;
	border: solid 1px rgba(153,153,153,0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 18px;
	padding: 7px;
	margin: 0px auto;
	text-transform: lowercase;
	font-size: 18px;
	line-height: 24px;
	width: 300px;
	color: #999
}

#box_email input[type="submit"]{
	margin:0 5px 5px 0;
	font-size:13px;
	line-height:13px;
	padding:12px 20px;
	border: 1px solid #ddd;
	font-weight:bold;
	display: inline-block;
	background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);
	background-color: #F9F9F9;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);
       -moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);
            box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}

#box_email input[type="submit"] {
	background-image: linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);
	background-color: #dbe9f3;
	border:1px solid #9fc2dd;
	color:#468bbf;
	cursor: pointer;
	margin-top: 15px;
	height:38px;
}
#box_email input[type="submit"]:hover {
	color: #ffffff;
	border: solid 1px #0b5996;
	background: #438ac2;
	background: -webkit-gradient(linear, left top, left bottom, from(#438ac2), to(#1063a4));
	background: -moz-linear-gradient(top,  #438ac2,  #1063a4);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
							0px 1px 1px 0px rgba(180, 180, 180, 0.4);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2),
			    			0px 1px 1px 0px rgba(180, 180, 180, 0.4);
}
.box_error{border:1px solid red}