#wpg-table table.form-table {
	margin-bottom: 20px;
	border-bottom: 1px solid #e0e0e0;
}
#wpg-table td.regions {
	width: 100px;
}
#wpg-table input[type="text"] {
	padding: 5px;
	margin-bottom: 7px;
	margin-top: -10px;
}
#wpg-table input[type="submit"] {
	padding: 0 5px;
	margin-bottom: 0;
}
#wpg-table span.description {
	background: url(../images/help.png) 0 0 no-repeat;
	font-size: 11px;
	padding: 2px 0 0 20px;
}
.wpg-reports-wrap {
	margin-left: 300px;
	padding-top: 18px;
}
.wpg-reports-wrap.halved {
	margin: 0;
	overflow: hidden;
	zoom: 1
}
.wpg-reports-wrap .postbox h3 {
	cursor: default!important
}
.wpg-reports-wrap .postbox .stat {
	font-size: 13px;
	font-weight: bold;
}
.wpg-reports-wrap .postbox .chart {
	padding: 16px 16px 0
}
.wpg-reports-wrap .wpg-reports-main {
	float: left;
	min-width: 100%
}
.wpg-reports-wrap .wpg-reports-main table td {
	padding: 9px
}
.wpg-reports-wrap .wpg-reports-sidebar {
	display: inline;
	width: 281px;
	margin-left: -300px;
	clear: both;
	float: left
}
.wpg-reports-wrap .wpg-reports-left {
	width: 49.5%;
	float: left
}
.wpg-reports-wrap .wpg-reports-right {
	width: 49.5%;
	float: right
}
.wpg-wide-reports-wrap {
	padding-bottom: 11px
}
.ui-datepicker, .ui-datepicker select, .ui-datepicker input, .ui-datepicker td {
	font-size: 11px;
	line-height: 15px;
}
.ui-datepicker select, .ui-datepicker option {
	padding: 0;
}
.ui-datepicker thead tr th {
	font-size: 10px;
}
#ui-datepicker-div {
	font-size: 80%;
	padding: 0x;
}
.ui-multiselect-filter input {
	width: 200px;
}
/* Default css for timepicker */
.ui-widget-content .ui-datepicker-buttonpane {
	border: none;
}
.ui-timepicker-div, .ui-datepicker-buttonpane {
	padding: 5px;
	font-size: 12px;
}
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}
.ui-timepicker-div dl {
	text-align: left;
}
.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
	font-size: 90%;
}
.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.ui-timepicker-rtl {
	direction: rtl;
}
.ui-timepicker-rtl dl {
	text-align: right;
}
.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
}
#dyn_price_table {
	width: 280px;
}
#wg_deal_price td {
	padding: 7px;
}
td.centered_text {
	text-align: center;
}
#dyn_price_fieldset {
	border: 1px solid #DFDFDF;
	width: 250px;
	padding: 10px
}
#wg_deal_price td input {
	margin-top: -3px;
}
#dyn_shipping_table {
	width: auto
}
;
.cloak {
	display: none;
}
.wg_meta_column {
	width: 45%;
	float: left;
}
;
.wg_meta_column.float_right {
	float: right;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.add-new-h2[href~='post-new.php?post_type=wg_account'] {
	display: none !important;
}
.add-new-h2[href~='post-new.php?post_type=wg_purchase'] {
	display: none !important;
}
.add-new-h2[href~='post-new.php?post_type=wg_voucher'] {
	display: none !important;
}
.add-new-h2[href~='post-new.php?post_type=wg_project_post'] {
	display: none !important;
}
#icon-wp-groupbuy {
	background: transparent url(/wp-admin/images/icons32.png ) no-repeat -492px -5px;
}
#icon-wp-groupbuy.icon32-posts-wgaccount {
	background-position: -600px -5px;
}
#icon-wp-groupbuy.icon32-posts-wgnotification {
	background-position: -72px -5px;
}
#icon-wp-groupbuy.icon32-posts-wgpurchase, #icon-wp-groupbuy.icon32-posts-wgvoucher {
	background-position: -312px -5px;
}
.cloak {
	display: none;
}
.admin_columns {
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-o-column-count: 4;
	-o-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
}
.select2-container-multi.zone_selections {
	margin-top: 10px;
}
.meta_box_block_divider {
	display: block;
	position: relative;
	margin-left: -5px;
	margin-right: 0px;
	width: auto;
	border-top: 1px solid #E8E8E8;
	border-bottom: white solid 1px;
}
.casper {
	opacity: 0.5 !important;
}
.wg_highlight {
	background-color: #FFFBCC;
}
table#wg_purchases_tables {
	border-spacing: 0;
	width: 99%;
	padding-bottom: 10px;
}
#wg_purchases_tables thead th {
	padding: 5px 8px 8px;
	background-color: #F1F1F1;
	padding: 5px;
	font-weight: bold;
	border-color: #dfdfdf;
	border-width: 1px;
	border-style: solid;
	font-size: 11px;
}
#wg_purchases_tables .th {
	padding: 5px 30px 8px;
	background-color: #FFF;
	border-color: #dfdfdf;
	border-width: 1px;
	border-style: solid;
	border-top-width: 0px;
}
#wg_purchases_tables td {
	padding: 7px;
	text-align: center;
}
#wg_purchases_tables .voucher_name {
	padding-right: 20px;
}
#deal_highlights_tbl, #deal_fine_print_tbl, #deal_rss_excerpt_tbl, #voucher_how_to_use_tbl {
	border: 1px solid #d1d1d1
}
#voucher_how_to_use_ifr {
	height: 128px !important;
}
#deal_fine_print_ifr {
	height: 128px !important;
}
#deal_rss_excerpt_ifr {
	height: 128px !important;
}
#voucher_how_to_use_ifr {
	height: 128px !important;
}
#deal_highlights_ifr {
	height: 128px !important;
}
#groupbuy-deal-options .inside {
	padding: 0;
	margin: 0
}
#groupbuy-deal-options .panel-wrap {
	background: #f8f8f8;
	padding-left: 153px;
}
#groupbuy-deal-options .wc-tabs-back {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #f1f1f1;
	width: 145px;
	border-right: 1px solid #dfdfdf;
}
#groupbuy-deal-options ul.product_data_tabs {
	background: #f1f1f1;
	line-height: 1em;
	float: left;
	width: 145px;
	margin: 0;
	position: relative;
	padding: 0 0 10px;
	margin-left: -153px;
}
#groupbuy-deal-options ul.product_data_tabs li {
	display: block;
	padding: 0;
	margin: 0;
}
#groupbuy-deal-options ul.product_data_tabs {
	line-height: 1em;
}
#groupbuy-deal-options ul.product_data_tabs li.active a {
	border-color: #dfdfdf;
	position: relative;
	background-color: #f8f8f8;
	color: #555;
	margin: 0 -1px 0 0;
}
#groupbuy-deal-options ul.product_data_tabs li.general_options a {
	background-position: 5px 5px;
}
#groupbuy-deal-options ul.product_data_tabs li.general_options a, #groupbuy-deal-options ul.product_data_tabs li.tax_options a, #groupbuy-deal-options ul.product_data_tabs li.inventory_options a, #groupbuy-deal-options ul.product_data_tabs li.shipping_options a, #groupbuy-deal-options ul.product_data_tabs li.linked_product_options a, #groupbuy-deal-options ul.product_data_tabs li.attribute_options a, #groupbuy-deal-options ul.product_data_tabs li.variation_options a, #groupbuy-deal-options ul.product_data_tabs li.advanced_options a, #groupbuy-deal-options ul.product_data_tabs li.featured_options a {
	padding: 5px 5px 5px 10px;
}
#groupbuy-deal-options ul.product_data_tabs li:first-child a {
	border-top: 0!important;
}
#groupbuy-deal-options ul.product_data_tabs li a {
	padding: 5px;
	line-height: 18px!important;
	margin: 0;
	display: block;
	background: #f1f1f1;
	text-decoration: none;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
}
#groupbuy-deal-options ul.product_data_tabs li {
	display: block;
	padding: 0;
	margin: 0;
}
#groupbuy-deal-options ul.product_data_tabs {
	line-height: 1em;
}
#groupbuy-deal-options .wc-metaboxes-wrapper {
	float: right;
	width: 100%;
}
.panel {
	padding: 0;
	color: #555;
}
img.help_tip {
	vertical-align: middle;
	margin: 0 0 0 9px
}
img.help_tip {
	margin-top: -4px
}
.postbox img.help_tip {
	margin-top: -4px
}
table.form-table img.help_tip {
	padding: 0;
	margin: 5px 0 0 5px;
	vertical-align: top;
	cursor: help;
	line-height: 1
}
table.form-table span.help_tip {
	cursor: help;
	color: #21759b
}
table.form-table th img.help_tip {
	margin: 0 -24px 0 0;
	float: right
}
table.form-table fieldset img.help_tip {
	margin: -3px 0 0 5px
}
.tips {
	cursor: help;
	text-decoration: none
}
img.tips {
	padding: 5px 0 0 0
}
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999
}
#tiptip_holder.tip_top {
	padding-bottom: 5px
}
#tiptip_holder.tip_bottom {
	padding-top: 5px
}
#tiptip_holder.tip_right {
	padding-left: 5px
}
#tiptip_holder.tip_left {
	padding-right: 5px
}
#tiptip_content {
	font-size: 11px;
	color: #fff;
	padding: 4px 8px;
	background: #21759b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	text-align: left;
}
#tiptip_content code {
	background: #855c76;
	padding: 1px
}
#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: #21759b
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: #21759b
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: #21759b
}
.wc-metaboxes-wrapper .mceLayout {
	width: 99%!important
}
.credit-point {
	font-weight: bold;
	float: right;
	font-size: 13px;
	color: #555
}
.row-actions span.detail {
	display: none;
}
tr:hover .row-actions span.detail {
	display: block
}
tr:hover p.title-hover {
	display: none;
}
#wg_account_contact_info #duplicate-action, #wg_account_purchases #duplicate-action, .inside #duplicate-action{ display:none}