/*
Theme Name: WPGroupbuy Child
Theme URI: http://wpgroupbuy.com/WPGroupbuy-child
Description: WordPress Groupon Clone by WPGroupbuy.com
Author: WPG Team
Author URI: http://wpgroupbuy.com
Template: WPGroupbuy
Version: 2.2
Theme Author: WPG Team
Theme Author URI: http://wpgroupbuy.com/
Text Domain: WPGroupbuy-child
*/

/* Imports styles from the parent theme
-------------------------------------------------------------- */
/*
@import url('../WPGroupbuy/style/styles.css');
@import url('../WPGroupbuy/style/default.css');
*/
/* Theme customization starts here
-------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700&subset=latin,latin-ext);



html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

body.home {
    overflow-x: hidden;
}

body.custom-background {
 /*background-image: url('/wp-content/uploads/2017/06/prevzem-bg.jpg');*/
 background-color: #fff!important;
}


.takeover {
    background-image: url('img/prevzem-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top !important;
    background-attachment: scroll;
    cursor: pointer;
}

.link-prevzem {
    height: 90px;
    width: 100%;
    cursor: pointer;
}

.link-prevzem > a {
    height: 840px;
    width: 100%;
    display: block;
    text-indent: -9999px;
    background-attachment: initial;
    background-position: top center;
    background-origin: initial;
    background-clip: initial;
    cursor: pointer;
}


a {

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* HEADER */

.header {
    background-color: transparent;
    height: 138px;
    width: auto;
}

.headerTop {
    height: 89px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background: #06ab4c!important;
    max-width: 1064px;
}

.headerBg {
    background-color: #06ab4c!important;
}

.headerBg {
    height: 136px;
}

.headerBottomW {
    background-color: #09ce5b!important;
    display: block;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1064px;
    border-bottom: 0;
}

.headerBottom {
    position: relative;
    z-index: 4;
    margin: 0 auto;
    background-color: #09ce5b!important;
    border-bottom: 0;
    height: 50px;
}

.headerWidth {
    background: none;
}

.headerLogo {
    background-position: 0 center;
    height: 90px;
    width: 208px;
}

.headerLogo > a {
    display: block;
    width: 208px;
    height: 90px;
}

.headerLogo.fl.fixPNG {
    background: rgba(0, 0, 0, 0) url("img/logo.png") no-repeat scroll 0 18px !important;
}

#header-menu {
    float: right;
}

#header-menu ul li a {
    display: block;
    float: left;
    font-size: 15px;
    height: 89px;
    line-height: 93px;
    padding: 0 10px;
    color: #fff;
    font-weight: normal;
    background-image: none;
}

#header-menu ul li.last a {
    color: #fff;
    text-transform: uppercase;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #fff;
    line-height: 27px;
    margin-top: 30px;
    height: 33px;
    padding: 2px 10px;
    margin-left: 8px;
    background: none;
    font-weight: normal;
    letter-spacing: 0.2px;
}

#header-menu ul li a:hover,
#header-menu .current-menu-item a {
    color: #fff;
    background-image: none;
}

#header-menu ul li.last a:hover,
#header-menu .current-menu-item .last > a {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
/*    text-shadow: 5px 0px 10px rgba(255, 255, 255, 1);*/
}


.headerFloat {
    display: none;
    position: absolute;
    z-index: 99;
}

.regMailButton {
    background-image: url("images/spriteme1.png");
    background-position: 120px -471px;
    color: #313131;
    display: none;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-left: 400px;
    padding: 0 15px;
}

/*.headerInfo, .headerGoldInfo {
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 27px 0 0 !important;
    position: relative;
    z-index: 8;
}*/

/*.headerInfo .shopnewIconHeader {
    margin: 28px 15px 0 5px !important;
    position: relative;
    z-index: 8;
}*/

.headerInfo .bgall {
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;

    padding: 0 10px;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
}

.headerCity {
    color: #303030;
    left: 0;
    position: absolute;
    top: 0!important;
    z-index: 99;
}

#location-menu {
    -webkit-box-shadow: 0px 10px 27px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 27px -10px rgba(0,0,0,0.75);
box-shadow: 0px 10px 27px -10px rgba(0,0,0,0.75);
}

#search-box-menu {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
    height: 33px;
}

.searchBox .searchBoxRight {
    padding: 3px 30px 3px 0px;
    height: 33px;
}

.searchBox {
    background-image: none;
    background-color: #fff!important;
    height: 33px;
    width: 280px;
}


.searchBoxTop {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 8px;
}

.headerCity .currentBg {
    background: rgba(0, 0, 0, 0) url("img/arrow-down.png") no-repeat scroll right center;
    padding: 0 25px 0 0;
    font-weight: normal;
}

.searchBox .inputSearch {
    color: #06ab4c;
    font-size: 14px;
    margin: 1px 0 0 14px;
    width: 217px;
    background-color: #fff!important;
    outline: none;
}

.searchBox .btnsearch {
    background: rgba(0, 0, 0, 0) url("img/search.png") no-repeat scroll left center;
}

.searchBox .searchBoxLeft {
    background-image: none;
    background-position: -10px -529px;
    height: 33px;
    padding: 0 0 0 10px;
}

input#searchsubmit {
    position: absolute;
    top: 3px;
    right: 30px;
    cursor: pointer;
}

.headerCity .title {
    background: rgba(0, 0, 0, 0) url("img/map.png") no-repeat scroll left center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 49px;
    line-height: 48px;
    padding: 0 10px 0 30px;
    min-width: 205px;
}

.headerCity {
    color: #fff;
    left: 0;
    position: absolute;
    top: 0 !important;
    z-index: 99;
}

.headerCity {
    box-shadow: none;
}

.headerCity a {
    margin-top: 3px;
    line-height: 29px;
    padding: 0px 10px 0px 34px;
}

.headerCity .title:hover {
    background: rgba(0, 0, 0, 0) url("img/map.png") no-repeat scroll left center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 49px;
    line-height: 48px;
    padding: 0 10px 0 30px;
}

.scrollup {
    opacity: 0.5;
}

/* BRANDLINE */

.brandline {
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 43px;
}

.brandline .headerBarMenu {
    margin: 0 auto;
    width: 1064px;
}

.brandline .headerInfo, .brandline .headerGoldInfo {
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 0!important;
    position: relative;
    z-index: 8;

}

.brandline .shopnewIconHeader, {
    margin: 0 10px 0 5px!important;
    position: relative;
    z-index: 8;
}

.shopnewIconHeader {
    margin: 0 10px 0 5px;
    position: relative;
    z-index: 8;
}

.brandline .shopnewIconHeader .retinaiconbox .retinaicon-circ {
    border-radius: 50%;
    font-size: 20px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    margin: 0;
    border: 0;
    background-color: transparent;
    color: #888;
    padding: 4px 3px 3px 3px;
}

.brandline .shopnewIconHeader .v7unOrderheader span,
.brandline .shopnewIconHeader .v7likeheader span,
.brandline .shopnewIconHeader .retinaiconbox span.item {
    background-color: rgba(255, 120, 0, 1);
    border-radius: 18px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    margin: -10px 0 0 12px;
    padding: 2px 4px;
    text-align: center;
}

.brandline .headerInfo .bgall {
    background-color: transparent;
    border: 1px solid #888;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    color: #888 !important;
    padding: 0 10px;
    margin-left: 10px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.brandline .headerInfo .bgall:hover {
    border: 1px solid #333;
}

.brandline .v7linkbtn,
.headerInfo .content a {
    color: #888;
    font-size: 11px;
    font-weight: normal;
}
.brandline .v7linkbtn:hover,
.headerInfo .content a:hover {
    color: #333;
}

.brandline .retinaicon-facebook,
.brandline .retinaicon-shopping-cart{
    color: #888;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.brandline .retinaicon-facebook:hover,
.brandline .retinaicon-shopping-cart:hover {
    color: #333!important;
}


/* FRONT SLIDER */

/*#soliloquy-container-401 {
    background-image: none;
    height: auto;
    left: 0;
    max-height: 500px;
    max-width: 2000px;
    position: absolute;
    right: 0;
    top: 171px;
}

.sc_container {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 100%;
}

.sc_container .column, .sc_container .columns {
    display: inline-block;
    float: left;
    margin: 10px;*/

.home .soliloquy-container.soliloquy-transition-fade.soliloquy-theme-classic {
    max-width: 100%;
}

.home_ver7 .main-width {
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.home .home_ver7,
.logged-in .home .home_ver7 {
    background-color: #1b0021;
    width: 100%;
    max-width: 100%;
}

.logged-in.custom-background.chrome.loaded .main {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;

    height: 100%;
    min-height: 440px;
}

.logged-in .home .main {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background-color: #1b0021;
    height: 100%;
    min-height: 440px;
}


.home .home_ver7 .soliloquy-theme-classic .soliloquy-pager {
    bottom: 90px!important;
    height: 14px;
    margin: 0 0 0 5px;
    position: absolute;
    text-align: center!important;
    width: 100%;
}

.soliloquy-pager-item {
    margin: 0 2px!important;
}

.soliloquy-theme-classic .soliloquy-pager-link {
    margin: 0 2px!important;
}


.block-content {
    background: transparent;
    margin: 0;
}


/* FRONT TOP 3 PONUDBE */

.home .home-latest-delas {
    margin: -1px 0px 0 0px;
}

.home .main-content {
    height: 308px;
    position: relative;
}

.home .main-content .box-suport {
    border-radius: 10px;
    margin-top: 0;
}
/*.main-content .sContainer {
    background: rgba(27, 0, 33, 0.8) none repeat scroll 0 0;
    border: 0 none;
    left: -445px;
    margin-left: 50%;
    position: absolute;
    top: -82px;
    width: 890px;
}*/

.home .main-content .sContainer {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    border: 0 none;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: -82px;
    width: 100%;
    max-width: 770px;
}

.home .main-content .sTitle {

    display: none;
}

.home .main-content .title {
    display: none;
}

.home .main-content .negative-wrap {
    margin: 0;
}

.home .main-content .ca-item-main {
    display: block;
    float: left;
    margin: 5px;
    overflow: visible !important;
    width: 230px;
    padding: 10px;
    position: absolute;
    height: 340px;
    border-radius: 0px;
        -moz-border-radius: 0px;
}

.home .main-content .ca-item {
    float: left;
    height: 350px;
    position: relative;
    width: 250px;
    padding: 10px;
}


/*
.main-content .v7price_promotionsmall {
    background: rgba(255, 135, 207, 1) none repeat scroll 0 0;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 25px;
    font-weight: normal;
    height: 60px;
    line-height: 58px;
    margin: 0;
    padding-top: 0;
    right: 5px;
    top: 4px;
    width: 60px;
    z-index: 6;
}*/


.home .main-content .v7price_promotionsmall {
    background-color: rgba(255, 135, 207, 0.9);
    background-image: none !important;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-top: 0;
    left: 10px;
    text-align: center;
    top: 0;
    width: auto;
    z-index: 6;
    padding: 10px;
    line-height: inherit;
}


.home .main-content .ca-item a.deal_title {
    border-bottom: 1px dashed #ccc;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    line-height: 20px;
    margin: 5px 0;
    max-height: 101px !important;
    overflow: hidden;
    padding: 5px 0 16px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    width: 100%;
}


.home .main-content .wp-post-image {
    height: auto;
    width: 100%;
}

.home .main-content2 .ca-more,
.home .main-content2 .ca-more-2,
.home .main-content .ca-more,
.home .main-content .ca-more-2,
.single .main .ca-more,
.single .main .ca-more-2{
    background: #fa7621;;
    color: #fff;
    background-image: none !important;
    border: 1px solid #fa7621;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
    
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0;
    padding: 4px 14px 3px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}


.home .main-content2 .ca-more:hover,
.home .main-content2 .ca-more-2:hover,
.home .main-content .ca-more:hover,
.home .main-content .ca-more-2:hover,
.single .main .ca-more:hover,
.single .main .ca-more-2:hover {
    background-color: #fff;
    color: #fa7621;
    border: 1px solid #fa7621;
}

.home .main-content .wp-post-image {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.home .main-content .wp-post-image:hover {
    transform:scale(1.05);
}

.home .main-content .ca-icon {
    height: 141px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%px;
}

.home .ca-item-main .deal_description {
    display: none!important;
}



/* FRONT PONUDBE */


.home .main-content2 {
    /*background-color: #fff;*/
    /*padding-top: 90px;*/
    width: 100%;
   /* background-image: url("img/prevzem-bg.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
}

.home .main-content2 .mTop20.pTop15 {
    margin: 0 auto;
    max-width: 1064px;
    width: 100%;
    /*background-color: #EBEBEB;*/
    position: relative;
}

.home .main-content2 .weekly .homecate_c {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.home .main-content2 .homecate_c {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.home .main-content2 .weekly2 {
    background: none;
    border-bottom: 0;
    border-top: 0;

}

.home .v7linkcate {
    color: #056bac;
    display: none;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
}


.home .main-content2 .v7price_promotionsmall,
.home .main-content .v7price_promotionsmall {
    background: rgba(255, 120, 0, 0.9) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-size: 22px !important;
    left: 10px;
    margin-left: 0;
    padding-top: 0;
    padding: 10px;
    text-align: center;
    top: 10px;
    width: auto;
    z-index: 2;
    line-height: inherit;
}

.home .main-content2 .v7price_promotionsmall span {
    font-size: 20px;
}


.home .v7PromotionSmall {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

.home .main-content2 .ca-item-main {
    overflow: visible;
}


.home .main-content2 .ca-item-main {
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0px;
    padding: 10px;
}

.home .main-content2 .ca-item-main:hover {
    border: 1px solid #999;
}

.home .main-content2 .ca-item {
    float: left;
    min-height: 352px;
    position: relative;
    width: 245px;
    height: auto;
}

.home .main-content2 .ca-nav span {
    background: transparent url("img/button/arrows.png") no-repeat scroll left top / 200% auto;
    cursor: pointer;
    height: 38px;
    left: -24px;
    margin-top: -19px;
    opacity: 0.7;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 25px;
    z-index: 100;
}

.home .main-content2 .ca-nav span.ca-nav-next {
    background: transparent url("img/button/arrows.png") no-repeat scroll right top / 200% auto;
    cursor: pointer;
    height: 38px;
    right: -24px;
    margin-top: -19px;
    opacity: 0.7;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 25px;
    z-index: 100;
    left: auto;
}

.home .main-content2 .ca-icon {
    height: 143px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%px;
}

 .home .main-content2 .ca-item a.deal_title{
    border-bottom: 1px dashed #ccc;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin: 6px 0 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 102px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}


.home .main-content2 .ca-item a.deal_title:hover {
    color: #333;
}

.home .ca-item-main .deal_description {
    color: #888;
    display: block;
    font-size: 13px;
    line-height: 18.3px;
    font-weight: lighter;
}


.home .main-content2 .attachment-wpg_217x217.wp-post-image {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    width: 214px;
    height: auto;
}

.home .main-content2 .attachment-wpg_217x217.wp-post-image:hover {
    transform:scale(1.05);
}

.home .main-content2 .attachment-wpg_210x158.wp-post-image {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    width: 213px;
    height: auto;
}

.home .main-content2 .attachment-wpg_210x158.wp-post-image:hover {
    transform:scale(1.05);
}

.home .v6TitleCate h2 {
    color: #333;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}





/* PODSTRAN KATEGORIJE */

.archive.tax-wg_category .home_ver7,
.archive.post-type-archive .home_ver7,
.page .home_ver7,
.archive.post-type-archive .home_ver7 {
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.archive.tax-wg_category .main,
.archive.post-type-archive .main,
.page .main,
.archive.post-type-archive .main {
    margin: 0 auto;
}

.archive.tax-wg_category .main-content,
.archive.post-type-archive .main-content,
.page .main-content,
.archive.post-type-archive .main-content {
    background-color: transparent;
/*    background-image: url("img/prevzem-bg.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    /*padding-top: 90px;*/
    width: 100%;
}

.archive.tax-wg_category .v6ContentCat,
.archive.post-type-archive .v6ContentCat,
.page .v6ContentCat,
.archive.post-type-archive .v6ContentCat {
    background-color: #ebebeb;
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 1064px;
    width: 100%;
    display: grid;
    padding: 0 0 35px 0;
}

.archive.tax-wg_category .main-width.v7Soldbg,
.archive.post-type-archive .main-width.v7Soldbg,
.page .main-width.v7Soldbg,
.archive.post-type-archive .main-width.v7Soldbg  {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.archive.tax-wg_category .list-rands,
.archive.post-type-archive .list-rands,
.page .list-rands,
.archive.post-type-archive .list-rands {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
}

/*ca-item-main {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 5px;
    box-shadow: 0 1px 1px 1px rgba(70, 70, 70, 0.2);
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}*/

.archive.tax-wg_category .list-rands:hover,
.archive.post-type-archive .list-rands:hover,
.page .list-rands:hover,
.archive.post-type-archive .list-rands:hover {
    border: 1px solid #06ab4c;
}

.archive.tax-wg_category .list-rands-over,
.archive.post-type-archive .list-rands-over,
.page .list-rands-over,
.archive.post-type-archive .list-rands-over {
    display: inline-block;
    float: left;
    height: 360px;
    margin: 0;
    min-height: 350px;
    overflow: visible;
    position: relative;
    width: 245px;
    margin: 0;
}

.archive.tax-wg_category .v6ItemHotImg.v6hover.v7Relative,
.archive.post-type-archive .v6ItemHotImg.v6hover.v7Relative,
.page .v6ItemHotImg.v6hover.v7Relative,
.archive.post-type-archive .v6ItemHotImg.v6hover.v7Relative {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.archive.tax-wg_category .titledeals2,
.archive.post-type-archive .titledeals2,
.page .titledeals2,
.archive.post-type-archive .titledeals2 {
    color: #777;
    font-size: 14px;
    height: auto;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
}

.archive.tax-wg_category .titledeals2 a,
.archive.post-type-archive .titledeals2 a,
.page .titledeals2 a,
.archive.post-type-archive .titledeals2 a {
    color: #444;
    display: block;
    font-size: 16px;
    width: 100%;
    display: block;
}

.archive.tax-wg_category .v7PromotionBigSold,
.archive.post-type-archive .v7PromotionBigSold,
.page .v7PromotionBigSold,
.archive.post-type-archive .v7PromotionBigSold {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.archive.tax-wg_category .ca-more.v7view.fr.fixPNG.mTop20.w45,
.archive.post-type-archive .ca-more.v7view.fr.fixPNG.mTop20.w45,
.page .ca-more.v7view.fr.fixPNG.mTop20.w45,
.archive.post-type-archive .ca-more.v7view.fr.fixPNG.mTop20.w45 {
    background-image: none !important;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
    font-size: 15px;
    font-weight: normal;
    margin: 7px 0;
    padding: 4px 14px 4px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    background-color: #06ab4c;
    border: 1px solid #06ab4c;
    color: #fff;

}

.archive.tax-wg_category .ca-more.v7view.fr.fixPNG.mTop20.w45:hover,
.archive.post-type-archive .ca-more.v7view.fr.fixPNG.mTop20.w45:hover,
.page .ca-more.v7view.fr.fixPNG.mTop20.w45:hover,
.archive.post-type-archive .ca-more.v7view.fr.fixPNG.mTop20.w45:hover {
    background-color: #fff;
    border: 1px solid #06ab4c;
    color: #06ab4c;
}

.archive.tax-wg_category .titledeals2 a,
.archive.post-type-archive .titledeals2 a,
.page .titledeals2 a,
.archive.post-type-archive .titledeals2 a {
    border-bottom: 1px dashed #ccc;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    line-height: 20px;
    margin: 6px 0 4px;
    max-height: 102px;
    overflow: hidden;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
}

.archive.tax-wg_category .v6TopBorder,
.archive.post-type-archive .v6TopBorder,
.page .v6TopBorder,
.archive.post-type-archive .v6TopBorder {
    background-color: #fff;
    margin-top: 1px;
    padding: 5px 0;
}

.archive.tax-wg_category .v6ContentHot,
.archive.post-type-archive .v6ContentHot,
.page .v6ContentHot,
.archive.post-type-archive .v6ContentHot {
    border-bottom: 0;
}

.archive.tax-wg_category .v7bnew,
.archive.post-type-archive .v7bnew,
.page .v7bnew,
.archive.post-type-archive .v7bnew {
    color: #333;
    font-size: 13px !important;
    font-weight: normal;
    text-align: left;
    text-transform: unset;
}

.archive.tax-wg_category .deal_description,
.archive.post-type-archive .deal_description,
.page .deal_description,
.archive.post-type-archive .deal_description {
    color: #888;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    line-height: 18.3px;
}

.archive.tax-wg_category h2,
.archive.post-type-archive h2,
.page h2,
.archive.post-type-archive h2 {
    color: #333;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.archive.tax-wg_category .v7PromotionBigSold,
.archive.post-type-archive .v7PromotionBigSold,
.page .v7PromotionBigSold,
.archive.post-type-archive .v7PromotionBigSold {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

.archive.tax-wg_category .attachment-wpg_290x290.wp-post-image,
.archive.post-type-archive .attachment-wpg_290x290.wp-post-image,
.page .attachment-wpg_290x290.wp-post-image,
.archive.post-type-archive .attachment-wpg_290x290.wp-post-image {
    width: auto;
    height: 214px;
    display: block;
}

.archive.tax-wg_category .v6ItemHotImg.v6hover.v7Relative > a,
.archive.post-type-archive .v6ItemHotImg.v6hover.v7Relative > a,
.page .v6ItemHotImg.v6hover.v7Relative > a,
.archive.post-type-archive .v6ItemHotImg.v6hover.v7Relative > a {
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    display: block;

}

.archive.tax-wg_category .v6ItemHotImg.v6hover.v7Relative > a:hover,
.archive.post-type-archive .v6ItemHotImg.v6hover.v7Relative > a:hover,
.page .v6ItemHotImg.v6hover.v7Relative > a:hover,
.archive.post-type-archive .v6ItemHotImg.v6hover.v7Relative > a:hover {
    transform:scale(1.05);    
}

.archive.tax-wg_category .box-frame-center,
.archive.post-type-archive .box-frame-center,
.page .box-frame-center,
.archive.post-type-archive .box-frame-center {
    padding:1;
}

/* PODSTRAN KATEGORIJE ponudnika */
.single.single-wg_merchant .home_ver7 {
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.single.single-wg_merchant .main {
    margin: 0 auto;
}

.single.single-wg_merchant .main-content {
    background-color: transparent;
/*    background-image: url("img/prevzem-bg.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    /*padding-top: 90px;*/
    width: 100%;
}

.single.single-wg_merchant .v6ContentCat {
    background-color: #ebebeb;
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 1064px;
    width: 100%;
    display: grid;
    padding: 0 0 35px 0;
}

.single.single-wg_merchant .main-width.v7Soldbg  {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.single.single-wg_merchant .list-rands {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
}

/*ca-item-main {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 5px;
    box-shadow: 0 1px 1px 1px rgba(70, 70, 70, 0.2);
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}*/

.single.single-wg_merchant .list-rands:hover {
    border: 1px solid #06ab4c;
}

.single.single-wg_merchant .list-rands-over {
    display: inline-block;
    float: left;
    height: 360px;
    margin: 0;
    min-height: 350px;
    overflow: visible;
    position: relative;
    width: 245px;
    margin: 0;
}

.single.single-wg_merchant .v6ItemHotImg.v6hover.v7Relative {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.single.single-wg_merchant .titledeals2 {
    color: #777;
    font-size: 14px;
    height: auto;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
}

.single.single-wg_merchant .titledeals2 a {
    color: #444;
    display: block;
    font-size: 16px;
    width: 100%;
    display: block;
}

.single.single-wg_merchant .v7PromotionBigSold {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.single.single-wg_merchant .ca-more.v7view.fr.fixPNG.mTop20.w45 {
    background-image: none !important;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
    font-size: 15px;
    font-weight: normal;
    margin: 7px 0;
    padding: 4px 14px 4px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    background-color: #06ab4c;
    border: 1px solid #06ab4c;
    color: #fff;

}

.single.single-wg_merchant .ca-more.v7view.fr.fixPNG.mTop20.w45:hover {
    background-color: #fff;
    border: 1px solid #06ab4c;
    color: #06ab4c;
}

.single.single-wg_merchant .titledeals2 a {
    border-bottom: 1px dashed #ccc;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    line-height: 20px;
    margin: 6px 0 4px;
    max-height: 102px;
    overflow: hidden;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
}

.single.single-wg_merchant .v6TopBorder {
    background-color: #fff;
    margin-top: 1px;
    padding: 5px 0;
}

.single.single-wg_merchant .v6ContentHot {
    border-bottom: 0;
}

.single.single-wg_merchant .v7bnew {
    color: #333;
    font-size: 13px !important;
    font-weight: normal;
    text-align: left;
    text-transform: unset;
}

.single.single-wg_merchant .deal_description {
    color: #888;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    line-height: 18.3px;
}

.single.single-wg_merchant h2 {
    color: #333;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.single.single-wg_merchant .v7PromotionBigSold {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

.single.single-wg_merchant .attachment-wpg_290x290.wp-post-image {
    width: auto;
    height: 214px;
    display: block;
}

.single.single-wg_merchant .v6ItemHotImg.v6hover.v7Relative > a {
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    display: block;

}

.single.single-wg_merchant .v6ItemHotImg.v6hover.v7Relative > a:hover {
    transform:scale(1.05);    
}

.single.single-wg_merchant .box-frame-center {
    padding:1;
}


/* PODSTRAN REGIJE */

.archive.tax-wg_location .home_ver7 {
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.archive.tax-wg_location .main {
    margin: 0 auto;
}

.archive.tax-wg_location .main-content {
    background-color: transparent;
/*    background-image: url("img/prevzem-bg.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 0px;
    width: 100%;
}

.archive.tax-wg_location .v6ContentCat {
    background-color: #ebebeb;
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 1064px;
    width: 100%;
    display: grid;
    padding: 0 0 35px 0;
}

.archive.tax-wg_location .main-width.v7Soldbg  {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.archive.tax-wg_location .list-rands {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
}

/*ca-item-main {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 5px;
    box-shadow: 0 1px 1px 1px rgba(70, 70, 70, 0.2);
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}*/

.archive.tax-wg_location .list-rands:hover {
    border: 1px solid #06ab4c;
}

.archive.tax-wg_location .list-rands-over {
    display: inline-block;
    float: left;
    height: 360px;
    margin: 0;
    min-height: 350px;
    overflow: visible;
    position: relative;
    width: 245px;
    margin: 0;
}

.archive.tax-wg_location .v6ItemHotImg.v6hover.v7Relative{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.archive.tax-wg_location .titledeals2 {
    color: #777;
    font-size: 14px;
    height: auto;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
}

.archive.tax-wg_location .titledeals2 a {
    color: #444;
    display: block;
    font-size: 16px;
    width: 100%;
    display: block;
}

.archive.tax-wg_location .v7PromotionBigSold {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.archive.tax-wg_location .ca-more.v7view.fr.fixPNG.mTop20.w45 {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #06ab4c;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
    color: #06ab4c;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 10px 3px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
}

.archive.tax-wg_location .ca-more.v7view.fr.fixPNG.mTop20.w45:hover {
    background-color: #06ab4c;
    border: 1px solid #06ab4c;
    color: #fff;
}

.archive.tax-wg_location .titledeals2 a {
    border-bottom: 1px dashed #ccc;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    line-height: 20px;
    margin: 6px 0 4px;
    max-height: 102px;
    overflow: hidden;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
}

.archive.tax-wg_location .v6TopBorder {
    background-color: #fff;
    margin-top: 1px;
    padding: 5px 0;
}

.archive.tax-wg_location .v6ContentHot {
    border-bottom: 0;
}

.archive.tax-wg_location .v7bnew {
    color: #333;
    font-size: 13px !important;
    font-weight: normal;
    text-align: left;
    text-transform: unset;
}

.archive.tax-wg_location .deal_description {
    color: #888;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    line-height: 18.3px;
}

.archive.tax-wg_location h2 {
    color: #333;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.archive.tax-wg_location .v7PromotionBigSold {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

.archive.tax-wg_location .attachment-wpg_290x290.wp-post-image {
    width: auto;
    height: 214px;
    display: block;
}

.archive.tax-wg_location .v6ItemHotImg.v6hover.v7Relative > a {
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    display: block;

}

.archive.tax-wg_location .v6ItemHotImg.v6hover.v7Relative > a:hover {
    transform:scale(1.05);    
}

.archive.tax-wg_location .box-frame-center {
    padding:1;
}

/* PODSTRAN PONUDBE */
.main_view {
    border: none;
    box-shadow: none;
}

.single.single-wg_deal .main_view {
    padding: 20px;
    border: none;
}

#header-menu ul.menu li.current_page_item a,
#header-menu ul.menu li.current-menu-parent a {
    background-image:none;
    color: #ffffff;
}

.single.single-wg_deal .cont-maindear {
    height: 100%;
    min-height: 430px;
    padding: 0;
}

.single.single-wg_deal .main {
    margin: 20px auto;
    width: 100%;
    max-width: 1064px;
    background: transparent;
}

.single.single-wg_deal .block-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1064px;
    background: #fff;
}

.single.single-wg_deal .leftcontents {
    width: 100%;
    float: none;
}

.single.single-wg_deal .mainimg {
    cursor: pointer;
    float: left;
    position: relative;
    width: 62%;
    overflow: hidden;
    max-height: inherit;
    margin-right: 2%;
}

.single.single-wg_deal .v7inlinetype {
    background: rgba(26, 0, 32, 0.8) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    text-transform: uppercase;
    z-index: 10;
}

.single.single-wg_deal .pricebuys span.noline {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.single.single-wg_deal .v6BorderBot {
    border-bottom: none;
    border-top: 0 none;
    display: block;
    float: left;
    height: 53px;
    padding: 10px;
    position: relative;
    width: 94%;
}

.single.single-wg_deal .v6BuyNow span.buynow_text {
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: -20px;
    padding-left: 12px;
    text-transform: uppercase;
}


.single.single-wg_deal .v6Timer {
    background-image: none;
    border-bottom: medium none;
    height: auto;
    overflow: hidden;
    padding: 0;
}

.single.single-wg_deal .v6Timer .v6DisplayTime {
    font-size: 26px;
    font-weight: bold;
    line-height: 50px;
    border: none;
    margin: 0 5px;
}

.single.single-wg_deal .v6BuyNow .retinaiconbox .retinaicon-shopping-cart {
    color: #fff;
    font-size: 22px;
    line-height: 41px;
    margin-left: 25px;
}

.single.single-wg_deal .v6BuyNow .retinaiconbox {
    background-color: #06ab4c;
    background-image: none;
    border-radius: 25px;
    color: #fff;
    font-size: 24px;
    height: auto;
    line-height: 38px;
    padding: 2px;
    text-align: center;
    width: auto;
}

.single.single-wg_deal .v6TitleShort.h70 > h1 {
    display: block;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    margin: 10px 0 20px;
    color: #333;
    border-bottom: 1px dashed #333;
}

.single.single-wg_deal .title-maindear {
    padding: 0;
    margin: 0;
}

.single.single-wg_deal .attachment-wpg_475x475.wp-post-image {
    height: 430px;
    width: auto;
}

.single.single-wg_deal .attachment-wpg_640x430.wp-post-image {
    width: 100%;
    height: auto;
}

.single.single-wg_deal .title-maindear .v6TitleShort {
    color: #666;
    height: auto;
    text-align: left;
}

.single.single-wg_deal .right-contdear {
    border-left: 0;
    float: right;
    height: unset;
    width: 35%;
}

.single.single-wg_deal .shopBuy,
.single.single-wg_deal .shoppromotion,
.single.single-wg_deal .shoptime {
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
    color: #333;
    float: left;
    /*height: 100%;*/
    width: 94%;
    padding: 10px;
}

.single.single-wg_deal .shopinfo {
    background-color: #fff;
    border-bottom: 0;
    display: block;
    float: left;
    height: auto;
    overflow: visible;
    width: 100%;
}

.single.single-wg_deal .shopMoreInfo {
    font-size: 26px;
    font-weight: bold;
    margin: 0 5px;
    text-align: left;
}

.single.single-wg_deal .shoptime > .shopMoreInfo {
    text-decoration: line-through;
}

.single.single-wg_deal .shopTitleInfo {
    color: #777;
    display: block;
    font-size: 13px;
    margin: 0 5px;
    text-align: left;
    font-weight: normal;
}

.single.single-wg_deal .countdown_timer_label {
    color: #777;
    display: block;
    font-size: 13px;
    line-height: 13px!important;
    font-weight: normal;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 0;
}

.single.single-wg_deal .btn {
    border: 1px solid #06ab4c;
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
    padding: 10px 20px;
    background-color: #fff;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.single.single-wg_deal .btn:hover {
    background-color: #06ab4c;
    color: #fff;
}

.single.single-wg_deal .boxPrices_view .shopTitleInfo {
    color:#06ab4c;
}

.single.single-wg_deal .v6BuyNow {
    margin: 0 0 ;
    text-align: center;
    width: 220px;
}

.single.single-wg_deal .v6BuyNow span.buynow_text {
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: -20px;
    padding-left: 12px;
    text-transform: uppercase;
}

.single.single-wg_deal .boxPrices {
    height: auto;
}

.single.single-wg_deal .boxPrices_view {
    background-image: none;
    background-position: center top;
    height: auto;
    left: 0!important;
    position: relative;
    width: auto;
    z-index: 3;
    padding: 10px;
    margin: 0;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;
}

.single.single-wg_deal .mTop10,
.single.single-wg_deal #mTop10 {
    margin-top: 10px;
}

.single.single-wg_deal .v6Price {
    color: #06ab4c;
    font-weight: bold;
    height: auto;
    text-align: left;
    margin: 3px;
}

.single.single-wg_deal .buynow_btn {
    background-color: #06ab4c;
}

.single.single-wg_deal .v7price_promotion,
.single.single-wg_deal .v7price_promotionsmall,
.v7price_promotion,
.v7price_promotionsmall {
    background-image: none;
    background: rgba(255, 120, 0, 0.9) none repeat scroll 0 0;
    background-position: center top;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    height: auto;
    margin: 0;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: auto;
    z-index: 1;
    line-height: inherit;
    padding: 10px;
}

.single.single-wg_deal .v7price_promotion span.deal-savings {
    font-size:34px;
}

.v7price_promotion span.deal-savings,
.v7price_promotion,
.v7price_promotionsmall  {
    font-size: 24px;
}

.boxcategory, .boxdetailAdvan {
    display: none;
}

.single.single-wg_deal .right-deal-info {
    display: inline-block;
    float: right;
    width: 35%;
    padding: 10px 10px 10px 30px;
    border-left: 1px dashed #06ab4c;
}

/*.single.single-wg_deal .right-deal-info *//*li:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(/wp-content/themes/WPGroupbuy/style/images/icon/check-mark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
    list-style-type: none;
}*/


/* green check li */

.single.single-wg_deal .right-deal-info .pogoji li,
.single.single-wg_deal .right-deal-info .ostaliPogoji li{
    list-style: none;
    margin: 0 0 10px 0;
} 

.single.single-wg_deal .right-deal-info .pogoji li:before,
.single.single-wg_deal .right-deal-info .ostaliPogoji li:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 15px;
    background-image: url("/wp-content/themes/WPGroupbuy/style/images/icon/check-mark.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
}

/* yellow star li */

.single.single-wg_deal .main_view .main-boxcontFull li {
    list-style: none;
    margin: 0 0 10px 0;
} 

.single.single-wg_deal .main_view .main-boxcontFull li:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 15px;
    background-image: url("../WPGroupbuy/style/images/icon/star-bullet.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
}

.single.single-wg_deal .main-boxcontFull {
    display: inline-block;
    margin: 0;
    width: 65%;
}

.single.single-wg_deal h1 {
    border-bottom: 1px dashed #06ab4c;
    color: #06ab4c;
    font-size: 22px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.single.single-wg_deal h2{
    color: #333;
    margin: 20px 0 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.single.single-wg_deal h3{
    color: #333;
    margin: 0px 0 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.single.single-wg_deal .offerLink > h3 {
    color: #06ab4c !important;
    font-size: 25px !important;
    line-height: 34px;
}

.pogoji, .moznosti, .unovcljivost, .pomoc, .ostaliPogoji {
    margin-bottom: 40px;
}

.single.single-wg_deal .pogoji,
.single.single-wg_deal .moznosti,
.single.single-wg_deal .pomoc,
.single.single-wg_deal .unovcljivost,
.single.single-wg_deal .ostaliPogoji, {
    color: #777;
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 30px;
}

.single.single-wg_deal .pogoji > p,
.single.single-wg_deal .pomoc p,
.single.single-wg_deal .moznosti p, {
    margin: 6px 0 10px;
    line-height: 20px;
    color: #777;
}

.single.single-wg_deal p {
    color: #777;
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 20px;
}

.single.single-wg_deal p span {
    color: #777 !important;
}

.single.single-wg_deal .main_view li {
    color: #777 !important;
    margin: 10px 10px;
    list-style-type: circle;
}

.single.single-wg_deal .soliloquy-slider li {
    margin: 0;
} 


.single.single-wg_deal strong {
    color: #777 !important;
    font-size: 14px;
}

.main_view.pBottom10 {
    display: none;
}

.single.single-wg_deal .offer-details > ul > li,
.single.single-wg_deal .offer-description .offer-normal_text, {
    color: #777;
    line-height: 20px;
    font-size: 14px!important;
    margin: 2px 0;
}

.single.single-wg_deal .title_bold, .title_bold_blueGay {
    border-bottom: 1px dashed #06ab4c;
    color: #06ab4c;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.single.single-wg_deal .offer-details > ul {
    margin: 10px 0 20px 20px;
}


.single.single-wg_deal .offer-details li,
.single.single-wg_deal .offer-description {
    color: #777;
    font-size: 14px;
    line-height: 20px;
    margin: 2px 0;
}

.single.single-wg_deal .offer_company_info_wrap {
    font-size: 14px;
    line-height: 20px;
}

.single.single-wg_deal .offer_company_title {
    margin: 10px 0;
    font-weight: bold;
}

.single.single-wg_deal .contents {
    padding: 10px 30px 10px 10px;
    margin-right: 0;
    font-size: 14px;
}


.single.single-wg_deal .offer-gallery {
    margin-top: 20px;
}

.single.single-wg_deal a {
    color: #06ab4c;
}

.single.single-wg_deal a:hover {
    color: #333;
    text-decoration: none;
}

.single.single-wg_deal .right_contents {
    display: none;
}


.single.single-wg_deal .main_view.other-offers {
    padding: 30px !important;
    min-height: 520px;
    height: 100%
}


.single.single-wg_deal .other-offers h1 {
    border-bottom: 1px dashed #777;
    font-size: 36px;
    font-weight: normal;
    padding: 0 0 10px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #333!important;
    margin-top: 0;
}

.single.single-wg_deal .offer {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px; 
}

.single.single-wg_deal .offer > h3 {
    color: #06ab4c !important;
    font-size: 28px !important;
    text-transform: none!important;
    font-weight: bold;
}

.single.single-wg_deal .offer > div > ul > li {
    list-style: none;
    color: #333;
    font-size: 13px;
    line-height: 20px;
    margin: 2px 0 0 10px;
    list-style: inside none disc;
}

.single.single-wg_deal .offer .btn {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
    padding: 10px 20px;
    background-color: #06ab4c;
    color: #fff;
    border-color: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
    float: left;
    text-align: center;
    line-height: 22px;
    display: block;
    text-transform: uppercase;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.single.single-wg_deal .offer-link {
    display: block;
    height: auto;
}


.single.single-wg_deal .offer .btn:hover {
    background-color: #fff;
    color: #06ab4c;
    border-color: 1px solid #06ab4c;
}

.single.single-wg_deal .numbers {
    color: #333;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.single.single-wg_deal .numbers > span {
    color: #06ab4c;
    font-weight: bold;
}

.single.single-wg_deal .info {
    padding: 10px;
}


.single.single-wg_deal .offer .price {
    color: #333;
    display: block;
    float: none;
    font-size: 26px;
    font-weight: lighter;
    margin: 10px 20px 0 0;
}

.single.single-wg_deal .price > span {
    font-weight: bold;
    color: #333;
}


#wlt-DealView .single.single-wg_deal li {
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
    color: #777;
}

.single.single-wg_deal .description.content {
    font-size: 14px;
    line-height: 22px;
    color: #777;
    margin-top: 20px;
    border-top: 1px dashed #ccc;
    padding-top: 20px;
}

.contents {
    text-align: left;
}

#wlt-DealView .importantThings.last {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px dashed #ccc;
    border-image: none;
    border-left: 6px solid #333 !important;
    border-right: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    margin: 30px 0;
    padding: 20px 20px 5px;
}

.importantThings.last li {
    font-size: 14px;
    line-height: 26px;
}

.soliloquy-container .soliloquy-pager-link {
    background-size: 100% !important;
    margin: 0 5px !important;
}



/* CART */

.sell1 .profileAddGoldV6  {
    background-color: #06ab4c;
    background-image: none !important;
    color: #fff!important;
    border: 1px solid #06ab4c!important;
    -webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px!important;
    box-shadow: none;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 5px 15px 5px!important;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    line-height: inherit!important;
    height: auto!important;
    width: auto!important;

        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sell1 .profileAddGoldV6:hover {
    background-color: #fff;
    color: #06ab4c!important;
}

.sell1 {
    max-width: 1064px;
    width: 100%;
}

.single.single-wp_router_page.loaded .rightMainBox {
    display: none;
    float: right;
    width: 235px;
}


.leftMainBox {
    max-width: 1064px;
    width: 77%;
}

a {
    color: #06ab4c;
}

a:hover {
    color: #333;
    opacity: 1;
    text-decoration: none;
}

.listingOrder .itemProfile,
.price, td.price {
    color: #333;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.itemProfile.bRight.cart-quantity.odd {
    text-align: center;
}



/* LOGIN */

.logged-in.admin-bar .reportTypev6 a {
    font-size: 16px;
}

.logged-in.admin-bar .menuFilters {
    margin: 10px 0 30px 0;
}

.logged-in.admin-bar .menuFilters li a {
    font-size: 14px;
    color: #777;
    font-weight: normal;
}

.logged-in.admin-bar .menuFilters li a:hover {
    color: #333;
}

.logged-in.admin-bar .menuFilters li a.active {
    font-size: 14px;
    color: #333;
    font-weight: normal;
}

.logged-in.admin-bar .listingOrder .noneborderbot {
    color: #fff;
    font-weight: normal;
}

.logged-in.admin-bar .listingOrder .headProfile,
.logged-in.admin-bar .listingOrder .headProfileCenter {
    background-color: #06ab4c;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px;
}

.logged-in.admin-bar tr {
    background: transparent;
}

.logged-in.admin-bar #listData tr.odd {
    background: rgba(244, 197, 225, 0.3);
}

.logged-in.admin-bar #listData tr.odd:hover {
    background: rgba(244, 197, 225, 0.3);
}

.logged-in.admin-bar #wg-account-account-info tr.odd,
.logged-in.admin-bar #wg-account-contact-info tr.odd,
.logged-in.admin-bar #wg-account-mailinglist-info tr.odd {
    background: transparent !important;
}


.logged-in.admin-bar #wg-account-account-info tr.odd:hover,
.logged-in.admin-bar #wg-account-contact-info tr.odd:hover,
.logged-in.admin-bar #wg-account-mailinglist-info tr.odd:hover {
    background: transparent !important;
}

.logged-in.admin-bar #wpg_checkout legend,
.logged-in.admin-bar #wpg_account_edit legend,
.logged-in.admin-bar #wpg_login_form legend {
    margin-bottom: 20px;
    line-height: 38px;
    border-bottom: 1px dashed #ccc;
    width: 100%;
}

.logged-in.admin-bar > .wrap > .main {
    background-color: #fff;
}

.logged-in.admin-bar .profileTabV6,
.archive .profileTabV6,
.logged-in .profileTabV6{
    background-color: #fff;
}

.logged-in.admin-bar .titleProfile,
.logged-in.admin-bar .titleProfile:hover {
    color: #06ab4c;
    font-size: 13px;
    font-weight: bold;
    display: block;
}

.logged-in.admin-bar .odd .itemProfile > .w49,
.logged-in.admin-bar .odd .itemProfile > .h48 {
    width: auto !important;
    height: auto !important;
}

.logged-in.admin-bar .odd .itemProfile > .borderImg {
    width: auto !important;
}

.logged-in.admin-bar .headProfile {
    text-align: center;
}

.logged-in.admin-bar .newicon2 {
    background: none;
    padding-left: 0;
    font-size: 12px;
    /*color: #333;*/
}

.logged-in.admin-bar .onlineMerchant {
    line-height: 1;
}

.logged-in.admin-bar .reportTypev6 {
    list-style-type: none;
    margin-bottom: -1px;
    border-bottom: 1px solid #ccc;
    display: block;
    height: 35px;
    position: relative;
    width: 100%;
}

.wg_account.type-wg_account.gecko.loaded .main {
    margin: 0 auto;
    max-width: 1064px;
    width: 100%;
    margin-top: 20px;
}

.wg_account #wpg_login_form input,
.wg_account #blog-comment input,
.wg_account #wpg_checkout input,
.wg_account #claim_voucher input,
.wg_account #wpg_deal_submission input,
.wg_account #wpg_merchant_register input,
.wg_account #wpg_account_edit input {
    border: 1px solid #dddddd;
/*    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;*/
    color: #333333;
    font-family: arial;
    font-size: 14px;
    height: 29px;
    margin: 3px 0;
    padding: 4px 20px!important;
    max-width: 270px !important;
    width: 100%;
    outline: none;
}

.wg_account #wg_account_register [type="checkbox"] {
    height: auto;
    margin-right: 3px;
}

.wg_account #wpg_account_edit input[type="checkbox"] {
    height: auto;
    margin-right: 3px;
}

.wg_account #wpg_login_form input[type="submit"],
.wg_account #wpg_checkout input[type="submit"],
.wg_account #claim_voucher input[type="submit"],
.wg_account #wpg_deal_submission input[type="submit"],
.wg_account #wpg_merchant_register input[type="submit"],
.wg_account #wpg_account_edit input[type="submit"] {
    border: medium none;
    color: #06ab4c;
    cursor: pointer;
    height: 37px;
    width: auto !important;
    outline: none;
}

#wpg_checkout input[type="radio"] {
    margin-right: 6px; 
}


.wg_account #wpg_login_form input[type="submit"]:hover,
.wg_account #wpg_checkout input[type="submit"]:hover,
.wg_account #claim_voucher input[type="submit"]:hover,
.wg_account #wpg_deal_submission input[type="submit"]:hover,
.wg_account #wpg_merchant_register input[type="submit"]:hover,
.wg_account #wpg_account_edit input[type="submit"]:hover {
    color: #fff;
    outline: none;
}

#wpg_login_form input[type="submit"] {
    width: auto!important;
}



.wg_account .fl label {
    font-size: 14px;
    line-height: 46px;
    font-weight: lighter;
}

#wpg_login .first {
    margin-right: 30px !important;
    padding-right: 10px;
    text-align: right;
    width: auto;
}

#wpg_login h2 {
    color: #333;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#wpg_login .sTitle {
    /*border-bottom: 1px solid #efefef;*/
    border-bottom: none;;
    margin: 15px;
    padding-bottom: 5px;
    width: 100%;
}

#wpg_login .forgot_password,
#wpg_login .first > a {
    color: #333;
    line-height: 24px;
    font-size: 12px;
    font-weight: normal;
}


#wpg_login .forgot_password:hover,
#wpg_login .first > a:hover {
    color: #333;
    text-decoration: none;
}

#wpg_login .wp-social-login-connect-with {
    display: inline;
    float: left;
    line-height: 49px;
    margin: 0 20px 0 0;
    font-weight: lighter;
    color: #333;
}

#wpg_login .wp-social-login-provider-list a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: 888;
}

#wpg_login .text-input-sm.valid,
#wpg_login .text-input-sm {
    font-family: "Roboto"!important;
    background: #e5e5e5!important;
    border: none!important;
    -webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
    font-weight: bold;
    padding: 6px 20px !important;
    width: 100% !important;
    outline: none;
}

.wg_account #wpg_login_form input, .wg_account #blog-comment input, .wg_account #wpg_checkout input, .wg_account #claim_voucher input, .wg_account #wpg_deal_submission input, .wg_account #wpg_merchant_register input, .wg_account #wpg_account_edit input {
    font-family: "Roboto"!important;
    outline: none;
}

#rememberme {
    height: auto!important;
}


#wpg_login .mainPadding {
    margin: 0 auto;
    max-width: 1064px;
    width: 100%;
    background-color: #EBEBEB;
}





/* FOOTER */

.footer {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border: medium none;
    margin-top: 0;
    width: 100%;
    padding: 20px;
}

.footer #copyright {
    background-color: transparent;
    border: none;
}

.footer #footer_nav {
    width: 100%;
    max-width: 1064px;
}

.footer .menu {
    display: block;
}

.footer .bottom-footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0 !important;
    max-width: 1064px;
    width: 100%;
}

.footer .content-copyright {
    color: #87758f;
    font-size: 14px;
    line-height: 20px;
    font-weight: lighter;
}

.footer a {
    /*color: #67556f;*/
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 28px;
}


.footer ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 28px;
    opacity: 0.5;
}

.footer ul li a:hover {
    opacity: 1;
    color: #fff;
}

.single.single-wg_deal .footer a {
    /*color: #67556f;*/
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 28px;
}


.single.single-wg_deal .footer ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 28px;
    opacity: 0.5;
}

.single.single-wg_deal .footer ul li a:hover {
    opacity: 1;
    color: #fff;
}

.footer .forgot_password {
    color: #888 !important;
}

.footer .forgot_password,
.footer .first > a:hover {
    color: #1B0021;
    text-decoration:none;
}

.footer .fr > a > img {
    display: none;
}


/* MY CART */

.main {
    margin: 0 auto;
    max-width: 1064px;
    width: 100%;
    margin-top:20px;
}


/* sold out */

.soldout_tag {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 2;
}


/* ostale ponudbe */ 

#ca-container-merchant .ca-item-main {
    padding: 10px;
}

#ca-container-merchant .ca-icon {
    position: relative;
    margin: 0 auto;
    height: 146px;
    overflow: hidden;
}

#ca-container-merchant .single.single-wg_deal .v7price_promotionsmall {
    font-size: 18px;
}


#ca-container-merchant .v7price_promotionsmall {
    background: rgba(255, 120, 0, 0.9) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-size: 22px !important;
    left: 10px;
    margin-left: 0;
    padding-top: 0;
    padding: 10px;
    text-align: center;
    top: 10px;
    width: auto;
    z-index: 2;
    line-height: inherit;
}

#ca-container-merchant .v7price_promotionsmall span {
    font-size: 20px;
}


#ca-container-merchant .ca-item a.deal_title{
    border-bottom: 1px dashed #ccc;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin: 6px 0 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 102px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}


#ca-container-merchant .ca-item a.deal_title:hover {
    color: #333;
}

.weekly2 {
    background: #f3f3f3;
    margin-top: 40px;
    border: none;
}

.weekly.weekly2 {
    background: #fff;
}

#ca-container-merchant .v7PromotionSmall {
    color: #06ab4c;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

#ca-container-merchant .ca-item-main:hover {
    border: 1px solid #06ab4c;
}
#ca-container-merchant .ca-item-main {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
}


#scrollboxMerchant h1 {
    border-bottom: 1px dashed #06ab4c;
    color: #06ab4c;
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
}

#dockCatMerchant {
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
}

/* progress bar */

#progress_bar {
    display: block;
    margin: 10px 0;
    float: left;
    position: relative;
    height: 15px;
    clear: both;
    width: 94%;
    padding: 10px;
    margin-top: 10px !important;
}



.progress {
    display: none;
}


/* search page */

.search .main {
    padding: 30px 0;
    width: 100%;
    max-width: 1064px;
    background-color: #fff;
    margin: 20px auto;
}


.search .main_view {
    border: none;
    box-shadow: none;

}

.search .v7linkSold {
    border-bottom: 1px dashed #06ab4c;
    color: #06ab4c;
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    display: block;
    margin: 0 0 20px 0;
}

.search .right_contents {
    display: none;
}

.search .leftcontents {
    width: 100%;
}

.search .blog-post-thumb {
    float: left;
    margin: 0 10px 10px 0;
    display: inline-block;
    width: 20%;
}

.search .blog-post-content {
    text-align: justify;
    float: left;
    display: inline-block;
    width: 78%;
}

.search p {
    font-size: 14px;
    line-height: 20px;
}

.v7linkSold.fixPNG a {
    color: #06ab4c !important;
    display: block;
}


/* PREVZEM */

/*.main-content2 .left-to {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    right: 1060px !important;
    top: 0px;
    cursor: pointer;
}

.main-content2 .right-to {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    left: 1060px !important;
    top: 0px;
    cursor: pointer;
}*/

.main-content2 .left-to {
    display: none;
}

.main-content2 .right-to {
    display: none;
}

/* CART */

.single.single-wp_router_page.logged-in .main,
.single.single-wp_router_page .main {
    margin: 0 auto;
    max-width: 1064px;
    width: 100%;
    background-color: #fff;
    margin-top: 20px
}


.single.single-wp_router_page.loaded.logged-in .rightMainBox,
.logged-in .rightMainBox,
.single.single-wp_router_page.loaded .rightMainBox,
.rightMainBox {
    display: block !important;
    float: left;
    width: 235px;
    position: relative;
}

.single-wp_router_page.logged-in .newTitleV6.p0.soldLineNew.pBottom10.mBottom10,
.logged-in .newTitleV6.p0.soldLineNew.pBottom10.mBottom10,
.single-wp_router_page .newTitleV6.p0.soldLineNew.pBottom10.mBottom10,
.newTitleV6.p0.soldLineNew.pBottom10.mBottom10 {
    border: none;
    padding: 10px 0 0;
}

.single-wp_router_page.logged-in .profileHeaderTitle,
.logged-in .profileHeaderTitle,
.single-wp_router_page .profileHeaderTitle,
.profileHeaderTitle {
    font-weight: normal;
    font-size: 30px;
    color: #333;
}

.single-wp_router_page.logged-in .blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder,
.logged-in .blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder,
.single-wp_router_page .blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder,
.blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder {
    display: block;
    margin: 20px 0;
    border-bottom: 1px dashed #06ab4c;
}

.single-wp_router_page.logged-in .newTitleV6,
.logged-in .newTitleV6,
.single-wp_router_page .newTitleV6,
.newTitleV6 {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    line-height: 28px;
}


.single-wp_router_page.logged-in .title.m0.newqc,
.logged-in .title.m0.newqc,
.single-wp_router_page .title.m0.newqc,
.title.m0.newqc {
    font-size: 15px;
    margin-bottom: 14px;
    font-weight: normal;
    text-transform: inherit;
    line-height: 18px;
}

.single-wp_router_page.logged-in .soldInfo .title.m0.newqc,
.logged-in .soldInfo .title.m0.newqc,
.single-wp_router_page .soldInfo .title.m0.newqc,
.soldInfo .title.m0.newqc {
    display: none;
}


/*.single-wp_router_page .soldImgqc {
    position: relative;
    float: none;
    width: 100%;
    display: block;
}

.single-wp_router_page .wp-post-image {
    width: 100%;
    height: auto;
}*/

.single-wp_router_page.logged-in .box_discountsale,
.logged-in .box_discountsale,
.single-wp_router_page .box_discountsale,
.box_discountsale {
    background: rgba(255, 120, 0, 0.9) none repeat scroll 0 0;
    background-image: none !important;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-top: 0;
    left: 0;
    text-align: center;
    top: 0;
    width: unset !important;
    z-index: 6;
    padding: 6px;
    line-height: inherit;
    right: inherit;
    bottom: inherit;
    height: inherit;
}

.single-wp_router_page.logged-in .soldInfonew,
.logged-in .soldInfonew,
.single-wp_router_page .soldInfonew,
.soldInfonew {
    margin-left: 10px !important;
}


.single-wp_router_page.logged-in .soldInfo.soldInfonew.wauto .mTop5,
.logged-in .soldInfo.soldInfonew.wauto .mTop5,
.single-wp_router_page .soldInfo.soldInfonew.wauto .mTop5,
.soldInfo.soldInfonew.wauto .mTop5 {
    color: #06ab4c;
    font-size: 16px;
    font-weight: normal;
    margin-top: 3px;
    font-style: normal;
}


.single-wp_router_page.logged-in .soldInfonew div b,
.logged-in .soldInfonew div b,
.single-wp_router_page .soldInfonew div b,
.soldInfonew div b {
    color: #06ab4c;
    font-style: normal;
    font-size: 16px;
}


.single-wp_router_page.logged-in .soldInfonew div a,
.logged-in .soldInfonew div a,
.single-wp_router_page .soldInfonew div a,
.soldInfonew div a {
    background-color: #06ab4c;
    background-image: none !important;
    border: 1px solid #06ab4c;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 15px 4px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    display: inline-block;
    font-style: normal;
    line-height: inherit;
}

.single-wp_router_page.logged-in .soldInfonew div a:hover,
.logged-in .soldInfonew div a:hover,
.single-wp_router_page .soldInfonew div a:hover,
.soldInfonew div a:hover{
    background-color: #fff;
    border: 1px solid #06ab4c;
    color: #06ab4c;
    text-decoration: none;
}

.profileAddGoldV6 {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #06ab4c;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
    color: #06ab4c;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 15px 4px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    display: inline-block;
    font-style: normal;
    line-height: inherit;
}

#wpg_account_edit .profileAddGoldV6 {
    cursor: pointer;
    height: 44px !important;
    width: 186px !important;
    font-size: 18px !important;
    margin-top: 20px !important;
    background: #06ab4c;
    background-image: none;
    color: #fff !important;
    padding: 4px 15px!important;
    display: block;
    float: left;
    margin-bottom: 50px!important;
}

#wpg_account_edit .profileAddGoldV6:hover {
    background-color: #fff;
    background: #fff;
    border: 1px solid #06ab4c;
    color: #06ab4c!important;
    text-decoration: none;
}





.single-wp_router_page.logged-in .price.odd a,
.logged-in .price.odd a,
.single-wp_router_page .price.odd a,
.price.odd a {
    color: #06ab4c;
}

.single-wp_router_page.logged-in .price.odd a:hover,
.logged-in .price.odd a:hover,
.single-wp_router_page .price.odd a:hover,
.price.odd a:hover {
    color: #333;
    text-decoration: none;
}

.single-wp_router_page.logged-in .price, .single-wp_router_page td.price,
.logged-in .price, .single-wp_router_page td.price,
.single-wp_router_page .price, .single-wp_router_page td.price,
.price, .single-wp_router_page td.price {
    color: #06ab4c;
    font-weight: bold;
}




/*.single-wp_router_page .soldInfo.soldInfonew.wauto .buyBtn {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #06ab4c;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    box-shadow: none;
    color: #06ab4c;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 10px 3px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
}

.single-wp_router_page .soldInfo.soldInfonew.wauto .buyBtn :hover {
    background-color: #06ab4c;
    border: 1px solid #06ab4c;
    color: #fff;
}*/

.keepshp {
    color: #06ab4c;
}

.keepshp:hover {
    color: #333;
}

.single.single-wp_router_page.logged-in .main_viewprofile,
.logged-in .main_viewprofile,
.single.single-wp_router_page.logged-in .sell1,
.logged-in .sell1,
.single.single-wp_router_page.logged-in .profileCus,
.logged-in .profileCus,
.single.single-wp_router_page .main_viewprofile,
.main_viewprofile,
.single.single-wp_router_page .sell1,
.sell1,
.single.single-wp_router_page .profileCus,
.profileCus{
    box-shadow: none;
    border: none;
}

.single.single-wp_router_page.logged-in .profileHeaderTop,
.logged-in .profileHeaderTop,
.single.single-wp_router_page .profileHeaderTop,
.profileHeaderTop {
    background-color: #fff;
}

.home .home_ver7 {
    background-color: #fff !important;
    width: 100%;
    max-width: 100%;
}

#notification {
    position: fixed;
    text-align: center;
    z-index: 9999;
    font-size: 15px!important;
    font-weight: normal;
    padding: 0;
    color: #fff;
    background: transparent!important;
    text-transform: uppercase;
}

#notification .error {
    background: red;
    color: #fff;
    padding: 11px 0;
}

#notification .info {
    background: #15b009;
    padding: 11px 0;
    color: #fff;
}


.profileContainer {
    background: #fff none repeat scroll 0 0;
    border-top: none;
    margin-top: 0px;
    padding: 15px 20px;

}

#wpg_deal_submission .edit-td,
#wpg_merchant_register .edit-td,
#wpg_account_edit .edit-td,
.edit-td {
    width: 220px;
    vertical-align: top;
}

.sTitle {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dashed #777;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*bytheway*/

.fr.dsp_inh.mTop-35 {
    position: relative;
    margin-top: -59px;
}

#wpg_checkout fieldset, #wpg_login_form fieldset {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 35px;
    padding-top: 30px;
    position: relative;
    margin-top: 70px;
    display: block;
}

.logged-in.admin-bar #wpg_checkout legend,
#wg_checkout_payment legend,
#wpg_checkout legend {
    /* margin-bottom: 17px; */
    border-bottom: 0;
    width: 100%;
    /* line-height: 40px; */
    margin-top: 0px;
    position: absolute;
    top: -41px!important;
    left: 0;
}

#wpg_checkout fieldset:hover,
#wpg_login_form fieldset:hover {
    border: 1px solid #ddd;
}

.billing .edit-td {
    width: 220px;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;
    display: block;
    line-height: 30px;
}

/*body > .footer {
    display: none;
}

body .wrap > .footer {
    display: block;
}*/

.bottom-footer {
    text-align: center;
}

#wpg_cart th.bBottom.bRight,
#wpg_checkout th.bBottom.bRight {
    text-align: right;
}

.itemProfile.cart-quantity > input {
    text-align: center!important;
    display: block;
    width: 100%;
}

#wg_checkout_confirmation .odd th,
#wg_checkout_confirmation th.itemProfile,
#wg_checkout_review .total.odd th,
#wg_checkout_review .subtotal th,
#wg_checkout_payment .total.odd th,
#wg_checkout_payment .subtotal th,
#wpg_cart .total.odd th,
#wpg_cart .subtotal th {
    text-align: right;
    font-size: 13px !important;
    font-weight: normal;
    color: #333;
}

.edit-td.odd {
    text-align: right;
    margin-top: 5px;
    color: #333;
}

.wg-form-field-radio {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

#wpg_checkout span, #wpg_deal_submission span {
    font-size: 14px;
    color: #333;
}

#wpg_login_form input, #blog-comment input, #claim_voucher input, #wpg_deal_submission input, #wpg_merchant_register input, #wpg_account_edit input {
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 14px;
    height: inherit;
    padding: 0 0 0 10px !important;
    width: 100%!important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    margin: 3px 0;
}

#wpg_checkout input {
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 14px;
    height: inherit;
    width: 100%!important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    margin: 3px 0;
}

#recipient_input {
    max-width: 330px;
    width: 100%;
}

.edit-td.first,
.edit-td.first.odd {
    padding-left: 30px;
    text-align: right;
}

.billing_info {
    width: 260px;
}

#wg_checkout_payment > #wg-credit-card .edit-td,
#wg_checkout_payment > #wg-credit-card .edit-td.odd.first,
#wg_checkout_payment > #wg_billing .edit-td,
#wg_checkout_payment > #wg_billing .edit-td.odd.first {
    width: 130px!important;
}

#wg_checkout_review > #wg_billing > .billing_info,
#wg_checkout_review > #wg_billing .edit-td,
#wg_checkout_review > #wg_billing td {
    width: 100%;
}


#wg_checkout_review > #wg_billing .edit-td.first,
#wg_checkout_review > #wg_billing .edit-td.first.odd {
    text-align: left;
    padding-left: 0;
}

.billing_info th {
    width: 120px!important;
    padding-right: 20px!important;
    /* margin-bottom: 20px; */
    /* padding-bottom: 0px; */
    margin: 0!important;
    padding-top: 0px!important;
    display: block;
    text-align: right;
}

.billing_info tr {
    margin-top: 10px;
    display: table;
}

.billing_info .odd {
    width: 100%;
}


.itemProfile.bRight.first {
    text-align: center;
}

button {
    text-align: center !important;
}

input, select, textarea {
    text-align: left !important;
}

#search-box-menu input {
    text-align: left!important;

}

.search .blog-post-sub {
    font-weight: bold!important;
    text-transform: capitalize!important;
}

textarea:focus, input:focus{
    outline: none!important;
}

*:focus {
    outline: none!important;
}

.page .v7bnew {
    color: #333;
    font-size: 13px !important;
    font-weight: normal;
    text-align: left;
    text-transform: unset;
}


a,
.titleProfile {
    color: #06ab4c;
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
.titleProfile:hover {
    color: #333;
}

.onlineMerchant.newicon2 {
    background: none;
}

.edit-td.first, .edit-td.first.odd {
    padding-left: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 0px!important;
    margin-top: 0px!important;
    vertical-align: top;
}

#wpg_login_form legend {
    font-size: 1.5em;
    width: auto;
    border-bottom: none;
    margin-bottom: 20px;
    position: absolute;
    top: -41px;
    left: 0;
    line-height: 40px;
}

#wg_account_register .edit-td.first,
#wg_account_register .edit-td.first.odd,
#wg-account-contact-info .first {
    padding-left: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 4px!important;
    margin-top: 2px!important;
    vertical-align: top;
    line-height: 30px;
    /* margin-top: 52px!important; */
    display: block;
}


#wg-account-user-info span.wg-form-field.wg-form-field-checkboxes.wg-form-field-required {
    margin-top: 11px;
    display: block;
}

th.headProfile.noneborderbot.bRight.cart-name {
    text-align: center;
}

th.headProfile.noneborderbot.bRight {
    text-align: center;
}

.logged-in .mainPadding {
    padding: 0;
    background-color: #fff;
    min-height: 440px;
    display: flex;
}

label.menu-item-title {
    margin-left: 10px;
}

#wpg_account_edit fieldset .edit-td {
    vertical-align: inherit;
}

#wg-account-mailinglist-info .edit-td.first {
    vertical-align: top !important;
}

.fl.profileHeaderTitle {
    margin-bottom: 20px;
}

#wpg_account_edit fieldset legend {
    margin-bottom: 20px!important;
    border: none!important;
}

#wpg_account_edit #wg-account-account-info {
    margin-bottom: 30px;
    /* border-bottom: 1px dashed #ccc; */
    padding-bottom: 30px;
}

fieldset {
    border: 1px solid #ddd!important;
    margin-bottom: 10px;
    padding: 35px;
    padding-top: 30px;
    position: relative;
    margin-top: 70px;
    display: block;
}

#wpg_account_edit legend {
    /* margin-bottom: 17px; */
    border-bottom: 0;
    width: 100%;
    /* line-height: 40px; */
    margin-top: 0px;
    position: absolute;
    top: -41px!important;
    left: 0;
}

#wpg_merchant_register td.first {
    text-align: right;
    margin-right: 10px;
    display: block;
    line-height: 40px;
}

form#searchform {
    position: relative;
}

form#searchform {
    position: relative;
    -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
    overflow: hidden;
}

#wpg_account_edit textarea {
    width: 270px;
}

#wpg_account_edit select {
    padding: 5px 5px 5px 6px !important;
    width: 270px!important;
    border-radius: 3px;
}


.wg_account #wpg_login_form input[type="submit"] {
    width: auto!important;
    padding: 5px 20px!important;
}

.footerPages {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.listingOrder .noneborderbot {
    color: #333;
}
