body {
	margin: 0px;
	padding: 0px;
}

#simplemodal-container {
	z-index: 10000000!important;
}

#wg_deal_light_box {
	width: 768px;
	max-width: 90vw;
	margin: auto;
	background: white;
	border-radius: 10px;
}

#wg_deal_light_box > form {
	height: 60vh;
}

#wg_deal_light_box > form > div {
	padding: 15px;
	min-height: 200px;
}


#simplemodal-container a.modalCloseImg {
	background: url('x.png') no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-10px;
	right:-10px;
	cursor:pointer;
	z-index: 1000
}

#wg_lb_options header {
	padding-bottom: 15px;
	font-size: 32px;
	line-height: 40px;
	margin: 0;
}

#wg_lb_selected {
	background: #EEE;
	border-radius: 0 10px 10px 0;
}

#wg_deal_light_box.shadow, #wg_deal_light_box .shadow {
	-moz-box-shadow: 0px 0px 15px #000;
	/* FF3.5 - 3.6 */
	-webkit-box-shadow: 0px 0px 15px #000;
	/* Saf3.0+,Chrome */
	box-shadow: 0px 0px 15px #000;
	/* Opera 10.5,IE9,FF4+,Chrome 10+ */
}


/* Attribute Lightbox Styles */


#wg_lb_options .deal_item {
	display: block;
	border-top: 1px solid #999;
	clear: both;
	padding: 10px 5px;
	font-weight: normal;
}


#wg_lb_options .deal_details {
	float: left;
}

#wg_lb_options .deal_title {
	clear: both;
	font-size: 18px;
	font-weight: bold;
}


#wg_lb_options .deal_price {
	font-size: 24px;
	text-align: right;
}

#wg_lb_options .disabled * {
	color: #CCC;
}

#wg_lb_selected .deal_price {
	font-size: 28px;
	font-weight: bold;
	text-align: left;
}

.deal_limit {
	text-align: right;
}

/* Hide the inactive lightbox appearing below the page */

#lightbox_attributes_wrap {
	display: none;
}

.bt_addtocart, .bt_addtocart:hover {
	width: 80%;
	margin-left: 10%;
}

#wg_lb_selected .deal_full_desc {
	margin-top: 10px;
}

#wg_lb_selected .countdown {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#wg_lb_selected button {
	display: block;
	width: 100%;
	border: 0;
	margin: 0!important;
	padding: 0;
	background: transparent;
	margin-top: 10px;
}

#wg_lb_selected .v6BuyNow .retinaiconbox {
	width: 100%;
}

@media (min-width: 769px) {
	#wg_lb_options {
		height: 60vh;
	}

	#wg_lb_options header {
		padding-bottom: 15px;
	}

	#wg_lb_options .wg_lb_content {
		height: calc(60vh - 90px);
		overflow-x: hidden;
		overflow-y: auto;
	}

	#wg_lb_selected {
		height: 100%;
	}

	#wg_lb_selected .full_desc {
		font-size: 14px
	}

	#wg_lb_selected footer {
		position: absolute;
		bottom: 30px;
		width: calc(100% - 30px);
	}

	#wg_lb_selected button {
		width: 100%;
	}
}

@media (max-width: 768px) {
	#wg_deal_light_box {
		overflow: auto;
	}

	#wg_lb_options header,
	#wg_lb_options .deal_price {
		font-size: 18px;
	}

	#wg_lb_options .deal_title {
		font-size: 16px;
	}

	#wg_deal_light_box > form {
		height: auto;
		max-height: 90vh;
	}

	#wg_lb_options .deal_item {
		padding: 5px 5px;
	}

	#wg_lb_selected button .retinaiconbox {
		height: 40px!important;
		line-height: 40px!important;
	}

	#wg_lb_selected button .retinaiconbox .retinaicon-shopping-cart {
		line-height: 35px!important;
	}
}
