/* ------ RESPONSIVE ------ */



@media only screen and (max-width: 1024px) {
    .link-prevzem {
    display: none!important;
}
/*    .main .left-box,
    .headerBottom,
    .scrollup,
    .footerWidth,
    .bottomTopDeal,
    #formRegMail .regContent .text strong,
    .commentlist .avatar,
    .ctrlMenu,
    .btProfile,
    .borderImg,
    #navigation-menu,
    .bt_hide_email,
    #progress_bar,
    .keepshp,
    .headerBottom {
        display: none;
    }*/

    .btProfile,
    .ctrlMenu{
    	display: block !important;
    }
    .sContainer {
        width: auto!important;
        padding: 10px!important;
    }
    img {
        width: 100%!important;
        height: auto!important;
        max-width: 100%!important;
    }
    .twocol {
        display: block;
        overflow: visible;
    }
    .headerTop .shopnewIconHeader {
        margin: 4px 3px 0 5px!important;
    }
    .shopnewIconHeader .retinaiconbox .retinaicon-circ {
        width: 23px!important;
        height: 23px!important;
        font-size: 14px!important;
    }
    .v7unOrderheader span,
    .v7likeheader span,
    .shopnewIconHeader .retinaiconbox span.item {
        font-size: 7px!important;
    }
    #mobile-header {
        display: block;
    }
    .header,
    .headerBg {
        height: 61px!important;
    }
    #responsive-menu-button {
        background: rgba(0, 0, 0, 0) url("../../WPGroupbuy/style/images/boxmenu/rs-menu.png") no-repeat scroll center center;
        display: block;
        height: 61px;
        width: 61px;
        text-indent: -9999px;
        position: absolute;
        top: 0px;
        left: -10px;
    }
    .headerLogo {
        overflow: hidden;
        position: absolute;
        margin-left: 0px!important;
        z-index: 99;
    }
    .bt_send_email {
        font-size: 10px!important;
    }
    .headerTop .headerInfo,
    .headerGoldInfo,
    /*.right-contdear*/ {
        float: right;
        padding: 0 5px;
    }
    .header {
        margin-top: 31px;
    }
    .headerTop {
        width: auto;
    }
    .headerBarMenu {
        width: 100%;
        background: #555;
        margin-top: -31px;
        position: absolute;
        height: 31px;
    }
    .headerBottomW {
        width: auto;
        background: #0072b0;
    }
    .headerInfo,
    .headerGoldInfo {
        margin: 0!important;
        margin-top: 1px!important;
    }
/*    .headerInfo .bgall,
    .regBut {
        background: none!important;
        border: none!important;
        border-radius: 0!important;
        -webkit-border-radius: 0!important;
        -webkit-box-shadow: none!important;
    }*/
    .headerInfo .content a {
        color: #888!important;
        font-size: 14px;
        font-weight: normal;
    }

    .headerInfo .content a:hover {
        color: #1B0020!important;
    }

    .headerInfo .content a > .fl {
        font-weight: normal;
    }

    .headerInfo .content .p20,
    .regBut .content {
        padding: 0!important;
    }
    .regMailButton {
        margin-left: 0px!important;
        position: absolute;
        top: -39px;
        height: 0;
        background: none!important;
        color: #FFF!important;
    }
    .headerCity {
        top: 61px!important;
    }
    #formRegMail .regContent {
        width: 100%!important;
    }
    #formRegMail .regContent .text {
        margin-left: 0!important;
        padding-left: 0!important;
    }
    #formRegMail .regContent .text {
        font-size: 12px!important;
    }
    .bgSubscribeEmail input,
    .bgSubscribeEmail select {
        font-size: 11px!important;
    }
    .bgSubscribeEmail input {
        width: 100px!important;
    }
    .bt_send_email {
        width: 60px!important;
    }
    .headerFloat,
    .headerCity {
        top: 61px;
        display: none;
    }
    .block-content {
        position: relative;
    }
    .cont-maindear {
        width: 100%!important;
        height: auto!important;
        position: relative!important;
        min-height: 100%!important;
    }
    .main .main-boxcont {
        float: left;
        width: 99%;
        height: auto;
    }
    .main {
        width: 98%!important;
    }
    .leftcontents,
    .leftMainBox {
        width: 100%!important;
        display: block;
        float: left;
    }
    .right_contents,
    .rightMainBox {
        width: 100%!important;
    }
    .mainimg,
    .setDealWh {
        width: 99.5%!important;
        height: auto!important;
    }
    /*.right-contdear {
        position: absolute;
        bottom: 0;
        right: 0;
        border: none!important;
        width: auto!important;
        height: 100%!important;
        margin: 0;
    }*/


    .right-contdear .boxPrices_view {
        width: 180px!important;
        position: relative;
        margin-right: -26px;
    }
    #dynamic_price {
        display: none;
    }
    .attribute_label {
        display: block;
        font-size: 10px;
    }
    #wpg_addcart .price_label {
        position: absolute;
        right: -4px;
        top: 78px;
        margin: 0!important;
        width: 90px;
    }
    #wpg_addcart .bt_addtocart {
        position: absolute;
        float: right!important;
        margin: 0!important;
        width: auto;
        right: 10px;
        top: 100px;
    }
    .v6BuyNow .retinaiconbox {
        width: 100%!important;
        height: auto!important;
        font-size: 14px!important;
    }
    .v6BuyNow .retinaiconbox .retinaicon-shopping-cart {
        font-size: 14px!important;
        margin-left: 10px!important;
        line-height: 26px!important;
    }
    .v6BuyNow,
    .v6BuyNowMulti {
        margin: 10px 0 0 19px!important;
        padding-right: 10px;
    }
    .boxPrices {
        float: right;
        right: 8px;
        position: absolute;
        bottom: 70px;
    }
    .v6BuyNow .retinaiconbox {
        border-radius: 10px!important;
        -moz-border-radius: 10px!important;
        -webkit-border-radius: 10px!important;
        line-height: 30px;
    }
    .v6BuyNow span.buynow_text {
        border: none!important;
        padding-right: 8px;
    }
    .v6BuyNow a {
        height: auto;
    }
    .mainimg .mLeft400 {
        margin-left: 0!important;
    }
    .v6Price {
        padding-top: 10px;
    }
    .ca-container {
        padding: 20px 0;
    }
    .ca-nav span.ca-nav-next {
        right: 0!important;
    }
    .ca-nav span.ca-nav-prev {
        left: 0!important;
    }
    .main .ca-wrapper {
        width: 80%!important;
        margin: auto;
    }
    .v6TitleCate {
        padding: 10px 5px!important;
    }
    .v6TitleCat {
        padding: 20px 10px 10px 5px!important;
    }
    .list-rands {
        width: auto!important;
    }
    .v6ItemHotImg {
        height: 140px!important;
        width: 100%!important;
    }
    .no_img,
    .no_img_475 {
        width: auto!important;
    }
    .v7price_promotion,
    .v7price_promotionsmall {
        margin: 0!important;
    }
    #wpg_login_form input,
    #blog-comment input,
    #claim_voucher input,
    #wpg_deal_submission input,
    #wpg_merchant_register input,
    #wpg_account_edit input,
    #wpg_login_form textarea,
    #blog-comment textarea,
    #claim_voucher textarea,
    #wpg_deal_submission textarea,
    #wpg_merchant_register textarea,
    #wpg_account_edit textarea {
        width: 50%!important;
    }
    #wpg_cart_button {
        text-align: right;
    }
    #wpg_checkout textarea,
    #claim_voucher textarea,
    #wpg_login_form textarea,
    #wpg_deal_submission textarea {
        width: 50%!important;
    }
    
    .right-contdear .shopinfo,
    .v6BorderBot {
        width: 164px;
        float: right;
        position: absolute;
        right: 4px;
    }
    .v6BorderBot {
        bottom: 3px;
    }
    .right-contdear .shopinfo {
        bottom: 28px;
    }
    .shopinfo {
        height: auto;
    }
    .shopTitleInfo {
        font-size: 9px;
        text-transform: none;
    }
    /*.shopMoreInfo,
    .v6Timer .v6DisplayTime,
    .v6Buyersnew {
        font-size: 12px!important;
    }*/
    .v6BorderBot {
        margin: 0!important;
        padding: 0!important;
    }
    /*.v6Timer,
    .v6Buyersnew {
        background: #F3F3F3;
        text-align: center;
        padding: 5px!important;
        height: 14px;
    }*/
    .shopBuy,
    .shoppromotion,
    .shoptime {
        width: 32%!important;
    }
    .boxcategory,
    .boxdetailAdvan {
        margin: 10px 0!important;
    }
    .image_map {
        margin-left: 10px;
        width: auto!important;
        float: left;
    }
    .image_map iframe {
        width: 100%!important;
    }
    .left-box-acc,
    .right-box-acc {
        width: 95%!important;
        height: auto!important;
    }
    .right-box-acc {
        float: left!important;
        margin-top: 5px;
    }
    .profileHeaderTitle {
        font-size: 15px!important;
    }
    .profilesmoney {
        font-size: 12px!important;
    }
    .profileTabV6 {
        padding: 0 12px 0 2px!important;
    }
    .reportTypev6 li {
        margin-right: -1px!important;
    }
    .profileHeaderTop {
        padding: 13px 10px!important;
    }
    .reportTypev6 a.active,
    .reportTypev6 a:hover,
    .reportTypev6 a {
        padding: 0 5px!important;
        font-size: 11px;
    }
    .viewdetailOrder,
    .viewdetailOrder:hover {
        height: auto!important;
    }
    .profileContainer {
        overflow: hidden;
        padding: 5px!important;
    }
    .viewdetailOrderSmall {
        width: auto;
    }
    .commentlist li.comment {
        padding: 0!important;
    }
    .main-boxcontFull {
        overflow: hidden;
        margin: 0 5px 1px 5px!important;
    }
    .footer .bottom-footer {
        border-top: none!important;
    }
    .headerWidth,
    .footerWidth,
    .weekly .homecate_c,
    .homecate_c,
    .ca-container,
    .main-width,
    .bottom-footer {
        width: auto!important;
    }
    .content-copyright {
        padding: 0 5px;
    }
    img,
    img[Attributes Style] {
        display: block;
        height: auto !important;
        max-width: 100% !important;
    }
    #wpadminbar img {
        width: auto!important;
    }
    #listData,
    #listData a {
        font-size: 10px!important;
    }
    .one_half,
    .one_third,
    .two_third,
    .three_fourth,
    .one_fourth,
    .one_fifth,
    .two_fifth,
    .three_fifth,
    .four_fifth,
    .one_sixth,
    .five_sixth {
        width: 100%
    }
    .panel {
        padding: 10px 10px 0!important;
    }
    .mt38 {
        margin-top: 10px!important;
    }
    .sc-deal-item {
        height: auto!important;
    }
    .title-maindear .v6TitleShort {
        margin-left: 60px;
    }
    #card_image {
        display: none;
    }
    .box {
        margin-left: -10%;
        width: 100% !important;
    }
    .box_header,
    .box_txt_header {
        font-size: 18px
    }
    .box {
        left: 0;
        width: 100% !important;
        margin-left: 0px !important;
        height: auto !important;
    }
    .box_header {
        height: 65px;
        line-height: 20px;
    }
    .box_header span {
        font-size: 11px;
    }
    .box_email_form {
        width: 150px;
    }
    .title-maindear a,
    .title-maindear .v6TitleShort h1 {
        text-shadow: 1px 1px #efefef;
    }
    .title-maindear .v6TitleShort a {
        font-size: 14px;
    }
    .main {
        max-width: 100%;
    }
    .headerTop {
        max-width: 100%;
        width: 100%;
    }

    .select2-results {
        max-height: 130px !important;
    }
    .box {
        top: 160px !important;
    }
    
    /* moj css */

    .brandline {
        background-color: #fff !important;
        display: block;
        margin: 0 auto;
        padding: 5px 10px;
        position: relative;
        width: auto;
    }

    .brandline .headerInfo .bgall {
        background-color: transparent;
        border: 1px solid #888;
        -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
        color: #888 !important;
        margin-left: 10px;
        padding: 5px 10px;
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-decoration: none;
        height: 32px !important;
        font-weight: normal;
    }

    .brandline .headerInfo .bgall:hover {
        color:#1B0020;
    }

    .brandline .headerInfo,
    .brandline .headerGoldInfo {
        margin-top: 1px!important;
    }

    .v7linkbtn.p20 {
        padding: 0 10px!important;
    }

    .v7linkbtn,
    .headerInfo .content a {
        line-height: 20px!important;
    }

    .v7unOrderheader span,
    .v7likeheader span,
    .shopnewIconHeader .retinaiconbox span.item {
        font-size: 10px !important;
    }

    .shopnewIconHeader .retinaiconbox .retinaicon-circ {
    font-size: 18px !important;
    height: 23px !important;
    width: 23px !important;
}

    .brandline .headerBarMenu {
        background-color: #fff;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: 100;
    }

    .v7buidFocus {
        z-index: 100;
    }

    .header {
        display: block;
        height: 140px !important;
        margin-top: 0;
        position: relative;
        width: 100%;
    }

    .headerBg {
        height: auto;
    }
    #header-menu, .headerTabMenu {
        height: 60px;
        left: 10px;
        margin: 0;
        position: absolute;
        top: 14px;
        width: 60px;
        z-index: 100;
    }
    .headerLogo {
        background: rgba(0, 0, 0, 0) url("http://razvoj.e-kupon.si/e-kupon/wp-content/themes/WPGroupbuy/style/images/logo.png") no-repeat scroll center 32px !important;
        height: 89px;
        left: 0;
        margin: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .headerLogo > a {
        width: 100%;
    }

    .headerLogo.fl.fixPNG {
        background: rgba(0, 0, 0, 0) url("http://razvoj.e-kupon.si/e-kupon/wp-content/themes/WPGroupbuy/style/images/logo.png") no-repeat scroll center 32px !important;
        border: none;
    }

    #header-menu #navigation-menu {
        display: none;
    }

    .headerBottom {
        background-color: #71BE39 !important;
        /*border-bottom: 1px solid #d5499e;*/
        border: none;
        display: block !important;
        height: 50px;
        margin: 0 auto;
        position: relative;
        z-index: 4;
        padding: 0 20px;
        width: 100%;
    }

    .headerCity {
        display: block;
        top: 0px!important;

    }

    .headerCity .title {
        background: rgba(0, 0, 0, 0) url("img/map.png") no-repeat scroll left center;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        height: 48px;
        line-height: 48px;
        padding: 0 10px 0 30px;
    }

    .headerCity .title:hover {
        font-size: 16px;
    }

    .headerCity .currentBg {
        background: rgba(0, 0, 0, 0) url("img/arrow-down.png") no-repeat scroll right center;
        font-weight: normal;
        padding: 0 25px 0 0;
    }

    .searchBox {
        background-color: #fff !important;
        background-image: none;
        -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
        height: 33px;
        width: auto;
    }

    .searchBoxTop {
        -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
        display: block !important;
        overflow: hidden;
        position: absolute;
        right: 30px;
        top: 8px;
    }

    .searchBox .inputSearch {
        background-color: #fff !important;
        color: #53a318;
        font-size: 14px;
        margin: 1px 0 0 20px;
        width: auto;
        padding: 0;
        height: 25px;
        border: none;
        border-radius: 0;
    }

    .main {
        width: 100% !important;
    }

    .home .main-content {
        height: auto;
        position: relative;
    }

    .home .main-content .sContainer {
        background: rgba(27, 0, 33, 0.8) none repeat scroll 0 0;
        border: 0 none;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        top: -60px;
        width: auto;
    }

    .home .main-content2 .ca-container {
    padding: 20px 38px;
    }

    .archive.tax-wg_category .main-content {
        background-color: #ebebeb;
        background-position: center top;
        background-repeat: no-repeat;
        display: table;
        margin: 0 auto;
        max-width: 1064px;
        padding-top: 10px;
        width: 100%;
    }
    
    .archive.tax-wg_category .v6ContentCat {
        background-color: #ebebeb;
        display: table;
        height: auto;
        margin: 0;
        max-height: 100%;
        max-width: 1064px;
        width: auto !important;
        padding: 20px 36px 36px !important;
    }

    .archive.tax-wg_location .main-content {
        background-color: #ebebeb;
        background-position: center top;
        background-repeat: no-repeat;
        display: table;
        height: auto;
        margin: 0 auto;
        max-width: 1064px;
        padding-top: 0px;
        width: 100%;
    }

    .archive.tax-wg_location .v6ContentCat {
        background-color: #ebebeb;
        display: grid;
        height: auto;
        margin-top: 0px;
        max-width: 1064px;
        padding-bottom: 22px;
        width: auto !important;
        padding: 20px 36px!important;
        }

    .title > span {
        color: #fff;
        font-size: 30px;
        font-weight: 100;
        margin: 0 auto;
        text-align: center;
    }

    .home .main-content .title {
        display: none;
        text-align: center;
    }

    .search .blog-post-thumb {
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    display: block;
    float: none;
    margin: 0 0 20px;
    max-width: 100%;
    padding: 4px;
    width: auto;
    }

    .search .blog-post-content {
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    max-width: 100%;
    padding: 0 5px;
    text-align: left;
    width: 100%;
}

    .v6TitleCate {
        padding: 10px 0px 0 41px !important;
    }

    .home .home_ver7 .soliloquy-theme-classic .soliloquy-pager {
    bottom: 66px !important;
    height: 14px;
    margin: 0 0 0 5px;
    position: absolute;
    text-align: center !important;
    width: 100%;
}
    
    /* Stran ponudbe */

    .title-maindear .v6TitleShort {
        margin-left: 0!important;
        width: 100%!important;
    }
    .single.single-wg_deal .cont-maindear {
        height: 100%!important;
        min-height: 100px!important;
        padding: 0!important;
        width: 100% !important;
    }

    .single.single-wg_deal .mainimg {
        cursor: pointer;
        float: none!important;
        margin: 0!important;
        /*max-height: 500px!important;*/
        overflow: hidden;
        padding: 0!important;
        position: relative!important;
        width: 100%!important;
    }

    .mainimg,
    .setDealWh {
        float: none!important;
        margin: 0!important;
        width: 100%!important;
    }

    .single.single-wg_deal .contents {
    padding: 10px 30px 10px 10px;
    border-right: none;
    margin-right: 0px;
}

    
    .single.single-wg_deal .right-contdear {
    border-left: 0 none!important;
    float: none!important;
    height: auto!important;
    width: 100%!important;
    position: relative!important;
    bottom: 0;
    left: 0;
    right: 0;
    }

    .single.single-wg_deal .boxPrices,
    .single.single-wg_deal #deal_price_box {
    float: none!important;
    height: auto!important;
    margin: 0!important;
    padding: 20px 0 0!important;
    position: relative!important;
    width: 100%!important;
    right: 0;
    bottom: 0;
    left: 0;
    }

    .single.single-wg_deal .shopinfo {
    background-color: #fff!important;
    border-bottom: 0 none!important;
    display: block!important;
    float: none!important;
    height: auto!important;
    overflow: visible!important;
    position: relative!important;
    width: 100%!important;
    right: 0;
    left: 0;
    bottom: 0;
    }

    .single.single-wg_deal .v6Price {
    color: #53a318;
    font-weight: bold;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    }

    .single.single-wg_deal .shopMoreInfo {
    font-size: 34px!important;
    font-weight: bold;
    margin: 0;
    text-align: left;
    }

    .single.single-wg_deal .boxPrices_view {
    background-image: none;
    background-position: center top;
    border-bottom: 1px dashed #d9d9d9;
    font-size: 30px;
    font-weight: bold;
    height: auto!important;
    margin: 0!important;
    padding: 0 0 20px!important;
    position: relative!important;
    text-align: left!important;
    width: 100% !important;
    z-index: 3;
    background: none;
    }

    .single.single-wg_deal .v6BorderBot {
    border-bottom: medium none;
    border-top: 0 none;
    bottom: 0;
    display: block;
    float: none;
    height: 53px;
    left: 0;
    margin: 0;
    padding: 10px 0;
    position: relative;
    right: 0;
    width: 100%;
    }

    .single.single-wg_deal .v6Buyersnew {
    background-image: none;
    border-bottom: medium none;
    color: #1b0020;
    font-size: 34px;
    font-weight: bold;
    padding: 24px 0;
    }

    .single.single-wg_deal .v6BuyNow .retinaiconbox,
    .single.single-wg_deal .v6BuyNow,
    .single.single-wg_deal .v6BuyNowMulti {
    margin: 10px 0 0 0 !important;
    background-color: #53a318;
    background-image: none;
    -webkit-border-radius: 25px!important;
-moz-border-radius: 25px!important;
border-radius: 25px!important;
    color: #fff;
    font-size: 24px;
    height: 46px;
    line-height: 43px!important;
    padding: 0;
    text-align: center;
    width: auto;
    }

    .single.single-wg_deal .v6BuyNow {
    margin: 0 0 ;
    text-align: center;
    width: 220px;
    }

    .single.single-wg_deal .v6BuyNow span.buynow_text {
        border-left: 1px solid #fff!important;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        margin-left: -20px;
        padding-left: 12px;
        text-transform: uppercase;
    }


    .single.single-wg_deal .v6BuyNow .retinaiconbox .retinaicon-shopping-cart {
    color: #fff!important;
    font-size: 22px !important;
    line-height: 36px !important;
    margin-left: 20px !important;
}

    .single.single-wg_deal .shopBuy, .single.single-wg_deal .shoppromotion, .single.single-wg_deal .shoptime {
    border-bottom: 1px dashed #d9d9d9;
    border-right: medium none;
    color: #1a0020;
    float: none;
    height: 100%;
    padding: 10px 0;
    width: 100% !important;
    }

    .single.single-wg_deal .shopTitleInfo {
    color: #777;
    display: block;
    font-size: 13px !important;
    font-weight: normal;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    }

    .single.single-wg_deal .main-boxcontFull {
    display: inline-block;
    margin: 0 !important;
    width: 100%;
    }

    .single.single-wg_deal .right-deal-info {
    display: inline-block;
    float: none;
    margin-top: 30px;
    width: 100%;
    }

    .single.single-wg_deal .main_view.other-offers {
    height: 100%;
    min-height: 520px;
    padding: 20px !important;
    }

    .single.single-wg_deal p {
    color: #555;
    font-size: 14px;
    line-height: 22px;
    }

    .single.single-wg_deal .info > li {
        font-size: 14px;
        line-height: 22px;
        color: #555;
    }
    .single.single-wp_router_page .profileHeaderTitle {
    color: #1b0020;
    font-size: 35px !important;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.wg-form-field > select {
    border-radius: 50px 0 0 50px;
    height: 39px;
    margin: 3px 0 !important;
    max-width: 100% !important;
    padding: 4px 20px !important;
    width: 64% !important;
}

#wpg_checkout textarea, #claim_voucher textarea, #wpg_login_form textarea, #wpg_deal_submission textarea {
    width: 50% !important;
}

/*.home .main-content .sTitle {
    border: 0 none;
    color: #fff !important;
    display: block;
    margin: 10 0 0 0;
    padding: 0;
    text-align: center;
}

.home .main-content .sTitle h2 {
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
    }*/

.home .main-content2 {
    background-color: #fff;
    background-image: none;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 0;
    position: relative;
    top: 0px;
    width: 100%;
}

.footer {
    background: rgba(27, 0, 33, 1) none repeat scroll 0 0;
    border: medium none;
    display: table;
    margin-top: 0;
    padding: 30px;
}


.footer .bottom-footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    margin: 0 auto;
    max-width: 1064px !important;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0 !important;
    width: 100%;
}

.footer #footer_nav {
    color: #fff;
    max-width: 1064px;
    width: auto;
}

.footer .menu {
    margin-top: 10px;
}

.footer .content-copyright {
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
}

.footer ul li a {
    font-size: 12px;
    font-weight: lighter;
    line-height: 28px;
    color: #fff;
    opacity: 0.5;
}

.footer ul li a:hover {
    opacity: 0.8;
}



.search .block-content {
    background: transparent none repeat scroll 0 0;
    margin: 10px auto 0;
    max-width: 1064px;
    width: 100%;
}

.headerLogo {
    overflow: hidden;
    position: absolute;
    margin-left: 0px;
    z-index: 99;
}

.headerLogo > a > img {
    width: inherit!important;
    height: inherit!important;
    max-width: none!important;
}

/* MOBILE MENU */

.sidr {
    background: #1b0020 none repeat scroll 0 0;
    color: #fff;
    display: none;
    font-family: 'Roboto';
    font-size: 13px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 260px;
    z-index: 999999;

    -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.72);
box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.72);
}

.sidr ul li {
    border-top: 1px solid #402b44!important;
    display: block!important;
    line-height: 35px!important;
    margin: 0!important;
}

.sidr ul li a {
    color: #fff!important;
    display: block!important;
    font-size: 13px!important;
    font-weight: normal!important;
    padding: 0 15px!important;
    text-decoration: none!important;
}

.sidr ul li a:hover {
    border: none;
    color: #d5499e;
}

.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
    background: #d5499e none no-repeat scroll 0 0!important;
    color: #fff!important;
    font-size: 10px!important;
    font-weight: bold!important;
    line-height: 24px!important;
    margin: 5px 0 0!important;
    padding: 0 15px!important;
    text-shadow: none!important;
    text-transform: uppercase!important;
}

#sidr-id-s {
    background: transparent none repeat scroll 0 0!important;
    border: 1px solid #fff!important;
    -webkit-border-radius: 52px!important;
-moz-border-radius: 52px!important;
border-radius: 52px!important;
    color: #fff!important;
    padding: 5px 16px !important;
    width: 85% !important;
}

.footerPages > div > .main-width textarea.widefat {
    background-color: #eee!important;
}

.footerPages > div > .main-width td.first {
    text-align: right!important;
}

.footerPages > div > .main-width {
    display: block!important;
}

.footerPages > div > .main-width.v7Soldb { 
    /*margin: 0 auto!important;*/
    padding: 20px 15px!important;
    position: relative!important;
    margin-top: 20px!important;
}


}


@media only screen and (max-width: 767px) {

.footerPages > div > .main-width textarea.widefat {
    background-color: #eee!important;
}

.footerPages > div > .main-width td.first {
    text-align: right!important;
}

.footerPages > div > .main-width {
    display: block!important;
}

.footerPages > div > .main-width.v7Soldb { 
    /*margin: 0 auto!important;*/
    padding: 20px 15px!important;
    position: relative!important;
}

}

@media only screen and (max-width: 500px) {

    .main {
   /*     top: 40px;*/
        position: relative;
    }

    .home .main-content {
    height: auto;
    padding: 20px;
    position: relative;
    top: 12px;
}

.home .main-content2 {
    background-color: #fff;
    background-image: none;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 0;
    position: relative;
    top: 0;
    width: 100%;
}

    .home .main-content .ca-item {
        float: none;
        height: 350px;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        width: 250px;
    }

    .home .main-content .sContainer {
    background: rgba(27, 0, 33, 0.8) none repeat scroll 0 0;
    border: 0 none;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 0;
    width: auto;
}

    .home .main-content .sTitle {
    border: 0 none;
    color: #fff !important;
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

    .home .main-content .sTitle h2 {
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
    display: none;
    }

    .home .main-content2 .ca-container {
    padding: 20px 38px;
    }

    .home_ver7 .main-width {
        display: none;
    }

    .archive .home_ver7 .main-width {
        display: block;
    }

    .single.single-wg_deal .v6Buyersnew {
    color: #1b0020;
    font-size: 24px;
    font-weight: bold;
    }

    .single.single-wg_deal .mainimg {
    cursor: pointer;
    float: none !important;
    height: auto !important;
    margin: 0 !important;
    /*max-height: 190px !important;*/
    overflow: hidden;
    padding: 0 !important;
    position: relative !important;
    width: auto !important;
    }

    .search .v7linkSold {
    border-bottom: 1px dashed #d9d9d9;
    color: #1b0020;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    margin: 10px 0;
    padding-bottom: 14px;
    text-transform: none;
    }

    #wpg_checkout textarea, #claim_voucher textarea, #wpg_login_form textarea, #wpg_deal_submission textarea {
    width: 50% !important;
    }

    .wg-form-field > select {
    border-radius: 50px 0 0 50px;
    height: 39px;
    margin: 3px 0 !important;
    max-width: 100% !important;
    padding: 4px 20px !important;
    width: 73% !important;
    }

    .headerBottom {
    background-color: #71BE39 !important;
    border-bottom: 1px solid #d5499e;
    display: block !important;
    height: 50px;
    left: 0 !important;
    margin: 0 auto;
    padding: 0 20px;
    position: relative !important;
    text-align: center;
    width: auto !important;
    z-index: 4;
    }

    .headerBottomW {
    background: #0072b0 none repeat scroll 0 0;
    height: 50px;
    text-align: center !important;
    width: auto;
    }

    .headerCity {
    border-bottom: 1px dashed #f265ba;
    clear: both;
    display: block;
    height: 50px;
    margin: 0 auto 14px;
    padding: 0;
    position: relative !important;
    top: 0 !important;
    width: auto;
}

.headerCity .title {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 48px;
}

.headerCity .title:hover {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 48px;
}

    .searchBox {
    background-color: #f265ba !important;
    background-image: none;
    height: 35px !important;
    width: auto;
}

    .searchBoxTop {
    border-radius: 0 !important;
    clear: both;
    display: block !important;
    height: 50px;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}

.searchBox .searchBoxRight {
    height: 35px !important;
    padding: 0 30px 0 0;
}

.searchBox .inputSearch {
    background-color: transparent !important;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    height: 100% !important;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: auto;
}

.searchBox .btnsearch {
    background-position: center center;
    float: none;
    height: 100%;
    margin: 0;
    position: absolute;
    right: 6px;
    top: -8px;
}

 h2 {

    font-size: 28px!important;
}

.headerLogo > a > img {
        width: inherit!important;
        height: inherit!important;
        max-width: none!important;
    }


.single.single-wg_deal .v6TitleShort.h70 > h1 {
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 29px;
    margin: 10px 0 20px;
    color: #1B0020;
    border-bottom: 1px dashed #1b0020;
}

.single.single-wg_deal .boxPrices_view {
    background-image: none;
    background-position: center top;
    border-bottom: 1px dashed #d9d9d9;
    font-size: 30px;
    font-weight: bold;
    height: auto !important;
    margin: 0 !important;
    padding: 0 0 20px !important;
    position: relative !important;
    text-align: left !important;
    width: 100% !important;
    z-index: 3;
    background: transparent;
}


.footer {
    background: rgba(27, 0, 33, 1) none repeat scroll 0 0;
    border: medium none;
    display: table;
    margin-top: 0;
    padding: 30px;
    position: relative;
    top: 0px;
    width: 100%;
}

.footerPages > div > .main-width textarea.widefat {
    background-color: #eee!important;
}

.footerPages > div > .main-width td.first {
    text-align: right!important;
}

.footerPages > div > .main-width {
    display: block!important;
}

.footerPages > div > .main-width.v7Soldb { 
    /*margin: 0 auto!important;*/
    padding: 20px 15px!important;
    position: relative!important;
}

.footerPages > div > .main-width.v7Soldb li {
    margin-left: 20px;
}

}




