.sc_clearfix:before, .sc_clearfix:after, .sc_row:before, .sc_row:after{content:" ";display:block;height:0;overflow:hidden;visibility:hidden;width:0;clear:both;}
.hr1{clear:both;border-bottom:1px solid #efefef;margin:40px 0;height:1px;}
.hr2{clear:both;height:1px;width:100%;background:url(images/shortcodes/dotted.png) repeat-x;margin:40px 0;height:1px;}
.hr3{height:5px;background:url(images/shortcodes/shadow.png) no-repeat center top;width:100%;margin:40px 0;}
.hr4{border-bottom:none;margin:40px 0;width:100%;height:14px;background:url(images/shortcodes/stripes.png);display:block;}
.tagline{line-height:1;}
.tagline h1,
.tagline h2,
.tagline h3,
.tagline h4,
.tagline h5{line-height:1;margin:0 0 10px 0;font-weight:normal;}
.gap{display:block;width:100%;margin:0;}
.doublegap{display:block;width:100%;height:1px;margin:40px 0;}
.tooltips a, .tooltips a img{margin:0 auto;padding:0;display:inline-block;max-width:100%;text-align:center;}
.accordion .accordion-title{border:1px solid #ddd;display:block;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);font-weight:bold;margin-bottom:10px;}
.accordion .accordion-title a{display:block;padding:10px 15px 10px 15px;background:url(images/shortcodes/accordion-open.png) no-repeat right center;color:#999999 !important;}
.accordion .accordion-title a i{margin:0px 8px 0 0px;opacity:0.4;}
.accordion .accordion-title.active a{color:#333333 !important;background:url(images/shortcodes/accordion-close.png) no-repeat right center;}
.accordion .accordion-title.active a i{opacity:0.95;}
.accordion .accordion-inner{padding:0 12px 10px 12px;display:none;}
.accordion .accordion-inner div{max-width:100%;}
.alert-message{position:relative;border:1px solid #ddd;display:block;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);font-weight:bold;padding:10px 40px;text-align:center;margin-bottom:20px;}
.alert-message.sc_warning{background-image:linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-color:#fbf6e3;border-color:#efd877;color:#c4a80a;}
.alert-message.sc_warning a{color:#c4a80a;}
.alert-message.sc_success{background-image:linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-color:#e9f2d2;border-color:#c0da66;color:#88b12b;}
.alert-message.sc_success a{color:#88b12b;}
.alert-message.sc_error{background-image:linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-color:#ffe9e9;border-color:#e99f9f;color:#d25c5a;}
.alert-message.sc_error a{color:#d25c5a;}
.alert-message.sc_info{background-image:linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-color:#dbe9f3;border-color:#9fc2dd;color:#468bbf;}
alert-message.sc_info a{color:#468bbf;}
.alert-message p{margin:0;padding:0;}
.alert-message span.close{display:block;padding:10px 15px;position:absolute;top:0;right:0;cursor:pointer;opacity:0.5;}
.alert-message span.close:hover{opacity:1;}
a.sc_button,
.description input[type=submit]{margin:0 5px 5px 0;font-size:13px;line-height:13px;padding:12px 20px;border:1px solid #ddd;font-weight:bold;display:inline-block;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);}
a.sc_button:hover{text-decoration:none}
a.sc_button.small{font-size:11px;line-height:11px;padding:8px 18px 7px 18px;}
a.sc_button.medium{font-size:13px;line-height:13px;padding:12px 20px 11px 20px;}
a.sc_button.large{font-size:16px;line-height:16px;padding:14px 22px 13px 22px;}
a.sc_button.white{color:#00A0DC;}
a.sc_button.white:hover{color:#000;}
a.sc_button.orange{background-image:linear-gradient(bottom, #f7d9a9 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #f7d9a9 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #f7d9a9 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #f7d9a9 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #f7d9a9 0%, #FFFFFF 100%);background-color:#f7c36e;border-color:#ebb459;color:#e98106;}
a.sc_button.orange:hover{color:#ffffff;border:solid 1px #da7c0c;background:#f78d1d;background:-webkit-linear-gradient(top, #faa51a, #f47a20);background:-moz-linear-gradient(top, #faa51a, #f47a20);background:-o-linear-gradient(top, #faa51a, #f47a20);background:linear-gradient(top, #faa51a, #f47a20);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(180, 180, 180, 0.4);-moz-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(180, 180, 180, 0.4);box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(180, 180, 180, 0.4);}
a.sc_button.blue{background-image:linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #dbe9f3 0%, #FFFFFF 100%);background-color:#dbe9f3;border-color:#9fc2dd;color:#468bbf;}
a.sc_button.blue:hover{color:#ffffff;border:solid 1px #0b5996;background:#438ac2;background:-webkit-gradient(linear, left top, left bottom, from(#438ac2), to(#1063a4));background:-moz-linear-gradient(top, #438ac2, #1063a4);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);}
a.sc_button.green{background-image:linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #e9f2d2 0%, #FFFFFF 100%);background-color:#e9f2d2;border-color:#c0da66;color:#88b12b;}
a.sc_button.green:hover{color:#ffffff;border:solid 1px #729200;background:#aecf39;background:-webkit-gradient(linear, left top, left bottom, from(#aecf39), to(#84a805));background:-moz-linear-gradient(top, #aecf39, #84a805);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);}
a.sc_button.red{background-image:linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #ffe9e9 0%, #FFFFFF 100%);background-color:#ffe9e9;border-color:#e99f9f;color:#d25c5a;}
a.sc_button.red:hover{color:#ffffff;border:solid 1px #920500;background:#c44844;background:-webkit-gradient(linear, left top, left bottom, from(#c44844), to(#a70c07));background:-moz-linear-gradient(top, #c44844, #a70c07);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);}
a.sc_button.yellow{background-image:linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #fbf6e3 0%, #FFFFFF 100%);background:#e8ce3f;background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#fbf6e3));background:-moz-linear-gradient(top, #FFFFFF, #fbf6e3);background-color:#fbf6e3;border-color:#efd877;color:#c4a80a;}
a.sc_button.yellow:hover{color:#ffffff;border-color:#c5a900;background:#e8ce3f;background:-webkit-gradient(linear, left top, left bottom, from(#eedc7b), to(#dfbd00));background:-moz-linear-gradient(top, #eedc7b, #dfbd00);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);}
a.sc_button.gray{color:#666666;border:solid 1px #cccccc;background:#d5d5d5;background:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d7d7d7));background:-moz-linear-gradient(top, #efefef, #d7d7d7);-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.2),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);}
a.sc_button.gray:hover{color:#ffffff;background:-webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#ababab));background:-moz-linear-gradient(top, #d5d5d5, #ababab);border:solid 1px #a6a6a6;}
a.sc_button.black{color:#ffffff;border:solid 1px #1c1c1c;background:#4b4b4b;background:-webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#1c1c1c));background:-moz-linear-gradient(top, #4b4b4b, #1c1c1c);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b', endColorstr='#1c1c1c');-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.1),
0px 1px 1px 0px rgba(180, 180, 180, 0.4);}
a.sc_button.black:hover{border-color:#000000;color:#ffffff;background:-webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#000000));background:-moz-linear-gradient(top, #1c1c1c, #000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#4b4b4b');}
a.sc_button.alternative-1{background:#289dcc;color:#ffffff;border-color:#289dcc;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
a.sc_button.alternative-2{background:#cccccc;color:#ffffff;border-color:#cccccc;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
a.sc_button.alternative-3{background:#555555;color:#ffffff;border-color:#555555;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
a.sc_button.alternative-1:hover,
a.sc_button.alternative-2:hover,
a.sc_button.alternative-3:hover{background:#333333;border-color:#333333;}
a.sc_button.small i{margin:-2px 5px 0 -7px;opacity:0.7;}
a.sc_button i{margin:-1px 5px 0 -7px;opacity:0.7;}
a.sc_button.large i{margin:0px 7px 0 -7px;opacity:0.7;}
a.sc_button.alternative-1 i,
a.sc_button.alternative-2 i,
a.sc_button.alternative-3 i{opacity:1;}
.teaser{border:1px solid #ddd;display:block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);padding:25px 25px 20px 25px;}
.teaser h1,
.teaser h2,
.teaser h3,
.teaser h4,
.teaser h5,
.teaser h6,
.teaser p{margin:0 0 10px 0;}
.teaser .teaser-img{margin:-26px -26px 25px -26px;-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;overflow:hidden;}
.teaser .teaser-img img{width:100%;max-width:100%;height:auto;}
.teaser a.button{margin:20px 0 0 0;}
.teaserbox{border:1px solid #ddd;display:block;background:#ffffff url(images/shortcodes/stripes.png) !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);margin:0 0px 0 0px;padding:10px;}
.teaserbox .border{background:#ffffff;border:1px solid #e3e3e3;padding:25px 25px 25px 25px;-webkit-box-shadow:inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);-moz-box-shadow:inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);box-shadow:inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);}
.teaserbox a.button{margin:20px 0 0 0;}
.teaserbox p{margin:5px 0 0 0;}
.teaserbox h1,
.teaserbox h2,
.teaserbox h3,
.teaserbox h4,
.teaserbox h5,
.teaserbox h6{line-height:1.3;}
.callout{margin:0 0px 0 0px;padding:10px;border:1px solid #ddd;display:block;background:#ffffff url(images/shortcodes/stripes.png) !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);}
.callout .border{background:#ffffff;border:1px solid #e3e3e3;padding:20px 20px 0px 20px;-webkit-box-shadow:inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);-moz-box-shadow:inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);box-shadow:inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);}
.callout .callout-button{float:right;}
.callout .callout-content{float:left;}
.callout a.button{margin:0;text-align:center;}
.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5,
.callout h6{line-height:1.3;margin:0 0 0px 0 !important;}
.one_half{width:48%;}
.one_third{width:30.66%;}
.two_third{width:65.33%;}
.one_fourth{width:22%;}
.three_fourth{width:74%;}
.one_fifth{width:16.8%;}
.two_fifth{width:37.6%;}
.three_fifth{width:58.4%;}
.four_fifth{width:67.2%;}
.one_sixth{width:13.33%;}
.five_sixth{width:82.67%;}
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth{position:relative;margin-right:4%;margin-bottom:20px;float:left;}
.sc_last{margin-right:0 !important;}
.description.style-1{background:#f8f8f8;padding:30px 30px;border-radius:4px;margin:0 0 20px 0;}
.description.style-2{padding:30px 30px;border-radius:4px;margin:0 0 20px 0;background:#ffffff url(images/shortcodes/stripes.png) !important;}
.dropcap{display:block;float:left;font-size:40px;line-height:34px;margin:6px 8px 0 0;}
.dropcap.dropcap-circle{margin:6px 12px 0 0;width:48px;height:48px;line-height:48px;font-size:28px;padding:0;text-align:center;background:#ffffff;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);border:1px solid #ddd;}
.dropcap.dropcap-box{margin:6px 12px 0 0;width:48px;height:48px;line-height:48px;font-size:28px;padding:0;text-align:center;background:#ffffff;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);border:1px solid #ddd;}
.dropcap.dropcap-book{margin:6px 8px 0 0;font-family:Times, "Times New Roman", serif;line-height:34px;}
.gallery .gallery-item a{display:block;}
.gallery{margin:0 auto 0px;}
.gallery .gallery-item{float:left;padding:0;text-align:center;width:100%;}
.gallery-columns-2 .gallery-item{width:50%;}
.gallery-columns-4 .gallery-item{width:25%;}
.gallery img{width:70%;height:auto;border:1px solid #cccccc !important;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.06);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.06);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.06);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:6px;margin:0;background:#ffffff;}
.gallery img:hover{background:#289dcc;border-color:#289dcc !important;}
.googlefont{font-weight:400;}
.google_map{margin-bottom:30px;border:1px solid #cccccc;background:#efefef;-webkit-box-shadow:1px 1px 4px 0px rgba(180, 180, 180, 0.3);-moz-box-shadow:1px 1px 4px 0px rgba(180, 180, 180, 0.3);box-shadow:1px 1px 4px 0px rgba(180, 180, 180, 0.3);}
.google_map.full{width:100% !important;height:auto;margin:0px;}
.google_map img{max-width:none;}
.entry-content img{max-width:100000%;}
[class^="iconbox-"],
[class*=" iconbox-"]{display:inline-block;background-image:url("images/shortcodes/icons.png");background-position:top left;background-repeat:no-repeat;line-height:1;vertical-align:middle !important;}
.iconbox-64{background-position:0 0;width:32px;height:32px;}
.iconbox-addressbook{background-position:0 -82px;width:32px;height:32px;}
.iconbox-archive-delete{background-position:0 -164px;width:32px;height:32px;}
.iconbox-archive-download{background-position:0 -246px;width:32px;height:32px;}
.iconbox-archive-new{background-position:0 -328px;width:32px;height:32px;}
.iconbox-back{background-position:0 -410px;width:32px;height:32px;}
.iconbox-bookmark{background-position:0 -492px;width:32px;height:32px;}
.iconbox-burn{background-position:0 -574px;width:32px;height:32px;}
.iconbox-calculator{background-position:0 -656px;width:32px;height:32px;}
.iconbox-cash{background-position:0 -738px;width:32px;height:32px;}
.iconbox-cd{background-position:0 -820px;width:32px;height:32px;}
.iconbox-chat{background-position:0 -902px;width:32px;height:32px;}
.iconbox-clapperboard{background-position:0 -984px;width:32px;height:32px;}
.iconbox-color{background-position:0 -1066px;width:32px;height:32px;}
.iconbox-copy{background-position:0 -1148px;width:32px;height:32px;}
.iconbox-creditcard{background-position:0 -1230px;width:32px;height:32px;}
.iconbox-desktop-alternative{background-position:0 -1312px;width:32px;height:32px;}
.iconbox-desktop{background-position:0 -1394px;width:32px;height:32px;}
.iconbox-down{background-position:0 -1476px;width:32px;height:32px;}
.iconbox-edit{background-position:0 -1558px;width:32px;height:32px;}
.iconbox-exclamation{background-position:0 -1640px;width:32px;height:32px;}
.iconbox-exit{background-position:0 -1722px;width:32px;height:32px;}
.iconbox-folder-forward{background-position:0 -1804px;width:32px;height:32px;}
.iconbox-folder-smart{background-position:0 -1886px;width:32px;height:32px;}
.iconbox-folder{background-position:-82px 0;width:32px;height:32px;}
.iconbox-forward-black{background-position:-82px -82px;width:32px;height:32px;}
.iconbox-forward-mail{background-position:-82px -164px;width:32px;height:32px;}
.iconbox-forward{background-position:-82px -246px;width:32px;height:32px;}
.iconbox-globe{background-position:-82px -328px;width:32px;height:32px;}
.iconbox-harddrive{background-position:-82px -410px;width:32px;height:32px;}
.iconbox-heineken{background-position:-82px -492px;width:32px;height:32px;}
.iconbox-help{background-position:-82px -574px;width:32px;height:32px;}
.iconbox-info{background-position:-82px -656px;width:32px;height:32px;}
.iconbox-install{background-position:-82px -738px;width:32px;height:32px;}
.iconbox-intel{background-position:-82px -820px;width:32px;height:32px;}
.iconbox-keyboard{background-position:-82px -902px;width:32px;height:32px;}
.iconbox-lock{background-position:-82px -984px;width:32px;height:32px;}
.iconbox-mac-alternative{background-position:-82px -1066px;width:32px;height:32px;}
.iconbox-mac-alternative2{background-position:-82px -1148px;width:32px;height:32px;}
.iconbox-mac{background-position:-82px -1230px;width:32px;height:32px;}
.iconbox-mail{background-position:-82px -1312px;width:32px;height:32px;}
.iconbox-minus-white{background-position:-82px -1394px;width:32px;height:32px;}
.iconbox-minus{background-position:-82px -1476px;width:32px;height:32px;}
.iconbox-monitor{background-position:-82px -1558px;width:32px;height:32px;}
.iconbox-moon-alternative{background-position:-82px -1640px;width:32px;height:32px;}
.iconbox-moon{background-position:-82px -1722px;width:32px;height:32px;}
.iconbox-movies{background-position:-82px -1804px;width:32px;height:32px;}
.iconbox-music{background-position:-82px -1886px;width:32px;height:32px;}
.iconbox-new{background-position:-164px 0;width:32px;height:32px;}
.iconbox-next{background-position:-164px -82px;width:32px;height:32px;}
.iconbox-notebook{background-position:-164px -164px;width:32px;height:32px;}
.iconbox-open{background-position:-164px -246px;width:32px;height:32px;}
.iconbox-pause{background-position:-164px -328px;width:32px;height:32px;}
.iconbox-phone{background-position:-164px -410px;width:32px;height:32px;}
.iconbox-picture-cast{background-position:-164px -492px;width:32px;height:32px;}
.iconbox-picture{background-position:-164px -574px;width:32px;height:32px;}
.iconbox-play{background-position:-164px -656px;width:32px;height:32px;}
.iconbox-plus{background-position:-164px -738px;width:32px;height:32px;}
.iconbox-podcast{background-position:-164px -820px;width:32px;height:32px;}
.iconbox-preferences{background-position:-164px -902px;width:32px;height:32px;}
.iconbox-public{background-position:-164px -984px;width:32px;height:32px;}
.iconbox-record{background-position:-164px -1066px;width:32px;height:32px;}
.iconbox-refresh{background-position:-164px -1148px;width:32px;height:32px;}
.iconbox-remove{background-position:-164px -1230px;width:32px;height:32px;}
.iconbox-rewind-black{background-position:-164px -1312px;width:32px;height:32px;}
.iconbox-rewind{background-position:-164px -1394px;width:32px;height:32px;}
.iconbox-rss-alternative{background-position:-164px -1476px;width:32px;height:32px;}
.iconbox-rss{background-position:-164px -1558px;width:32px;height:32px;}
.iconbox-search{background-position:-164px -1640px;width:32px;height:32px;}
.iconbox-send{background-position:-164px -1722px;width:32px;height:32px;}
.iconbox-server{background-position:-164px -1804px;width:32px;height:32px;}
.iconbox-settings{background-position:-164px -1886px;width:32px;height:32px;}
.iconbox-smiley-sad{background-position:-246px 0;width:32px;height:32px;}
.iconbox-smiley{background-position:-246px -82px;width:32px;height:32px;}
.iconbox-splash{background-position:-246px -164px;width:32px;height:32px;}
.iconbox-star{background-position:-246px -246px;width:32px;height:32px;}
.iconbox-stop-alternative2{background-position:-246px -328px;width:32px;height:32px;}
.iconbox-stop{background-position:-246px -410px;width:32px;height:32px;}
.iconbox-stop-alternative{background-position:-246px -492px;width:32px;height:32px;}
.iconbox-sun-alternative{background-position:-246px -574px;width:32px;height:32px;}
.iconbox-sun{background-position:-246px -656px;width:32px;height:32px;}
.iconbox-terminal{background-position:-246px -738px;width:32px;height:32px;}
.iconbox-trash-full{background-position:-246px -820px;width:32px;height:32px;}
.iconbox-trash{background-position:-246px -902px;width:32px;height:32px;}
.iconbox-unarchive{background-position:-246px -984px;width:32px;height:32px;}
.iconbox-universal{background-position:-246px -1066px;width:32px;height:32px;}
.iconbox-unread{background-position:-246px -1148px;width:32px;height:32px;}
.iconbox-up{background-position:-246px -1230px;width:32px;height:32px;}
.iconbox-user{background-position:-246px -1312px;width:32px;height:32px;}
.iconbox-users{background-position:-246px -1394px;width:32px;height:32px;}
.iconbox-window{background-position:-246px -1476px;width:32px;height:32px;}
.iconbox-work{background-position:-246px -1558px;width:32px;height:32px;}
.iconbox-zoom-in{background-position:-246px -1640px;width:32px;height:32px;}
.iconbox-zoom-out{background-position:-246px -1722px;width:32px;height:32px;}
.iconbox-none{background:none;}
h1 [class^="iconbox-"], h1 [class*=" iconbox-"],
h2 [class^="iconbox-"], h2 [class*=" iconbox-"],
h3 [class^="iconbox-"], h3 [class*=" iconbox-"],
h4 [class^="iconbox-"], h4 [class*=" iconbox-"],
h5 [class^="iconbox-"], h5 [class*=" iconbox-"],
h6 [class^="iconbox-"], h6 [class*=" iconbox-"]{margin-top:-6px;margin-right:12px;}
h1 [class^="iconbox-"], h1 [class*=" iconbox-"]{margin-top:-5px;}
h2 [class^="iconbox-"], h2 [class*=" iconbox-"]{margin-top:-3px;}
.iconbox{margin:0 0 0px 0;}
.iconbox [class^="iconbox-"], .iconbox [class*=" iconbox-"]{display:block;float:left;margin:0px 15px 0px 0;line-height:32px;vertical-align:text-bottom;}
.iconbox p{margin:0 0 0 47px;}
.iconbox h3{font-size:16px;margin:-21px 0 8px 47px;}
@font-face{

font-family: 'FontAwesome';
  src: url('../../WPGroupbuy/style/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../../WPGroupbuy/style/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../WPGroupbuy/style/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../WPGroupbuy/style/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../WPGroupbuy/style/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="retinaicon-"],
[class*=" retinaicon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;}
[class^="retinaicon-"]:before,
[class*=" retinaicon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
.retinaicon{display:block;line-height:1;padding:0;margin:0 0 0px 0;}
.retinaicon-small{font-size:28px !important;}
.retinaicon-medium{font-size:56px !important;}
.retinaicon-large{font-size:112px !important;}
.retinaicon-circ span{display:inline-block;text-align:center;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;background:#999999;color:#ffffff;}
.retinaicon-small.retinaicon-circ span{width:52px;height:52px;line-height:52px;}
.retinaicon-medium.retinaicon-circ span{width:95px;height:95px;line-height:100px;}
.retinaicon-large.retinaicon-circ span{width:180px;height:180px;line-height:180px;}
.retinaicon-glass:before{content:"\f000"}
.retinaicon-music:before{content:"\f001"}
.retinaicon-search:before{content:"\f002"}
.retinaicon-envelope-alt:before{content:"\f003"}
.retinaicon-heart:before{content:"\f004"}
.retinaicon-star:before{content:"\f005"}
.retinaicon-star-empty:before{content:"\f006"}
.retinaicon-user:before{content:"\f007"}
.retinaicon-film:before{content:"\f008"}
.retinaicon-th-large:before{content:"\f009"}
.retinaicon-th:before{content:"\f00a"}
.retinaicon-th-list:before{content:"\f00b"}
.retinaicon-ok:before{content:"\f00c"}
.retinaicon-remove:before{content:"\f00d"}
.retinaicon-zoom-in:before{content:"\f00e"}
.retinaicon-zoom-out:before{content:"\f010"}
.retinaicon-power-off:before,
.retinaicon-off:before{content:"\f011"}
.retinaicon-signal:before{content:"\f012"}
.retinaicon-gear:before,
.retinaicon-cog:before{content:"\f013"}
.retinaicon-trash:before{content:"\f014"}
.retinaicon-home:before{content:"\f015"}
.retinaicon-file-alt:before{content:"\f016"}
.retinaicon-time:before{content:"\f017"}
.retinaicon-road:before{content:"\f018"}
.retinaicon-download-alt:before{content:"\f019"}
.retinaicon-download:before{content:"\f01a"}
.retinaicon-upload:before{content:"\f01b"}
.retinaicon-inbox:before{content:"\f01c"}
.retinaicon-play-circle:before{content:"\f01d"}
.retinaicon-rotate-right:before,
.retinaicon-repeat:before{content:"\f01e"}
.retinaicon-refresh:before{content:"\f021"}
.retinaicon-list-alt:before{content:"\f022"}
.retinaicon-lock:before{content:"\f023"}
.retinaicon-flag:before{content:"\f024"}
.retinaicon-headphones:before{content:"\f025"}
.retinaicon-volume-off:before{content:"\f026"}
.retinaicon-volume-down:before{content:"\f027"}
.retinaicon-volume-up:before{content:"\f028"}
.retinaicon-qrcode:before{content:"\f029"}
.retinaicon-barcode:before{content:"\f02a"}
.retinaicon-tag:before{content:"\f02b"}
.retinaicon-tags:before{content:"\f02c"}
.retinaicon-book:before{content:"\f02d"}
.retinaicon-bookmark:before{content:"\f02e"}
.retinaicon-print:before{content:"\f02f"}
.retinaicon-camera:before{content:"\f030"}
.retinaicon-font:before{content:"\f031"}
.retinaicon-bold:before{content:"\f032"}
.retinaicon-italic:before{content:"\f033"}
.retinaicon-text-height:before{content:"\f034"}
.retinaicon-text-width:before{content:"\f035"}
.retinaicon-align-left:before{content:"\f036"}
.retinaicon-align-center:before{content:"\f037"}
.retinaicon-align-right:before{content:"\f038"}
.retinaicon-align-justify:before{content:"\f039"}
.retinaicon-list:before{content:"\f03a"}
.retinaicon-indent-left:before{content:"\f03b"}
.retinaicon-indent-right:before{content:"\f03c"}
.retinaicon-facetime-video:before{content:"\f03d"}
.retinaicon-picture:before{content:"\f03e"}
.retinaicon-pencil:before{content:"\f040"}
.retinaicon-map-marker:before{content:"\f041"}
.retinaicon-adjust:before{content:"\f042"}
.retinaicon-tint:before{content:"\f043"}
.retinaicon-edit:before{content:"\f044"}
.retinaicon-share:before{content:"\f045"}
.retinaicon-check:before{content:"\f046"}
.retinaicon-move:before{content:"\f047"}
.retinaicon-step-backward:before{content:"\f048"}
.retinaicon-fast-backward:before{content:"\f049"}
.retinaicon-backward:before{content:"\f04a"}
.retinaicon-play:before{content:"\f04b"}
.retinaicon-pause:before{content:"\f04c"}
.retinaicon-stop:before{content:"\f04d"}
.retinaicon-forward:before{content:"\f04e"}
.retinaicon-fast-forward:before{content:"\f050"}
.retinaicon-step-forward:before{content:"\f051"}
.retinaicon-eject:before{content:"\f052"}
.retinaicon-chevron-left:before{content:"\f053"}
.retinaicon-chevron-right:before{content:"\f054"}
.retinaicon-plus-sign:before{content:"\f055"}
.retinaicon-minus-sign:before{content:"\f056"}
.retinaicon-remove-sign:before{content:"\f057"}
.retinaicon-ok-sign:before{content:"\f058"}
.retinaicon-question-sign:before{content:"\f059"}
.retinaicon-info-sign:before{content:"\f05a"}
.retinaicon-screenshot:before{content:"\f05b"}
.retinaicon-remove-circle:before{content:"\f05c"}
.retinaicon-ok-circle:before{content:"\f05d"}
.retinaicon-ban-circle:before{content:"\f05e"}
.retinaicon-arrow-left:before{content:"\f060"}
.retinaicon-arrow-right:before{content:"\f061"}
.retinaicon-arrow-up:before{content:"\f062"}
.retinaicon-arrow-down:before{content:"\f063"}
.retinaicon-mail-forward:before,
.retinaicon-share-alt:before{content:"\f064"}
.retinaicon-resize-full:before{content:"\f065"}
.retinaicon-resize-small:before{content:"\f066"}
.retinaicon-plus:before{content:"\f067"}
.retinaicon-minus:before{content:"\f068"}
.retinaicon-asterisk:before{content:"\f069"}
.retinaicon-exclamation-sign:before{content:"\f06a"}
.retinaicon-gift:before{content:"\f06b"}
.retinaicon-leaf:before{content:"\f06c"}
.retinaicon-fire:before{content:"\f06d"}
.retinaicon-eye-open:before{content:"\f06e"}
.retinaicon-eye-close:before{content:"\f070"}
.retinaicon-warning-sign:before{content:"\f071"}
.retinaicon-plane:before{content:"\f072"}
.retinaicon-calendar:before{content:"\f073"}
.retinaicon-random:before{content:"\f074"}
.retinaicon-comment:before{content:"\f075"}
.retinaicon-magnet:before{content:"\f076"}
.retinaicon-chevron-up:before{content:"\f077"}
.retinaicon-chevron-down:before{content:"\f078"}
.retinaicon-retweet:before{content:"\f079"}
.retinaicon-shopping-cart:before{content:"\f07a"}
.retinaicon-folder-close:before{content:"\f07b"}
.retinaicon-folder-open:before{content:"\f07c"}
.retinaicon-resize-vertical:before{content:"\f07d"}
.retinaicon-resize-horizontal:before{content:"\f07e"}
.retinaicon-bar-chart:before{content:"\f080"}
.retinaicon-twitter-sign:before{content:"\f081"}
.retinaicon-facebook-sign:before{content:"\f082"}
.retinaicon-camera-retro:before{content:"\f083"}
.retinaicon-key:before{content:"\f084"}
.retinaicon-gears:before,
.retinaicon-cogs:before{content:"\f085"}
.retinaicon-comments:before{content:"\f086"}
.retinaicon-thumbs-up-alt:before{content:"\f087"}
.retinaicon-thumbs-down-alt:before{content:"\f088"}
.retinaicon-star-half:before{content:"\f089"}
.retinaicon-heart-empty:before{content:"\f08a"}
.retinaicon-signout:before{content:"\f08b"}
.retinaicon-linkedin-sign:before{content:"\f08c"}
.retinaicon-pushpin:before{content:"\f08d"}
.retinaicon-external-link:before{content:"\f08e"}
.retinaicon-signin:before{content:"\f090"}
.retinaicon-trophy:before{content:"\f091"}
.retinaicon-github-sign:before{content:"\f092"}
.retinaicon-upload-alt:before{content:"\f093"}
.retinaicon-lemon:before{content:"\f094"}
.retinaicon-phone:before{content:"\f095"}
.retinaicon-unchecked:before,
.retinaicon-check-empty:before{content:"\f096"}
.retinaicon-bookmark-empty:before{content:"\f097"}
.retinaicon-phone-sign:before{content:"\f098"}
.retinaicon-twitter:before{content:"\f099"}
.retinaicon-facebook:before{content:"\f09a"}
.retinaicon-github:before{content:"\f09b"}
.retinaicon-unlock:before{content:"\f09c"}
.retinaicon-credit-card:before{content:"\f09d"}
.retinaicon-rss:before{content:"\f09e"}
.retinaicon-hdd:before{content:"\f0a0"}
.retinaicon-bullhorn:before{content:"\f0a1"}
.retinaicon-bell:before{content:"\f0a2"}
.retinaicon-certificate:before{content:"\f0a3"}
.retinaicon-hand-right:before{content:"\f0a4"}
.retinaicon-hand-left:before{content:"\f0a5"}
.retinaicon-hand-up:before{content:"\f0a6"}
.retinaicon-hand-down:before{content:"\f0a7"}
.retinaicon-circle-arrow-left:before{content:"\f0a8"}
.retinaicon-circle-arrow-right:before{content:"\f0a9"}
.retinaicon-circle-arrow-up:before{content:"\f0aa"}
.retinaicon-circle-arrow-down:before{content:"\f0ab"}
.retinaicon-globe:before{content:"\f0ac"}
.retinaicon-wrench:before{content:"\f0ad"}
.retinaicon-tasks:before{content:"\f0ae"}
.retinaicon-filter:before{content:"\f0b0"}
.retinaicon-briefcase:before{content:"\f0b1"}
.retinaicon-fullscreen:before{content:"\f0b2"}
.retinaicon-group:before{content:"\f0c0"}
.retinaicon-link:before{content:"\f0c1"}
.retinaicon-cloud:before{content:"\f0c2"}
.retinaicon-beaker:before{content:"\f0c3"}
.retinaicon-cut:before{content:"\f0c4"}
.retinaicon-copy:before{content:"\f0c5"}
.retinaicon-paperclip:before,
.retinaicon-paper-clip:before{content:"\f0c6"}
.retinaicon-save:before{content:"\f0c7"}
.retinaicon-sign-blank:before{content:"\f0c8"}
.retinaicon-reorder:before{content:"\f0c9"}
.retinaicon-list-ul:before{content:"\f0ca"}
.retinaicon-list-ol:before{content:"\f0cb"}
.retinaicon-strikethrough:before{content:"\f0cc"}
.retinaicon-underline:before{content:"\f0cd"}
.retinaicon-table:before{content:"\f0ce"}
.retinaicon-magic:before{content:"\f0d0"}
.retinaicon-truck:before{content:"\f0d1"}
.retinaicon-pinterest:before{content:"\f0d2"}
.retinaicon-pinterest-sign:before{content:"\f0d3"}
.retinaicon-google-plus-sign:before{content:"\f0d4"}
.retinaicon-google-plus:before{content:"\f0d5"}
.retinaicon-money:before{content:"\f0d6"}
.retinaicon-caret-down:before{content:"\f0d7"}
.retinaicon-caret-up:before{content:"\f0d8"}
.retinaicon-caret-left:before{content:"\f0d9"}
.retinaicon-caret-right:before{content:"\f0da"}
.retinaicon-columns:before{content:"\f0db"}
.retinaicon-sort:before{content:"\f0dc"}
.retinaicon-sort-down:before{content:"\f0dd"}
.retinaicon-sort-up:before{content:"\f0de"}
.retinaicon-envelope:before{content:"\f0e0"}
.retinaicon-linkedin:before{content:"\f0e1"}
.retinaicon-rotate-left:before,
.retinaicon-undo:before{content:"\f0e2"}
.retinaicon-legal:before{content:"\f0e3"}
.retinaicon-dashboard:before{content:"\f0e4"}
.retinaicon-comment-alt:before{content:"\f0e5"}
.retinaicon-comments-alt:before{content:"\f0e6"}
.retinaicon-bolt:before{content:"\f0e7"}
.retinaicon-sitemap:before{content:"\f0e8"}
.retinaicon-umbrella:before{content:"\f0e9"}
.retinaicon-paste:before{content:"\f0ea"}
.retinaicon-lightbulb:before{content:"\f0eb"}
.retinaicon-exchange:before{content:"\f0ec"}
.retinaicon-cloud-download:before{content:"\f0ed"}
.retinaicon-cloud-upload:before{content:"\f0ee"}
.retinaicon-user-md:before{content:"\f0f0"}
.retinaicon-stethoscope:before{content:"\f0f1"}
.retinaicon-suitcase:before{content:"\f0f2"}
.retinaicon-bell-alt:before{content:"\f0f3"}
.retinaicon-coffee:before{content:"\f0f4"}
.retinaicon-food:before{content:"\f0f5"}
.retinaicon-file-text-alt:before{content:"\f0f6"}
.retinaicon-building:before{content:"\f0f7"}
.retinaicon-hospital:before{content:"\f0f8"}
.retinaicon-ambulance:before{content:"\f0f9"}
.retinaicon-medkit:before{content:"\f0fa"}
.retinaicon-fighter-jet:before{content:"\f0fb"}
.retinaicon-beer:before{content:"\f0fc"}
.retinaicon-h-sign:before{content:"\f0fd"}
.retinaicon-plus-sign-alt:before{content:"\f0fe"}
.retinaicon-double-angle-left:before{content:"\f100"}
.retinaicon-double-angle-right:before{content:"\f101"}
.retinaicon-double-angle-up:before{content:"\f102"}
.retinaicon-double-angle-down:before{content:"\f103"}
.retinaicon-angle-left:before{content:"\f104"}
.retinaicon-angle-right:before{content:"\f105"}
.retinaicon-angle-up:before{content:"\f106"}
.retinaicon-angle-down:before{content:"\f107"}
.retinaicon-desktop:before{content:"\f108"}
.retinaicon-laptop:before{content:"\f109"}
.retinaicon-tablet:before{content:"\f10a"}
.retinaicon-mobile-phone:before{content:"\f10b"}
.retinaicon-circle-blank:before{content:"\f10c"}
.retinaicon-quote-left:before{content:"\f10d"}
.retinaicon-quote-right:before{content:"\f10e"}
.retinaicon-spinner:before{content:"\f110"}
.retinaicon-circle:before{content:"\f111"}
.retinaicon-mail-reply:before,
.retinaicon-reply:before{content:"\f112"}
.retinaicon-github-alt:before{content:"\f113"}
.retinaicon-folder-close-alt:before{content:"\f114"}
.retinaicon-folder-open-alt:before{content:"\f115"}
.retinaicon-expand-alt:before{content:"\f116"}
.retinaicon-collapse-alt:before{content:"\f117"}
.retinaicon-smile:before{content:"\f118"}
.retinaicon-frown:before{content:"\f119"}
.retinaicon-meh:before{content:"\f11a"}
.retinaicon-gamepad:before{content:"\f11b"}
.retinaicon-keyboard:before{content:"\f11c"}
.retinaicon-flag-alt:before{content:"\f11d"}
.retinaicon-flag-checkered:before{content:"\f11e"}
.retinaicon-terminal:before{content:"\f120"}
.retinaicon-code:before{content:"\f121"}
.retinaicon-reply-all:before{content:"\f122"}
.retinaicon-mail-reply-all:before{content:"\f122"}
.retinaicon-star-half-full:before,
.retinaicon-star-half-empty:before{content:"\f123"}
.retinaicon-location-arrow:before{content:"\f124"}
.retinaicon-crop:before{content:"\f125"}
.retinaicon-code-fork:before{content:"\f126"}
.retinaicon-unlink:before{content:"\f127"}
.retinaicon-question:before{content:"\f128"}
.retinaicon-info:before{content:"\f129"}
.retinaicon-exclamation:before{content:"\f12a"}
.retinaicon-superscript:before{content:"\f12b"}
.retinaicon-subscript:before{content:"\f12c"}
.retinaicon-eraser:before{content:"\f12d"}
.retinaicon-puzzle-piece:before{content:"\f12e"}
.retinaicon-microphone:before{content:"\f130"}
.retinaicon-microphone-off:before{content:"\f131"}
.retinaicon-shield:before{content:"\f132"}
.retinaicon-calendar-empty:before{content:"\f133"}
.retinaicon-fire-extinguisher:before{content:"\f134"}
.retinaicon-rocket:before{content:"\f135"}
.retinaicon-maxcdn:before{content:"\f136"}
.retinaicon-chevron-sign-left:before{content:"\f137"}
.retinaicon-chevron-sign-right:before{content:"\f138"}
.retinaicon-chevron-sign-up:before{content:"\f139"}
.retinaicon-chevron-sign-down:before{content:"\f13a"}
.retinaicon-html5:before{content:"\f13b"}
.retinaicon-css3:before{content:"\f13c"}
.retinaicon-anchor:before{content:"\f13d"}
.retinaicon-unlock-alt:before{content:"\f13e"}
.retinaicon-bullseye:before{content:"\f140"}
.retinaicon-ellipsis-horizontal:before{content:"\f141"}
.retinaicon-ellipsis-vertical:before{content:"\f142"}
.retinaicon-rss-sign:before{content:"\f143"}
.retinaicon-play-sign:before{content:"\f144"}
.retinaicon-ticket:before{content:"\f145"}
.retinaicon-minus-sign-alt:before{content:"\f146"}
.retinaicon-check-minus:before{content:"\f147"}
.retinaicon-level-up:before{content:"\f148"}
.retinaicon-level-down:before{content:"\f149"}
.retinaicon-check-sign:before{content:"\f14a"}
.retinaicon-edit-sign:before{content:"\f14b"}
.retinaicon-external-link-sign:before{content:"\f14c"}
.retinaicon-share-sign:before{content:"\f14d"}
.retinaicon-compass:before{content:"\f14e"}
.retinaicon-collapse:before{content:"\f150"}
.retinaicon-collapse-top:before{content:"\f151"}
.retinaicon-expand:before{content:"\f152"}
.retinaicon-euro:before,
.retinaicon-eur:before{content:"\f153"}
.retinaicon-gbp:before{content:"\f154"}
.retinaicon-dollar:before,
.retinaicon-usd:before{content:"\f155"}
.retinaicon-rupee:before,
.retinaicon-inr:before{content:"\f156"}
.retinaicon-yen:before,
.retinaicon-jpy:before{content:"\f157"}
.retinaicon-renminbi:before,
.retinaicon-cny:before{content:"\f158"}
.retinaicon-won:before,
.retinaicon-krw:before{content:"\f159"}
.retinaicon-bitcoin:before,
.retinaicon-btc:before{content:"\f15a"}
.retinaicon-file:before{content:"\f15b"}
.retinaicon-file-text:before{content:"\f15c"}
.retinaicon-sort-by-alphabet:before{content:"\f15d"}
.retinaicon-sort-by-alphabet-alt:before{content:"\f15e"}
.retinaicon-sort-by-attributes:before{content:"\f160"}
.retinaicon-sort-by-attributes-alt:before{content:"\f161"}
.retinaicon-sort-by-order:before{content:"\f162"}
.retinaicon-sort-by-order-alt:before{content:"\f163"}
.retinaicon-thumbs-up:before{content:"\f164"}
.retinaicon-thumbs-down:before{content:"\f165"}
.retinaicon-youtube-sign:before{content:"\f166"}
.retinaicon-youtube:before{content:"\f167"}
.retinaicon-xing:before{content:"\f168"}
.retinaicon-xing-sign:before{content:"\f169"}
.retinaicon-youtube-play:before{content:"\f16a"}
.retinaicon-dropbox:before{content:"\f16b"}
.retinaicon-stackexchange:before{content:"\f16c"}
.retinaicon-instagram:before{content:"\f16d"}
.retinaicon-flickr:before{content:"\f16e"}
.retinaicon-adn:before{content:"\f170"}
.retinaicon-bitbucket:before{content:"\f171"}
.retinaicon-bitbucket-sign:before{content:"\f172"}
.retinaicon-tumblr:before{content:"\f173"}
.retinaicon-tumblr-sign:before{content:"\f174"}
.retinaicon-long-arrow-down:before{content:"\f175"}
.retinaicon-long-arrow-up:before{content:"\f176"}
.retinaicon-long-arrow-left:before{content:"\f177"}
.retinaicon-long-arrow-right:before{content:"\f178"}
.retinaicon-apple:before{content:"\f179"}
.retinaicon-windows:before{content:"\f17a"}
.retinaicon-android:before{content:"\f17b"}
.retinaicon-linux:before{content:"\f17c"}
.retinaicon-dribbble:before{content:"\f17d"}
.retinaicon-skype:before{content:"\f17e"}
.retinaicon-foursquare:before{content:"\f180"}
.retinaicon-trello:before{content:"\f181"}
.retinaicon-female:before{content:"\f182"}
.retinaicon-male:before{content:"\f183"}
.retinaicon-gittip:before{content:"\f184"}
.retinaicon-sun:before{content:"\f185"}
.retinaicon-moon:before{content:"\f186"}
.retinaicon-archive:before{content:"\f187"}
.retinaicon-bug:before{content:"\f188"}
.retinaicon-vk:before{content:"\f189"}
.retinaicon-weibo:before{content:"\f18a"}
.retinaicon-renren:before{content:"\f18b"}
.retinaiconbox{margin:0 0 0px 0;}
.retinaiconbox [class^="retinaicon-"], .retinaiconbox [class*=" retinaicon-"]{display:block;float:left;margin:2px 15px 0px 0;line-height:1;vertical-align:text-bottom;font-size:34px;}
.retinaiconbox .retinaicon-circ{border-radius:50%;width:32px;height:32px;font-size:20px;text-align:center;line-height:32px;}
.retinaiconbox p{margin:0 0 0 47px;}
.retinaiconbox h3{font-size:16px;margin:-21px 0 8px 47px;}
ul.styled-list{list-style:none;margin:0;padding:0;}
ul.styled-list li{margin-bottom:2px;}
ul.styled-list li i{margin-right:6px;margin-top:0px;}
.widget_text ul.styled-list li{padding:0 !important;background:none !important;}
.member{max-width:460px;overflow:hidden;text-align:center;border:1px solid #ddd;background-color:#ffffff;padding:25px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);}
.member-img img{width:101%;max-width:101%;height:auto;}
.member-img{margin:-25px -25px 15px -25px;}
.member h4{text-align:center;text-transform:uppercase;margin:0;padding:0;}
.member .member-role{color:#bfbfbf;font-size:11px;margin-bottom:10px;}
.member p{margin:0;}
.member .member-social{height:40px !important;margin:25px -20px -20px -20px;border-top:1px solid #efefef;padding:0 !important;}
.member .member-social ul{margin:0px 0 0 0;padding:0;list-style:none;font-size:0 !important;line-height:0 !important;text-align:center;}
.member .member-social ul li{display:inline-block;float:none;}
.member .member-social ul li a{display:block;width:40px;height:40px;text-indent:-9999px;background-position:0px 0px;background-repeat:no-repeat;margin:0;padding:0;}
.member .member-social ul li.member-social-facebook a{background:url(images/shortcodes/icons/facebook.png) no-repeat 0 0}
.member .member-social ul li.member-social-twitter a{background:url(images/shortcodes/icons/twitter.png) no-repeat 0 0}
.member .member-social ul li.member-social-skype a{background:url(images/shortcodes/icons/skype.png) no-repeat 0 0}
.member .member-social ul li.member-social-google a{background:url(images/shortcodes/icons/googleplus.png) no-repeat 0 0}
.member .member-social ul li.member-social-linkedin a{background:url(images/shortcodes/icons/linkedin.png) no-repeat 0 0}
.member .member-social ul li.member-social-email a{background:url(images/shortcodes/icons/email.png) no-repeat 0 0}
.skillbar{width:100%;height:25px;display:block;background:#efefef;margin-bottom:10px;}
.skillbar .skill-percentage{background:#289dcc;display:block;width:0%;height:25px;}
.skill-title{margin:0 0 3px 0;font-size:14px;color:#999999;display:block;font-weight:bold;}
.latest-sc-deal ul{list-style:none;margin:0;padding:0;}
.negative-wrap{margin:0 -10px 0 -10px;}
.home-latest-delas{margin:0 0px 0 0px;}
.latest-blog .blog-item{position:relative;margin-bottom:20px;text-align:left;}
.latest-blog .blog-item .blog-pic{border-radius:4px;overflow:hidden;display:block;margin:0 0 5px 0;position:relative;}
.latest-blog .blog-item .blog-pic img{width:160px;height:143px;}
.latest-blog .blog-item .blog-overlay{display:block;width:160px;height:143px;overflow:hidden;background:rgba(0,0,0,0.6);position:absolute;top:0;left:0;opacity:0;}
.latest-blog .blog-item .post-icon{position:absolute;top:-25px;left:83px;width:50px;height:50px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-position:8px 7px;background-repeat:no-repeat;background-color:rgba(0,0,0,0.7);}
.latest-blog .blog-item img{display:block;-webkit-border-radius:2%;-moz-border-radius:2%;border-radius:2%;}
.latest-blog .blog-item h4{margin:0 0 0 5px;padding:0;font-size:14px;line-height:23px;-webkit-transition:all 0.26s ease 0s;-moz-transition:all 0.26s ease 0s;-o-transition:all 0.26s ease 0s;transition:all 0.26s ease 0s;}
.latest-blog .blog-item:hover h4{color:#289dcc;}
.latest-blog .blog-item .blog-item-description span{font-size:11px;color:#cccccc;display:block;margin:-2px 0 0 5px;padding:0;}
.latest-blog-list{width:100%;margin:0 0 20px 0;float:left;}
.latest-blog-list h4{margin:0;font-size:14px;}
.latest-blog-list .blog-list-item-date{background:#f4f4f4;color:#666666;width:50px;text-align:center;font-size:20px;line-height:20px;font-weight:bold;padding:10px 0 0 0;float:left;}
.latest-blog-list .blog-list-item-date span{display:block;background:#666666;font-size:11px;line-height:11px;font-weight:bold;padding:5px 0;margin:10px 0 0 0;text-transform:uppercase;color:#ffffff;}
.latest-blog-list .blog-list-item-description{margin-left:70px;}
.latest-blog-list .blog-list-item-description span{color:#cccccc;}
.latest-blog-list .blog-list-item-description .read-more-link{display:block;}
.blog-list-item-excerpt{}
.pricing-table{width:940px;padding-top:31px;}
.pricing-table p{margin:0;}
.pricing-table.col-2 .plan{float:left;width:469px;display:block;}
.pricing-table.col-3 .plan{float:left;width:312px;display:block;}
.pricing-table.col-4 .plan{float:left;width:234px;display:block;}
.pricing-table.col-5 .plan{float:left;width:187px;display:block;}
.plan{text-align:center;border:1px solid #dddddd;background:#ffffff;margin-right:-1px;-webkit-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);}
.pricing-table .featured{color:#ffffff !important;margin:-31px -1px 20px -1px;position:relative;text-transform:uppercase;font-weight:bold;font-size:11px !important;letter-spacing:1px !important;background:#333333;height:31px !important;line-height:31px !important;}
.plan .plan-head{background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);}
.plan .plan-head h3{display:block;width:100%;margin:25px 0 5px 0;font-size:16px;padding:0;}
.plan .price{display:block;font-size:36px;line-height:38px;font-weight:300;border-bottom:1px solid #dddddd;padding:0;margin:0;}
.plan .price span{display:block;font-weight:400;font-size:11px;margin:5px 0 25px 0;padding:0;color:#c0c0c0;line-height:11px;}
.plan .signup{padding:20px 0 20px 0;text-align:center;border-top:1px solid #dddddd;background:#f9f9f9;}
.plan .signup a.button{margin:0;}
.plan ul{margin:0 !important;list-style:none !important;padding:0 !important;background:#ffffff;}
.plan li{font-size:12px;padding:10px 0px;text-align:center;background:url(images/shortcodes/dotted.png) repeat-x bottom left;}
.plan li:last-child{background:none;}
blockquote{color:#adadad;margin:0 0 20px 0;padding:0;}
blockquote p{margin:0 !important;padding:1px 0 1px 20px;border-left:4px solid #e6e6e6;}
.pullquote{color:#adadad;width:260px;margin:20px 0 !important;}
.pullquote.align-left{float:left;padding:0px 20px 0px 20px;border-left:4px solid #e6e6e6;}
.pullquote.align-right{float:right;padding:0px 20px 0px 20px;border-right:4px solid #e6e6e6;}
.responsive img, .responsive iframe, .responsive object, .responsive embed{max-width:100%;height:auto;}
.social-icon{display:block;float:left;margin:0 5px 5px 0;background-color:#efefef !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;overflow:hidden;width:40px;height:40px;}
.social-icon a{-webkit-transition:all 0.2s ease 0s;-moz-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s;display:inline-block;width:40px;height:40px;text-indent:-9999px;background-position:0px 0px;background-repeat:no-repeat;}
.social-icon a:hover{background-color:#cccccc;background-position:0px -40px !important;}
.custom-table-1 table{margin:0 0 20px 0;text-align:left;border:1px solid #dddddd;border-spacing:0!important;border-collapse:collapse!important;-webkit-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);}
.custom-table-1 tr:nth-child(even){background:#fafafa;}
.custom-table-1 tr:nth-child(odd){background:#ffffff;}
.custom-table-1 tr{}
.custom-table-1 th,
.custom-table-1 td{padding:10px 20px;vertical-align:middle;}
.custom-table-1 thead th{font-size:14px;font-weight:700;color:#333333;border-bottom:1px solid #dddddd;padding:15px 20px;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;}
.custom-table-2 table{margin:0 0 20px 0;text-align:left;border:1px solid #dbdbdb;border-spacing:0!important;border-collapse:collapse!important;-webkit-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);box-shadow:1px 1px 3px 0px rgba(180, 180, 180, 0.2);}
.custom-table-2 tr:nth-child(even){background:#ffffff;}
.custom-table-2 tr:nth-child(odd){background:#ffffff;}
.custom-table-2 tr{}
.custom-table-2 th,
.custom-table-2 td{padding:10px 20px;vertical-align:middle;border:1px solid #e2e2e2;}
.custom-table-2 tr:hover{background:#fafafa;}
.custom-table-2 thead th{color:#333333;font-size:14px;font-weight:700;border:none;border:1px solid #dbdbdb;padding:15px 20px;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;}
.custom-table-3 table{margin:0 0 20px 0;text-align:left;border-spacing:0!important;border-collapse:collapse!important;}
.custom-table-3 tr:nth-child(even){background:#ffffff;}
.custom-table-3 tr:nth-child(odd){background:#ffffff;}
.custom-table-3 tr{}
.custom-table-3 th,
.custom-table-3 td{padding:10px 20px;vertical-align:middle;border-bottom:1px solid #e2e2e2;}
.custom-table-3 tr:hover{background:#fafafa;}
.custom-table-3 thead th{font-size:14px;font-weight:700;color:#ffffff;border:none;padding:15px 20px;background:#333333;}
.tabs{list-style-type:none;margin:0;padding:0;position:relative;top:1px;}
.tab{float:left;margin-right:-1px;}
.tab a{color:#666666;border:1px solid #d3d3d3;display:block;padding:10px 20px;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;}
.tab a:hover{color:#666666;background:#fff;}
.tab a i{opacity:0.6;margin:-1px 2px 0 2px;}
.tab a.selected{background:#ffffff;border-bottom-color:#fff;color:#333333;}
.tab a.selected i{opacity:0.9;}
.panel{border:1px solid #d3d3d3;clear:both;padding:20px 20px 0px 20px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);}
.woocommerce-tabs .panel{border:none;padding:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.testimonial{border:1px solid #d3d3d3;padding:20px;position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);box-shadow:1px 1px 2px 0px rgba(180, 180, 180, 0.2);}
.testimonial:after{content:'';width:22px;height:22px;position:absolute;bottom:-22px;left:30px;background:url(images/shortcodes/testimonials.png) no-repeat;}
.testimonial-author{margin:2px 0 20px 56px;color:#999999;}
.toggle{margin-bottom:20px;}
.toggle .toggle-title{border:1px solid #ddd;display:block;position:relative;padding:10px 0px 10px 15px;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-weight:bold;cursor:pointer;overflow:hidden;color:#999999;}
.toggle .toggle-title span{float:right;display:block;margin:-10px 0px -10px 0px;width:41px;height:41px;background:url(images/shortcodes/accordion-open.png) no-repeat right center;color:#999999;}
.toggle .toggle-title i{margin:-2px 8px 0 0px;opacity:0.4;}
.toggle .toggle-title.active{color:#333333;-webkit-border-radius:3px 3px 0px 0px;-moz-border-radius:3px 3px 0px 0px;border-radius:3px 3px 0px 0px;}
.toggle .toggle-title.active span{background:url(images/shortcodes/accordion-close.png) no-repeat right center;}
.toggle .toggle-title.active i{opacity:0.95;line-height:1;}
.toggle .toggle-inner{margin:0;-webkit-border-radius:0px 0px 3px 3px;-moz-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.1);border:1px solid #ddd;border-top:0;padding:10px;display:none;}
.toggle .toggle-inner div{max-width:100%;}
.sc_title{padding:0;margin:0 0 20px 0;background:url(images/shortcodes/stripes.png) left top;line-height:1 !important;}
.sc_title span{background:#fff;padding-right:7px;}
pre code{display:block;margin:0px 0px 0px 10px;}
abbr{border-bottom:1px dashed;cursor:help;}
address,
cite,
em,
i{font-style:italic}
dfn{border-bottom:1px dashed;font-style:italic;}
big{font-size:large}
small,
sub,
sup{position:relative;font-size:11px;vertical-align:baseline;}
sub{top:3px}
sup{bottom:3px}
strong,
b{font-weight:bold}
mark{display:inline;padding:2px 4px;background-color:#f6f2d6;color:#7c6d08;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
mark.dark{background-color:#333;color:#ffffff;}
.visibility-mobile{display:none !important;}
.visibility-mobile-portrait{display:none !important;}
.visibility-mobile-landscape{display:none !important;}
.visibility-tablet{display:none !important;}
@media (max-width:479px){.visibility-mobile{display:inherit !important;}
.visibility-mobile-portrait{display:inherit !important;}
.visibility-mobile-landscape{display:none !important;}
.visibility-desktop{display:none !important;}
}
@media only screen and (min-width:480px) and (max-width:767px){.visibility-mobile{display:inherit !important;}
.visibility-mobile-portrait{display:none !important;}
.visibility-mobile-landscape{display:inherit !important;}
.visibility-desktop{display:none !important;}
}
@media (min-width:768px) and (max-width:959px){.visibility-tablet{display:inherit !important;}
.visibility-mobile-portrait{display:none !important;}
.visibility-mobile-landscape{display:none !important;}
.visibility-desktop{display:none !important;}
}
#topbar .social-icons ul{list-style:none;margin:0 0 -1px 0;float:right;}
.social-icons ul li{display:block;float:left;margin:0;padding:0;}
.social-icons ul li a{-webkit-transition:all 0.2s ease 0s;-moz-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s;display:block;width:40px;height:40px;text-indent:-9999px;background-position:0px 0px;background-repeat:no-repeat;opacity:0.6;}
#copyright .social-icons ul li a{opacity:1;}
#copyright .social-icons ul li a:hover{background-color:transparent !important;}
.social-icons a:hover{background-color:#cccccc;background-position:0px -40px !important;opacity:1;}
.social-email a{background:url(images/shortcodes/icons/email.png) no-repeat 0 0}
.social-email a:hover{background-color:#666666}
.social-aim a{background:url(images/shortcodes/icons/aim.png) no-repeat 0 0}
.social-aim a:hover{background-color:#e95a00}
.social-apple a{background:url(images/shortcodes/icons/apple.png) no-repeat 0 0}
.social-apple a:hover{background-color:#606060}
.social-behance a{background:url(images/shortcodes/icons/behance.png) no-repeat 0 0}
.social-behance a:hover{background-color:#18a3fe}
.social-blogger a{background:url(images/shortcodes/icons/blogger.png) no-repeat 0 0}
.social-blogger a:hover{background-color:#fb913f}
.social-cargo a{background:url(images/shortcodes/icons/cargo.png) no-repeat 0 0}
.social-cargo a:hover{background-color:#00c462}
.social-delicious a{background:url(images/shortcodes/icons/delicious.png) no-repeat 0 0}
.social-delicious a:hover{background-color:#3274d1}
.social-deviantart a{background:url(images/shortcodes/icons/deviantart.png) no-repeat 0 0}
.social-deviantart a:hover{background-color:#d0de21}
.social-digg a{background:url(images/shortcodes/icons/digg.png) no-repeat 0 0}
.social-digg a:hover{background-color:#2882c6}
.social-dopplr a{background:url(images/shortcodes/icons/dopplr.png) no-repeat 0 0}
.social-dopplr a:hover{background-color:#99cc66}
.social-dribbble a{background:url(images/shortcodes/icons/dribbble.png) no-repeat 0 0}
.social-dribbble a:hover{background-color:#ef5b92}
.social-ember a{background:url(images/shortcodes/icons/ember.png) no-repeat 0 0}
.social-ember a:hover{background-color:#fb9d00}
.social-evernote a{background:url(images/shortcodes/icons/evernote.png) no-repeat 0 0}
.social-evernote a:hover{background-color:#77ba2f}
.social-facebook a{background:url(images/shortcodes/icons/facebook.png) no-repeat 0 0}
.social-facebook a:hover{background-color:#3b5998}
.social-flickr a{background:url(images/shortcodes/icons/flickr.png) no-repeat 0 0}
.social-flickr a:hover{background-color:#f1628b}
.social-forrst a{background:url(images/shortcodes/icons/forrst.png) no-repeat 0 0}
.social-forrst a:hover{background-color:#5b9a68}
.social-github a{background:url(images/shortcodes/icons/github.png) no-repeat 0 0}
.social-github a:hover{background-color:#7292a2}
.social-google a{background:url(images/shortcodes/icons/google.png) no-repeat 0 0}
.social-google a:hover{background-color:#dd4b39}
.social-googleplus a{background:url(images/shortcodes/icons/googleplus.png) no-repeat 0 0}
.social-googleplus a:hover{background-color:#d94a39}
.social-gowalla a{background:url(images/shortcodes/icons/gowalla.png) no-repeat 0 0}
.social-gowalla a:hover{background-color:#ff920d}
.social-grooveshark a{background:url(images/shortcodes/icons/grooveshark.png) no-repeat 0 0}
.social-grooveshark a:hover{background-color:#f88e00}
.social-html5 a{background:url(images/shortcodes/icons/html5.png) no-repeat 0 0}
.social-html5 a:hover{background-color:#f3642c}
.social-icloud a{background:url(images/shortcodes/icons/icloud.png) no-repeat 0 0}
.social-icloud a:hover{background-color:#fb913f}
.social-instagram a{background:url(images/shortcodes/icons/instagram.png) no-repeat 0 0}
.social-instagram a:hover{background-color:#46759c}
.social-lastfm a{background:url(images/shortcodes/icons/lastfm.png) no-repeat 0 0}
.social-lastfm a:hover{background-color:#d21309}
.social-linkedin a{background:url(images/shortcodes/icons/linkedin.png) no-repeat 0 0}
.social-linkedin a:hover{background-color:#71b2d0}
.social-metacafe a{background:url(images/shortcodes/icons/metacafe.png) no-repeat 0 0}
.social-metacafe a:hover{background-color:#ef4035}
.social-mixx a{background:url(images/shortcodes/icons/mixx.png) no-repeat 0 0}
.social-mixx a:hover{background-color:#d80330}
.social-myspace a{background:url(images/shortcodes/icons/myspace.png) no-repeat 0 0}
.social-myspace a:hover{background-color:#003398}
.social-netvibes a{background:url(images/shortcodes/icons/netvibes.png) no-repeat 0 0}
.social-netvibes a:hover{background-color:#629e61}
.social-newsvine a{background:url(images/shortcodes/icons/newsvine.png) no-repeat 0 0}
.social-newsvine a:hover{background-color:#5b965a}
.social-orkut a{background:url(images/shortcodes/icons/orkut.png) no-repeat 0 0}
.social-orkut a:hover{background-color:#ed2590}
.social-paypal a{background:url(images/shortcodes/icons/paypal.png) no-repeat 0 0}
.social-paypal a:hover{background-color:#32689a}
.social-picasa a{background:url(images/shortcodes/icons/picasa.png) no-repeat 0 0}
.social-picasa a:hover{background-color:#444}
.social-pinterest a{background:url(images/shortcodes/icons/pinterest.png) no-repeat 0 0}
.social-pinterest a:hover{background-color:#cb2027}
.social-plurk a{background:url(images/shortcodes/icons/plurk.png) no-repeat 0 0}
.social-plurk a:hover{background-color:#f35b36}
.social-posterous a{background:url(images/shortcodes/icons/posterous.png) no-repeat 0 0}
.social-posterous a:hover{background-color:#f9d560}
.social-reddit a{background:url(images/shortcodes/icons/reddit.png) no-repeat 0 0}
.social-reddit a:hover{background-color:#cde2f9}
.social-rss a{background:url(images/shortcodes/icons/rss.png) no-repeat 0 0}
.social-rss a:hover{background-color:#fe9900}
.social-skype a{background:url(images/shortcodes/icons/skype.png) no-repeat 0 0}
.social-skype a:hover{background-color:#18b7f1}
.social-stumbleupon a{background:url(images/shortcodes/icons/stumbleupon.png) no-repeat 0 0}
.social-stumbleupon a:hover{background-color:#eb4924}
.social-technorati a{background:url(images/shortcodes/icons/technorati.png) no-repeat 0 0}
.social-technorati a:hover{background-color:#7ac84f}
.social-tumblr a{background:url(images/shortcodes/icons/tumblr.png) no-repeat 0 0}
.social-tumblr a:hover{background-color:#3a5976}
.social-twitter a{background:url(images/shortcodes/icons/twitter.png) no-repeat 0 0}
.social-twitter a:hover{background-color:#48c4d2}
.social-vimeo a{background:url(images/shortcodes/icons/vimeo.png) no-repeat 0 0}
.social-vimeo a:hover{background-color:#62a0ad}
.social-wordpress a{background:url(images/shortcodes/icons/wordpress.png) no-repeat 0 0}
.social-wordpress a:hover{background-color:#464646}
.social-yahoo a{background:url(images/shortcodes/icons/yahoo.png) no-repeat 0 0}
.social-yahoo a:hover{background-color:#ab64bc}
.social-yelp a{background:url(images/shortcodes/icons/yelp.png) no-repeat 0 0}
.social-yelp a:hover{background-color:#c41200}
.social-youtube a{background:url(images/shortcodes/icons/youtube.png) no-repeat 0 0}
.social-youtube a:hover{background-color:#f45750}
.social-zerply a{background:url(images/shortcodes/icons/zerply.png) no-repeat 0 0}
.social-zerply a:hover{background-color:#8db259}
.social-zootool a{background:url(images/shortcodes/icons/zootool.png) no-repeat 0 0}
.social-zootool a:hover{background-color:#262626}
.social-xing a{background:url(images/shortcodes/icons/xing.png) no-repeat 0 0}
.social-xing a:hover{background-color:#006466}
.sc_container{position:relative;width:100%;margin:0 auto;padding:0;}
.sc_container .column,
.sc_container .columns{float:left;display:inline;margin-left:10px;margin-right:10px;}
.sc_container .four.columns{width:22%;}
.sc_container .eight.columns{width:47%;}
.sc_container .one-third.columns{width:30%;}
.no_img_sm_four{width:100%;height:143px;background:url("images/background/no_img_sm.png") no-repeat scroll center center #EFEFEF;}
.no_img_sm_eight{width:100%;height:300px;background:url("images/background/no_img.png") no-repeat scroll center center #EFEFEF;}
.no_img_sm_one-third{width:100%;height:196px;background:url("images/background/no_img_sm.png") no-repeat scroll center center #EFEFEF;}
.sc-deal-item{width:220px;height:202px;margin:0 0 20px 0;padding:0;position:relative;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0px 1px 2px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:0px 1px 2px 0px rgba(180, 180, 180, 0.2);box-shadow:0px 1px 2px 0px rgba(180, 180, 180, 0.2);}
.sc-deal-item .sc-deal-pic{-webkit-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;overflow:hidden;display:block;position:relative;}
.sc-deal-item img{display:block;width:220px;height:143px;}
.sc-deal-item .sc-deal-title{height:42px;padding:8px 15px 8px 15px;background:#ffffff;display:block;border:1px solid #e4e4e4;border-top:none;text-align:left;-webkit-border-radius:0px 0px 4px 4px;-moz-border-radius:0px 0px 4px 4px;border-radius:0px 0px 4px 4px;-webkit-transition:all 0.1s ease-in;-moz-transition:all 0.1s ease-in;-o-transition:all 0.1s ease-in;transition:all 0.1s ease-in;}
.sc-deal-item .sc-deal-title h4{margin:0 0 -1px 0;padding:0;font-size:14px !important;font-weight:bold;color:#555555;}
.sc-deal-item .sc-deal-title span{margin:0;padding:0;font-size:13px !important;color:#999999;display:block;}
.sc-deal-item:hover .sc-deal-title{color:#ffffff;background:#289dcc;border-color:#289dcc;}
.sc-deal-item:hover .sc-deal-title h4,
.sc-deal-item:hover .sc-deal-title span{color:#ffffff;}
.sc-deal-item:hover .sc-deal-title span{color:rgba(255, 255, 255, 0.7);}
.sc-deal-item a:hover{text-decoration:none;}
.sc-deal-item .sc-deal-pic .sc-deal-overlay{display:block;width:220px;height:143px;overflow:hidden;background:rgba(0,0,0,0.6);position:absolute;top:0;left:0;opacity:0;}
.sc-deal-item .sc-deal-pic .sc-deal-overlay .overlay-link,
.sc-deal-item-one .sc-deal-pic .sc-deal-overlay .overlay-link{width:48px;height:48px;background:rgba(0,0,0,0.7) url(images/shortcodes/overlay-link.png) no-repeat center center;position:absolute;top:-25px;left:85px;display:block;text-indent:-9999px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;opacity:0;}
.sc-deal-item .sc-deal-pic .sc-deal-overlay .overlay-lightbox,
.sc-deal-item-one .sc-deal-pic .sc-deal-overlay .overlay-lightbox{width:48px;height:48px;background:rgba(0,0,0,0.7) url(images/shortcodes/overlay-lightbox.png) no-repeat center center;position:absolute;top:-25px;left:85px;display:block;text-indent:-9999px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;opacity:0;}
.sc-deal-item.one-third{width:300px;height:255px;}
.sc-deal-item.one-third img{width:300px;height:196px;}
.sc-deal-item.one-third .sc-deal-pic .sc-deal-overlay{display:block;width:300px;height:196px;overflow:hidden;background:rgba(0,0,0,0.6);position:absolute;top:0;left:0;opacity:0;}
.sc-deal-item.one-third .sc-deal-pic .sc-deal-overlay .overlay-link,
.sc-deal-item.one-third .sc-deal-pic .sc-deal-overlay .overlay-lightbox{left:125px}
.sc-deal-item.eight{width:460px;height:359px;}
.sc-deal-item.eight img{width:460px;height:300px;}
.sc-deal-item.eight .sc-deal-pic .sc-deal-overlay{display:block;width:460px;height:300px;overflow:hidden;background:rgba(0,0,0,0.6);position:absolute;top:0;left:0;opacity:0;}
.sc-deal-item.eight .sc-deal-pic .sc-deal-overlay .overlay-link,
.sc-deal-item.eight .sc-deal-pic .sc-deal-overlay .overlay-lightbox{left:205px}
.sc-deal-item-one{margin:0 0 30px 0;padding:0 0 31px 0;background:#ffffff url(images/shortcodes/dotted.png) repeat-x bottom;}
.sc-deal-item-one .sc-deal-picwrap{width:460px;height:250px;float:left;margin:0 30px 0 0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;overflow:hidden;position:relative;}
.sc-deal-item-one .sc-deal-desc{width:450px;float:left;}
.sc-deal-item-one .sc-deal-picwrap img{display:block;width:460px;height:250px;}
.sc-deal-item-one .sc-deal-desc .read-more-link{display:none;}
.sc-deal-item-one .sc-deal-desc ul li{margin-left:40px !important;}
.sc-deal-item-one h4{font-size:22px;margin:20px 0 0 0;}
.sc-deal-tags{margin:0px 0px 20px 0px;color:#999999;}
.sc-deal-item-one .sc-deal-picwrap .sc-deal-overlay{display:block;width:460px;height:300px;overflow:hidden;background:rgba(0,0,0,0.6);position:absolute;top:0;left:0;opacity:0;}
.sc-deal-item-one .sc-deal-picwrap .sc-deal-overlay .overlay-link,
.sc-deal-item-one .sc-deal-picwrap .sc-deal-overlay .overlay-lightbox{left:205px}
.sc-deal-wide #sc-deal-slider,
.sc-deal-wide #sc-deal-video{margin:0 0 30px 10px;}
#sc-deal-video iframe{max-width:100%;}
#sc-deal-slider{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.sc-deal-detail-description-text{}
.sc-deal-sidebyside .sc-deal-detail-description-text{margin-bottom:30px;}
.sc-deal-detail-description .headline-title-wrap,
.sc-deal-detail-attributes .headline-title-wrap{margin-bottom:25px}
.sc-deal-detail-attributes ul{list-style:none;margin:-7px 0 0 0;}
.sc-deal-detail-attributes ul li{padding:7px 0 6px 0;background:url(images/shortcodes/dotted.png) repeat-x bottom left;}
.sc-deal-detail-attributes ul li strong{display:inline-block;width:60px;font-size:11px;text-transform:uppercase;color:#aeaeae;}
.sc-deal-detail-attributes .button{margin-top:20px;padding:10px 20px;border:1px solid #ddd;display:inline-block;background-image:linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-image:-ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%);background-color:#F9F9F9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);-moz-box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);box-shadow:0px 1px 1px 0px rgba(180, 180, 180, 0.2);}
#sc-deal-related-post{margin-top:40px;}
#sc-deal-related-post h3{margin-left:10px;margin-right:10px;}
.sc-deal-detail .sc-deal-comments{margin-top:20px;}


#map {
    width: 100%!important;
    height: 300px!important;
    position: relative;
    overflow: hidden;
}
