/*
Theme Name: WPGroupbuy Child
Theme URI: http://wpgroupbuy.com/WPGroupbuy-child
Description: WordPress Groupon Clone by WPGroupbuy.com
Author: WPG Team
Author URI: http://wpgroupbuy.com
Template: WPGroupbuy
Version: 2.2
Theme Author: WPG Team
Theme Author URI: http://wpgroupbuy.com/
Text Domain: WPGroupbuy-child
*/

/* Imports styles from the parent theme
-------------------------------------------------------------- */
/*
@import url('../WPGroupbuy/style/styles.css');
@import url('../WPGroupbuy/style/default.css');
*/
/* Theme customization starts here
-------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700&subset=latin,latin-ext);



html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

body.home {
    overflow-x: hidden;
}

body.custom-background {
 /*background-image: url('http://razvoj.e-kupon.si/izkoristi-me/wp-content/uploads/2017/06/prevzem-bg.jpg');*/
 background-color: #e7e3e3!important;
}


.takeover {
    background-image: url('http://razvoj.e-kupon.si/izkoristi-me/wp-content/uploads/2017/06/prevzem-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top !important;
    background-attachment: scroll;
}

.link-prevzem {
    height: 90px;
    width: 100%;
    cursor: pointer;
}

.link-prevzem > a {
    height: 1500px;
    width: 100%;
    display: block;
    text-indent: -9999px;
}


a {

	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

/* HEADER */

.header {
    background-color: transparent;
    height: 140px;
    width: auto;
}

.headerTop {
    
}

.headerTop {
    height: 89px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background: #1b0020!important;
    max-width: 1064px;
}

.headerBg {
    background-color: #1b0020!important;
}

.headerBg {
    height: 138px;
}

.headerBottomW {
    background-color: #d5499e !important;
    display: block;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1064px;
}

.headerBottom {
    position: r elative;
    z-index: 4;
    margin: 0 auto;
    background-color: #d5499e !important;
    border-bottom: 1px solid #CCC;
    height: auto;
}

.headerWidth {
    background: none;
}

.headerLogo {
    background-position: 0 center;
    height: 90px;
    width: 208px;
}

.headerLogo > a {
    display: block;
    width: 208px;
    height: 90px;
}

.headerLogo.fl.fixPNG {
    background: rgba(0, 0, 0, 0) url("images/logo.png") no-repeat scroll 0 30px !important;
}

#header-menu {
	float: right;
}

#header-menu ul li a {
    display: block;
    float: left;
    font-size: 15px;
    height: 89px;
    line-height: 93px;
    padding: 0 10px;
    color: #FF8ED4;
    font-weight: normal;
    background-image: none;
}

#header-menu ul li.last a {
    color: #fff;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.1);
    /*background: rgba(213, 73, 158, 0.2);*/
    /*text-shadow: 5px 0px 10px rgba(213, 57, 158, 1);*/
    /*text-shadow: 5px 0px 10px rgba(255, 255, 255, 1);*/
}


#header-menu ul li a:hover,
#header-menu .current-menu-item a {
    color: #fff;
    background-image: none;
}

#header-menu ul li.last a:hover,
#header-menu .current-menu-item .last > a {
    background: rgba( 213, 73, 158, 1);
    color: #fff;
/*    text-shadow: 5px 0px 10px rgba(255, 255, 255, 1);*/
}


.headerFloat {
    display: none;
    position: absolute;
    z-index: 99;
}

.regMailButton {
    background-image: url("images/spriteme1.png");
    background-position: 120px -471px;
    color: #313131;
    display: none;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-left: 400px;
    padding: 0 15px;
}

/*.headerInfo, .headerGoldInfo {
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 27px 0 0 !important;
    position: relative;
    z-index: 8;
}*/

/*.headerInfo .shopnewIconHeader {
    margin: 28px 15px 0 5px !important;
    position: relative;
    z-index: 8;
}*/

.headerInfo .bgall {
    background-color: #1b0020;
    border: 1px solid #fff;
    color: #fff;

    padding: 0 10px;

    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
    box-shadow: none;
}

.headerCity {
    color: #303030;
    left: 0;
    position: absolute;
    top: 0!important;
    z-index: 99;
}

.searchBox {
    background-image: none;
    background-color: #f265ba!important;
    border-radius: 50px;
    height: 33px;
    width: 280px;
}


.searchBoxTop {
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 8px;
}

.headerCity .currentBg {
    background: rgba(0, 0, 0, 0) url("img/arrow-down.png") no-repeat scroll right center;
    padding: 0 25px 0 0;
    font-weight: normal;
}

.searchBox .inputSearch {
    color: #fff;
    font-size: 14px;
    margin: 1px 0 0 20px;
    width: 217px;
    background-color: #f265ba!important;
}

.searchBox .btnsearch {
    background: rgba(0, 0, 0, 0) url("img/search.png") no-repeat scroll left center;
}

.searchBox .searchBoxLeft {
    background-image: none;
    background-position: -10px -529px;
    height: 33px;
    padding: 0 0 0 10px;
}

.headerCity .title {
    background: rgba(0, 0, 0, 0) url("img/map.png") no-repeat scroll center top;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding: 0 10px 0 40px;
}

.headerCity {
    color: #fff;
    left: 0;
    position: absolute;
    top: 0 !important;
    z-index: 99;
}

.headerCity {
    box-shadow: none;
}

.headerCity a {
	margin-top: 3px;
}

.headerCity .title {
    background: rgba(0, 0, 0, 0) url("img/map.png") no-repeat scroll left center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding: 0 10px 0 30px;
}

.headerCity .title:hover {
    background: rgba(0, 0, 0, 0) url("img/map.png") no-repeat scroll left center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding: 0 10px 0 30px;
}

.scrollup {
    opacity: 0.5;
}

/* BRANDLINE */

.brandline {
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    width: 100%;
    background-color: #fff;
}

.brandline .headerBarMenu {
    margin: 0 auto;
    width: 1064px;
}

.brandline .headerInfo, .brandline .headerGoldInfo {
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 0!important;
    position: relative;
    z-index: 8;

}

.brandline .shopnewIconHeader, {
    margin: 0 10px 0 5px!important;
    position: relative;
    z-index: 8;
}

.shopnewIconHeader {
    margin: 0 10px 0 5px;
    position: relative;
    z-index: 8;
}

.brandline .shopnewIconHeader .retinaiconbox .retinaicon-circ {
    border-radius: 50%;
    font-size: 20px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    margin: 0;
    border: 0;
    background-color: transparent;
    color: #888;
    padding: 4px 3px 3px 3px;
}

.brandline .shopnewIconHeader .v7unOrderheader span,
.brandline .shopnewIconHeader .v7likeheader span,
.brandline .shopnewIconHeader .retinaiconbox span.item {
    background-color: #d04598;
    border-radius: 18px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    margin: -10px 0 0 12px;
    padding: 2px 4px;
    text-align: center;
}

.brandline .headerInfo .bgall {
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 30px;
    color: #888 !important;
    padding: 0 10px;
    margin-left: 10px;

    -webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.brandline .headerInfo .bgall:hover {
    border: 1px solid #1B0020;
}

.brandline .v7linkbtn,
.headerInfo .content a {
	color: #888;
    font-size: 11px;
    font-weight: normal;
}
.brandline .v7linkbtn:hover,
.headerInfo .content a:hover {
	color: #1B0020;
}

.brandline .retinaicon-facebook,
.brandline .retinaicon-shopping-cart{
    color: #888;
    -webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.brandline .retinaicon-facebook:hover,
.brandline .retinaicon-shopping-cart:hover {
    color: #1B0020!important;
}


/* FRONT SLIDER */

/*#soliloquy-container-401 {
    background-image: none;
    height: auto;
    left: 0;
    max-height: 500px;
    max-width: 2000px;
    position: absolute;
    right: 0;
    top: 171px;
}

.sc_container {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 100%;
}

.sc_container .column, .sc_container .columns {
    display: inline-block;
    float: left;
    margin: 10px;*/

.home .soliloquy-container.soliloquy-transition-fade.soliloquy-theme-classic {
	max-width: 100%;
}

.home_ver7 .main-width {
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.home .home_ver7,
.logged-in .home .home_ver7 {
    background-color: #1b0021;
    width: 100%;
    max-width: 100%;
}

/*.logged-in .main {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    background-color: #fff;
}*/

.logged-in .home .main {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background-color: #1b0021;
}


.home .home_ver7 .soliloquy-theme-classic .soliloquy-pager {
    bottom: 90px!important;
    height: 14px;
    margin: 0 0 0 5px;
    position: absolute;
    text-align: center!important;
    width: 100%;
}

.soliloquy-pager-item {
    margin: 0 2px!important;
}

.soliloquy-theme-classic .soliloquy-pager-link {
    margin: 0 2px!important;
}


.block-content {
    background: transparent;
    margin: 0;
}


/* FRONT TOP 3 PONUDBE */

.home .main-content {
    height: 308px;
    position: relative;
}

.home .main-content .box-suport {
    border-radius: 10px;
    margin-top: 0;
}
/*.main-content .sContainer {
    background: rgba(27, 0, 33, 0.8) none repeat scroll 0 0;
    border: 0 none;
    left: -445px;
    margin-left: 50%;
    position: absolute;
    top: -82px;
    width: 890px;
}*/

.home .main-content .sContainer {
    background: rgba(27, 0, 33, 0.8) none repeat scroll 0 0;
    border: 0 none;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: -82px;
    width: 100%;
    max-width: 770px;
}

.home .main-content .sTitle {

    display: none;
}

.home .main-content .title {
    display: none;
}

.home .main-content .negative-wrap {
    margin: 0;
}

.home .main-content .ca-item-main {
    display: inline;
    float: left;
    margin: 5px;
    overflow: visible !important;
    width: 230px;
    padding: 10px;
    border-radius: 0;
}

.home .main-content .ca-item {
    float: left;
    height: 350px;
    position: relative;
    width: 250px;
    padding: 10px;
}
/*
.main-content .v7price_promotionsmall {
    background: rgba(255, 135, 207, 1) none repeat scroll 0 0;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 25px;
    font-weight: normal;
    height: 60px;
    line-height: 58px;
    margin: 0;
    padding-top: 0;
    right: 5px;
    top: 4px;
    width: 60px;
    z-index: 6;
}*/


.home .main-content .v7price_promotionsmall {
    background-color: rgba(255, 135, 207, 0.9);
    background-image: none !important;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-top: 0;
    left: 10px;
    text-align: center;
    top: 0;
    width: auto;
    z-index: 6;
    padding: 10px;
    line-height: inherit;
}


.home .main-content .ca-item a.deal_title {
    border-bottom: 1px dashed #ccc;
    color: #111;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    line-height: 20px;
    margin: 5px 0;
    max-height: 101px !important;
    overflow: hidden;
    padding: 5px 0 16px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: none;
    width: 100%;
}


.home .main-content .wp-post-image {
    height: auto;
    width: 100%;
}

.home .main-content2 .ca-more,
.home .main-content2 .ca-more-2,
.home .main-content .ca-more,
.home .main-content .ca-more-2,
.single .main .ca-more,
.single .main .ca-more-2{
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #d5499f;
    border-radius: 30px;
    box-shadow: none;
    color: #d5499f;
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0;
    padding: 4px 14px 3px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}


.home .main-content2 .ca-more:hover,
.home .main-content2 .ca-more-2:hover,
.home .main-content .ca-more:hover,
.home .main-content .ca-more-2:hover,
.single .main .ca-more:hover,
.single .main .ca-more-2:hover {
    background-color: #d5499f;
    color: #fff;
    border: 1px solid #d5499f;
}

.home .main-content .wp-post-image {
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.home .main-content .wp-post-image:hover {
	transform:scale(1.05);
}

.home .main-content .ca-icon {
    height: 141px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%px;
}

.home .ca-item-main .deal_description {
    display: none!important;
}



/* FRONT PONUDBE */


.home .main-content2 {
    /*background-color: #fff;*/
    /*padding-top: 90px;*/
    width: 100%;
   /* background-image: url("img/prevzem-bg.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
}

.home .main-content2 .mTop20.pTop15 {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    /*background-color: #EBEBEB;*/
    position: relative;
}

.home .main-content2 .weekly .homecate_c {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.home .main-content2 .homecate_c {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.home .main-content2 .weekly2 {
    background: none;
    border-bottom: 0;
    border-top: 0;

}

.home .v7linkcate {
    color: #056bac;
    display: none;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
}


.home .main-content2 .v7price_promotionsmall,
.home .main-content .v7price_promotionsmall {
    background: rgba(213, 73, 158, 0.9) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-size: 22px !important;
    left: 10px;
    margin-left: 0;
    padding-top: 0;
    padding: 10px;
    text-align: center;
    top: 10px;
    width: auto;
    z-index: 2;
    line-height: inherit;
}

.home .main-content2 .v7price_promotionsmall span {
    font-size: 20px;
}


.home .v7PromotionSmall {
    color: #d5499f;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

.home .main-content2 .ca-item-main {
	overflow: visible;
}


.home .main-content2 .ca-item-main {
	border: 1px solid #ccc;
	box-shadow: none;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
  	border-radius: 0px;
    padding: 10px;
}

.home .main-content2 .ca-item-main:hover {
	border: 1px solid #D5499E;
}

.home .main-content2 .ca-item {
    float: left;
    min-height: 352px;
    position: relative;
    width: 245px;
    height: auto;
}

.home .main-content2 .ca-nav span {
    background: transparent url("img/button/arrows.png") no-repeat scroll left top / 200% auto;
    cursor: pointer;
    height: 38px;
    left: -24px;
    margin-top: -19px;
    opacity: 0.7;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 25px;
    z-index: 100;
}

.home .main-content2 .ca-nav span.ca-nav-next {
    background: transparent url("img/button/arrows.png") no-repeat scroll right top / 200% auto;
    cursor: pointer;
    height: 38px;
    right: -24px;
    margin-top: -19px;
    opacity: 0.7;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 25px;
    z-index: 100;
    left: auto;
}

.home .main-content2 .ca-icon {
    height: 143px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%px;
}

 .home .main-content2 .ca-item a.deal_title{
    border-bottom: 1px dashed #ccc;
    color: #111;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin: 6px 0 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 102px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}


.home .main-content2 .ca-item a.deal_title:hover {
	color: #000;
}

.home .ca-item-main .deal_description {
    color: #888;
    display: block;
    font-size: 13px;
    line-height: 18.3px;
    font-weight: lighter;
}


.home .main-content2 .attachment-wpg_217x217.wp-post-image {
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;

  	width: 214px;
	height: auto;
}

.home .main-content2 .attachment-wpg_217x217.wp-post-image:hover {
	transform:scale(1.05);
}

.home .main-content2 .attachment-wpg_210x158.wp-post-image {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    width: 210px;
    height: auto;
}

.home .main-content2 .attachment-wpg_210x158.wp-post-image:hover {
    transform:scale(1.05);
}

.home .v7bnew {
    color: #1b0021;
    font-size: 11px !important;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
}

.home .v6TitleCate h2 {
    color: #1b0020;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}





/* PODSTRAN KATEGORIJE */

.archive.tax-wg_category .home_ver7 {
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.archive.tax-wg_category .main {
    margin: 0 auto;
}

.archive.tax-wg_category .main-content {
    background-color: transparent;
/*    background-image: url("img/prevzem-bg.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    /*padding-top: 90px;*/
    width: 100%;
}

.archive.tax-wg_category .v6ContentCat {
    background-color: #ebebeb;
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 1060px;
    width: 100%;
    display: grid;
    padding: 0 0 35px 0;
}

.archive.tax-wg_category .main-width.v7Soldbg  {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.archive.tax-wg_category .list-rands {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
}

/*ca-item-main {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 5px;
    box-shadow: 0 1px 1px 1px rgba(70, 70, 70, 0.2);
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}*/

.archive.tax-wg_category .list-rands:hover {
    border: 1px solid #D5499E;
}

.archive.tax-wg_category .list-rands-over {
    display: inline-block;
    float: left;
    height: 360px;
    margin: 0;
    min-height: 350px;
    overflow: visible;
    position: relative;
    width: 245px;
    margin: 0;
}

.archive.tax-wg_category .v6ItemHotImg.v6hover.v7Relative{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.archive.tax-wg_category .titledeals2 {
    color: #777;
    font-size: 14px;
    height: auto;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
}

.archive.tax-wg_category .titledeals2 a {
    color: #444;
    display: block;
    font-size: 16px;
    width: 100%;
    display: block;
}

.archive.tax-wg_category .v7PromotionBigSold {
    color: #d5499f;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.archive.tax-wg_category .ca-more.v7view.fr.fixPNG.mTop20.w45 {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #d5499f;
    border-radius: 30px;
    box-shadow: none;
    color: #d5499f;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 10px 3px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
}

.archive.tax-wg_category .ca-more.v7view.fr.fixPNG.mTop20.w45:hover {
    background-color: #d5499f;
    border: 1px solid #d5499f;
    color: #fff;
}

.archive.tax-wg_category .titledeals2 a {
    border-bottom: 1px dashed #ccc;
    color: #111;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    line-height: 20px;
    margin: 6px 0 4px;
    max-height: 102px;
    overflow: hidden;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
}

.archive.tax-wg_category .v6TopBorder {
    background-color: #fff;
    margin-top: 1px;
    padding: 5px 0;
}

.archive.tax-wg_category .v6ContentHot {
    border-bottom: 0;
}

.archive.tax-wg_category .v7bnew {
    color: #1b0021;
    font-size: 11px !important;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
}

.archive.tax-wg_category .deal_description {
    color: #888;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    line-height: 18.3px;
}

.archive.tax-wg_category h2 {
    color: #1b0020;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.archive.tax-wg_category .v7PromotionBigSold {
    color: #d5499f;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

.archive.tax-wg_category .attachment-wpg_290x290.wp-post-image {
    width: auto;
    height: 214px;
    display: block;
}

.archive.tax-wg_category .v6ItemHotImg.v6hover.v7Relative > a {
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    display: block;

}

.archive.tax-wg_category .v6ItemHotImg.v6hover.v7Relative > a:hover {
    transform:scale(1.05);    
}

.archive.tax-wg_category .box-frame-center {
    padding:1;
}



/* PODSTRAN REGIJE */

.archive.tax-wg_location .home_ver7 {
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.archive.tax-wg_location .main {
    margin: 0 auto;
}

.archive.tax-wg_location .main-content {
    background-color: transparent;
/*    background-image: url("img/prevzem-bg.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 0px;
    width: 100%;
}

.archive.tax-wg_location .v6ContentCat {
    background-color: #ebebeb;
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 1060px;
    width: 100%;
    display: grid;
    padding: 0 0 35px 0;
}

.archive.tax-wg_location .main-width.v7Soldbg  {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 980px;
}

.archive.tax-wg_location .list-rands {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
}

/*ca-item-main {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 5px;
    box-shadow: 0 1px 1px 1px rgba(70, 70, 70, 0.2);
    left: 5px;
    overflow: hidden;
    padding: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}*/

.archive.tax-wg_location .list-rands:hover {
    border: 1px solid #D5499E;
}

.archive.tax-wg_location .list-rands-over {
    display: inline-block;
    float: left;
    height: 360px;
    margin: 0;
    min-height: 350px;
    overflow: visible;
    position: relative;
    width: 245px;
    margin: 0;
}

.archive.tax-wg_location .v6ItemHotImg.v6hover.v7Relative{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.archive.tax-wg_location .titledeals2 {
    color: #777;
    font-size: 14px;
    height: auto;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
}

.archive.tax-wg_location .titledeals2 a {
    color: #444;
    display: block;
    font-size: 16px;
    width: 100%;
    display: block;
}

.archive.tax-wg_location .v7PromotionBigSold {
    color: #d5499f;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.archive.tax-wg_location .ca-more.v7view.fr.fixPNG.mTop20.w45 {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #d5499f;
    border-radius: 30px;
    box-shadow: none;
    color: #d5499f;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 10px 3px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
}

.archive.tax-wg_location .ca-more.v7view.fr.fixPNG.mTop20.w45:hover {
    background-color: #d5499f;
    border: 1px solid #d5499f;
    color: #fff;
}

.archive.tax-wg_location .titledeals2 a {
    border-bottom: 1px dashed #ccc;
    color: #111;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    line-height: 20px;
    margin: 6px 0 4px;
    max-height: 102px;
    overflow: hidden;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
}

.archive.tax-wg_location .v6TopBorder {
    background-color: #fff;
    margin-top: 1px;
    padding: 5px 0;
}

.archive.tax-wg_location .v6ContentHot {
    border-bottom: 0;
}

.archive.tax-wg_location .v7bnew {
    color: #1b0021;
    font-size: 11px !important;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
}

.archive.tax-wg_location .deal_description {
    color: #888;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    line-height: 18.3px;
}

.archive.tax-wg_location h2 {
    color: #1b0020;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.archive.tax-wg_location .v7PromotionBigSold {
    color: #d5499f;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

.archive.tax-wg_location .attachment-wpg_290x290.wp-post-image {
    width: auto;
    height: 214px;
    display: block;
}

.archive.tax-wg_location .v6ItemHotImg.v6hover.v7Relative > a {
        -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    display: block;

}

.archive.tax-wg_location .v6ItemHotImg.v6hover.v7Relative > a:hover {
    transform:scale(1.05);    
}

.archive.tax-wg_location .box-frame-center {
    padding:1;
}

/* PODSTRAN PONUDBE */
.main_view {
    border: none;
    box-shadow: none;
}

.single.single-wg_deal .main_view {
    padding: 20px;
    border: none;
}

#header-menu ul.menu li.current_page_item a,
#header-menu ul.menu li.current-menu-parent a {
    background-image:none;
    color: #ffffff;
}

.single.single-wg_deal .cont-maindear {
    height: 100%;
    min-height: 430px;
    padding: 0;
}

.single.single-wg_deal .main {
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
    background: transparent;
}

.single.single-wg_deal .block-content {
	margin: 0 auto;
    width: 100%;
    max-width: 1064px;
    background: #fff;
}

.single.single-wg_deal .leftcontents {
    width: 100%;
    float: none;
}

.single.single-wg_deal .mainimg {
    cursor: pointer;
    float: left;
    position: relative;
    width: 63%;
    overflow: hidden;
    max-height: 430px;
    margin-right: 2%;
}

.single.single-wg_deal .v7inlinetype {
    background: rgba(26, 0, 32, 0.8) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    text-transform: uppercase;
    z-index: 10;
}

.single.single-wg_deal .pricebuys span.noline {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.single.single-wg_deal .v6BorderBot {
    border-bottom: none;
    border-top: 0 none;
    display: block;
    float: left;
    height: 53px;
    padding: 10px;
    position: relative;
    width: 94%;
}

.single.single-wg_deal .v6BuyNow span.buynow_text {
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: -20px;
    padding-left: 12px;
    text-transform: uppercase;
}


.single.single-wg_deal .v6Timer {
    background-image: none;
    border-bottom: medium none;
    height: auto;
    overflow: hidden;
    padding: 0;
}

.single.single-wg_deal .v6Timer .v6DisplayTime {
    font-size: 26px;
    font-weight: bold;
    line-height: 50px;
    border: none;
    margin: 0 5px;
}

.single.single-wg_deal .v6BuyNow .retinaiconbox .retinaicon-shopping-cart {
    color: #fff;
    font-size: 22px;
    line-height: 41px;
    margin-left: 25px;
}

.single.single-wg_deal .v6BuyNow .retinaiconbox {
    background-color: #d5449f;
    background-image: none;
    border-radius: 25px;
    color: #fff;
    font-size: 24px;
    height: auto;
    line-height: 38px;
    padding: 2px;
    text-align: center;
    width: auto;
}

.single.single-wg_deal .v6TitleShort.h70 > h1 {
    display: block;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    margin: 10px 0 20px;
    color: #1B0020;
    border-bottom: 1px dashed #1b0020;
}

.single.single-wg_deal .title-maindear {
    padding: 0;
    margin: 0;
}

.single.single-wg_deal .attachment-wpg_475x475.wp-post-image {
    height: 430px;
    width: auto;
}

.single.single-wg_deal .attachment-wpg_640x430.wp-post-image {
    width: 100%;
    height: auto;
}

.single.single-wg_deal .title-maindear .v6TitleShort {
    color: #666;
    height: auto;
    text-align: left;
}

.single.single-wg_deal .right-contdear {
    border-left: 0;
    float: right;
    height: unset;
    width: 35%;
}

.single.single-wg_deal .shopBuy,
.single.single-wg_deal .shoppromotion,
.single.single-wg_deal .shoptime {
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
    color: #1A0020;
    float: left;
    /*height: 100%;*/
    width: 94%;
    padding: 10px;
}

.single.single-wg_deal .shopinfo {
    background-color: #fff;
    border-bottom: 0;
    display: block;
    float: left;
    height: auto;
    overflow: visible;
    width: 100%;
}

.single.single-wg_deal .shopMoreInfo {
    font-size: 26px;
    font-weight: bold;
    margin: 0 5px;
    text-align: left;
}

.single.single-wg_deal .shoptime > .shopMoreInfo {
    text-decoration: line-through;
}

.single.single-wg_deal .shopTitleInfo {
    color: #777;
    display: block;
    font-size: 13px;
    margin: 0 5px;
    text-align: left;
    font-weight: normal;
}

.single.single-wg_deal .countdown_timer_label {
    color: #777;
    display: block;
    font-size: 13px;
    line-height: 13px!important;
    font-weight: normal;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 0;
}

.single.single-wg_deal .btn {
    border: 1px solid #D5499E;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #fff;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.single.single-wg_deal .btn:hover {
    background-color: #D5499E;
    color: #fff;
}

.single.single-wg_deal .boxPrices_view .shopTitleInfo {
    color:#D5499E;
}

.single.single-wg_deal .v6BuyNow {
    margin: 0 0 ;
    text-align: center;
    width: 220px;
}

.single.single-wg_deal .v6BuyNow span.buynow_text {
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: -20px;
    padding-left: 12px;
    text-transform: uppercase;
}

.single.single-wg_deal .boxPrices {
    height: auto;
}

.single.single-wg_deal .boxPrices_view {
    background-image: none;
    background-position: center top;
    height: auto;
    left: 0!important;
    position: relative;
    width: auto;
    z-index: 3;
    padding: 10px;
    margin: 0;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;
}

.single.single-wg_deal .mTop10,
.single.single-wg_deal #mTop10 {
    margin-top: 10px;
}

.single.single-wg_deal .v6Price {
    color: #d5499f;
    font-weight: bold;
    height: auto;
    text-align: left;
    margin: 3px;
}

.single.single-wg_deal .buynow_btn {
    background-color: #d5449f;
}

.single.single-wg_deal .v7price_promotion,
.single.single-wg_deal .v7price_promotionsmall,
.v7price_promotion,
.v7price_promotionsmall {
    background-image: none;
    background: rgba(213, 73, 158, 0.9) none repeat scroll 0 0;
    background-position: center top;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    height: auto;
    margin: 0;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: auto;
    z-index: 1;
    line-height: inherit;
    padding: 10px;
}

.single.single-wg_deal .v7price_promotion span.deal-savings {
    font-size:34px;
}

.v7price_promotion span.deal-savings,
.v7price_promotion,
.v7price_promotionsmall  {
	font-size: 24px;
}

.boxcategory, .boxdetailAdvan {
    display: none;
}

.single.single-wg_deal .right-deal-info {
    display: inline-block;
    float: right;
    width: 35%;
    padding: 10px 10px 10px 30px;
    border-left: 1px dashed #d5499f;
}

/*.single.single-wg_deal .right-deal-info *//*li:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(/izkoristi-me/wp-content/themes/WPGroupbuy/style/images/icon/check-mark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
    list-style-type: none;
}*/

.single.single-wg_deal .right-deal-info .pogoji li,
.single.single-wg_deal .right-deal-info .ostaliPogoji li{
    list-style: none;
    margin: 0 0 10px 0;
} 

.single.single-wg_deal .right-deal-info .pogoji li:before,
.single.single-wg_deal .right-deal-info .ostaliPogoji li:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 15px;
    background-image: url("/izkoristi-me/wp-content/themes/WPGroupbuy/style/images/icon/check-mark.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
}

.single.single-wg_deal .main-boxcontFull {
    display: inline-block;
    margin: 0;
    width: 65%;
}

.single.single-wg_deal h1 {
    border-bottom: 1px dashed #d5499f;
    color: #d5499f;
    font-size: 22px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.single.single-wg_deal h2{
    color: #333;
    margin: 20px 0 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.single.single-wg_deal h3{
    color: #333;
    margin: 0px 0 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.single.single-wg_deal .offerLink > h3 {
    color: #d5499f !important;
    font-size: 25px !important;
    line-height: 34px;
}

.pogoji, .moznosti, .unovcljivost, .pomoc, .ostaliPogoji {
    margin-bottom: 40px;
}

.single.single-wg_deal .pogoji,
.single.single-wg_deal .moznosti,
.single.single-wg_deal .pomoc,
.single.single-wg_deal .unovcljivost,
.single.single-wg_deal .ostaliPogoji, {
    color: #777;
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 30px;
}

.single.single-wg_deal .pogoji > p,
.single.single-wg_deal .pomoc p,
.single.single-wg_deal .moznosti p, {
    margin: 6px 0 10px;
    line-height: 20px;
    color: #777;
}

.single.single-wg_deal p {
    color: #777;
    font-size: 12px;
    line-height: 20px;
    margin: 4px 0 20px;
}

.single.single-wg_deal p span {
    color: #777 !important;
}

.single.single-wg_deal .main_view li {
    color: #777 !important;
    /*margin: 10px 10px;*/
    list-style-type: circle;
}

.single.single-wg_deal strong {
    color: #777 !important;
    font-size: 14px;
}

.main_view.pBottom10 {
	display: none;
}

.single.single-wg_deal .offer-details > ul > li,
.single.single-wg_deal .offer-description .offer-normal_text, {
    color: #777;
    line-height: 20px;
    font-size: 14px!important;
    margin: 2px 0;
}

.single.single-wg_deal .title_bold, .title_bold_blueGay {
    border-bottom: 1px dashed #d5499f;
    color: #d5499f;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.single.single-wg_deal .offer-details > ul {
    margin: 10px 0 20px 20px;
}


.single.single-wg_deal .offer-details li,
.single.single-wg_deal .offer-description {
    color: #777;
    font-size: 14px;
    line-height: 20px;
    margin: 2px 0;
}

.single.single-wg_deal .offer_company_info_wrap {
    font-size: 14px;
    line-height: 20px;
}

.single.single-wg_deal .offer_company_title {
    margin: 10px 0;
    font-weight: bold;
}

.single.single-wg_deal .contents {
    padding: 10px 30px 10px 10px;
    margin-right: 0;
    font-size: 14px;
}


.single.single-wg_deal .offer-gallery {
    margin-top: 20px;
}

.single.single-wg_deal a {
    color: #d5499f;
}

.single.single-wg_deal a:hover {
    color: #1B0020;
    text-decoration: none;
}

.single.single-wg_deal .right_contents {
    display: none;
}


.single.single-wg_deal .main_view.other-offers {
    padding: 30px !important;
    min-height: 520px;
    height: 100%
}


.single.single-wg_deal .other-offers h1 {
    border-bottom: 1px dashed #777;
    font-size: 36px;
    font-weight: normal;
    padding: 0 0 10px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #111!important;
    margin-top: 0;
}

.single.single-wg_deal .offer {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px; 
}

.single.single-wg_deal .offer > h3 {
    color: #d5499e !important;
    font-size: 28px !important;
    text-transform: none!important;
    font-weight: bold;
}

.single.single-wg_deal .offer > div > ul > li {
    list-style: none;
    color: #111;
    font-size: 13px;
    line-height: 20px;
    margin: 2px 0 0 10px;
    list-style: inside none disc;
}

.single.single-wg_deal .offer .btn {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #d5499e;
    color: #fff;
    border-color: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
    float: left;
    text-align: center;
    line-height: 22px;
    display: block;
    text-transform: uppercase;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.single.single-wg_deal .offer-link {
    display: block;
    height: auto;
}


.single.single-wg_deal .offer .btn:hover {
    background-color: #fff;
    color: #d5499e;
    border-color: 1px solid #d5499e;
}

.single.single-wg_deal .numbers {
    color: #1b0020;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.single.single-wg_deal .numbers > span {
    color: #d5499e;
    font-weight: bold;
}

.single.single-wg_deal .info {
    padding: 10px;
}


.single.single-wg_deal .offer .price {
    color: #111;
    display: block;
    float: none;
    font-size: 26px;
    font-weight: lighter;
    margin: 10px 20px 0 0;
}

.single.single-wg_deal .price > span {
    font-weight: bold;
    color: #1b0020;
}


#wlt-DealView .single.single-wg_deal li {
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
    color: #777;
}

.single.single-wg_deal .description.content {
    font-size: 14px;
    line-height: 22px;
    color: #777;
    margin-top: 20px;
    border-top: 1px dashed #ccc;
    padding-top: 20px;
}

.contents {
    text-align: left;
}

#wlt-DealView .importantThings.last {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px dashed #ccc;
    border-image: none;
    border-left: 6px solid #555 !important;
    border-right: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    margin: 30px 0;
    padding: 20px 20px 5px;
}

.importantThings.last li {
    font-size: 14px;
    line-height: 26px;
}

.soliloquy-container .soliloquy-pager-link {
    background-size: 100% !important;
    margin: 0 5px !important;
}



/* CART */

.sell1 .profileAddGoldV6  {
	background-color: #fff;
    background-image: none !important;
    border: 1px solid #d5499f!important;
    border-radius: 100px!important;
    box-shadow: none;
    color: #d5499f!important;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 14px 4px!important;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    line-height: inherit!important;
    height: auto!important;
    width: auto!important;

    	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.sell1 .profileAddGoldV6:hover {
	background-color: #d5499f;
    color: #fff!important;
    border: 1px solid #d5499f;
}

.sell1 {
	max-width: 1064px;
	width: 100%;
}

.single.single-wp_router_page.loaded .rightMainBox {
    display: none;
    float: right;
    width: 235px;
}


.leftMainBox {
	max-width: 1064px;
	width: 77%;
}

a {
    color: #d5499f;
}

a:hover {
    color: #d5499f;
    opacity: 1;
    text-decoration: none;
}

.listingOrder .itemProfile,
.price, td.price {
	color: #d5499f;
}

.itemProfile.bRight.cart-quantity.odd {
    text-align: center;
}



/* LOGIN */

.wg_account.type-wg_account.gecko.loaded .main {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
}

.wg_account #wpg_login_form input,
.wg_account #blog-comment input,
.wg_account #wpg_checkout input,
.wg_account #claim_voucher input,
.wg_account #wpg_deal_submission input,
.wg_account #wpg_merchant_register input,
.wg_account #wpg_account_edit input {
    border: 1px solid #dddddd;
    border-radius: 30px;
    color: #333333;
    font-family: arial;
    font-size: 14px;
    height: 29px;
    margin: 3px 0;
    padding: 4px 20px;
    max-width: 270px !important;
    width: 100%;
}

.wg_account #wg_account_register [type="checkbox"] {
    height: auto;
    margin-right: 3px;
}

.wg_account #wpg_account_edit input[type="checkbox"] {
    height: auto;
    margin-right: 3px;
}

.wg_account #wpg_login_form input[type="submit"],
.wg_account #wpg_checkout input[type="submit"],
.wg_account #claim_voucher input[type="submit"],
.wg_account #wpg_deal_submission input[type="submit"],
.wg_account #wpg_merchant_register input[type="submit"],
.wg_account #wpg_account_edit input[type="submit"] {
    border: medium none;
    color: #d5499f;
    cursor: pointer;
    height: 37px;
    width: 116px !important;
}

.wg_account #wpg_login_form input[type="submit"]:hover,
.wg_account #wpg_checkout input[type="submit"]:hover,
.wg_account #claim_voucher input[type="submit"]:hover,
.wg_account #wpg_deal_submission input[type="submit"]:hover,
.wg_account #wpg_merchant_register input[type="submit"]:hover,
.wg_account #wpg_account_edit input[type="submit"]:hover {
    color: #fff;
}


.wg_account .fl label {
    font-size: 14px;
    line-height: 46px;
    font-weight: lighter;
}

#wpg_login .first {
    margin-right: 30px !important;
    padding-right: 10px;
    text-align: right;
    width: auto;
}

#wpg_login h2 {
    color: #1b0020;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#wpg_login .sTitle {
    /*border-bottom: 1px solid #efefef;*/
    border-bottom: none;;
    margin: 15px;
    padding-bottom: 5px;
    width: 100%;
}

#wpg_login .forgot_password,
#wpg_login .first > a {
    color: #555;
    line-height: 24px;
    font-size: 12px;
    font-weight: normal;
}


#wpg_login .forgot_password:hover,
#wpg_login .first > a:hover {
    color: #1B0020;
    text-decoration: none;
}

#wpg_login .wp-social-login-connect-with {
    display: inline;
    float: left;
    line-height: 49px;
    margin: 0 20px 0 0;
    font-weight: lighter;
    color: #555;
}

#wpg_login .wp-social-login-provider-list a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: 888;
}

#wpg_login .text-input-sm.valid,
#wpg_login .text-input-sm {
    font-family: "Roboto"!important;
    background-color: #e5e5e5!important;
    border: none!important;
    border-radius: 100px!important;
    font-weight: bold;
    padding: 6px 20px !important;
    width: 100% !important;
}

.wg_account #wpg_login_form input, .wg_account #blog-comment input, .wg_account #wpg_checkout input, .wg_account #claim_voucher input, .wg_account #wpg_deal_submission input, .wg_account #wpg_merchant_register input, .wg_account #wpg_account_edit input {
    font-family: "Roboto"!important;
}

#rememberme {
    height: auto!important;
}


#wpg_login .mainPadding {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    background-color: #EBEBEB;
}

.profileContainer {
    background: #fff none repeat scroll 0 0;
    border-top: none;
    margin-top: -1px;
    padding: 15px;
}




/* FOOTER */

.footer {
    background: rgba(27, 0, 33, 1) none repeat scroll 0 0;
    border: medium none;
    margin-top: 0;
    width: 100%;
    padding: 20px;
}

.footer #copyright {
    background-color: transparent;
    border: none;
}

.footer #footer_nav {
    width: 100%;
    max-width: 1036px;
}

.footer .bottom-footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0 !important;
    max-width: 1036px;
}

.footer .content-copyright {
    color: #67556f;
    font-size: 14px;
    line-height: 20px;
    font-weight: lighter;
}

.footer a {
    /*color: #67556f;*/
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 28px;
}


.footer ul li a {
    color: #67556f;
    font-size: 14px;
    font-weight: lighter;
    line-height: 28px;
}

.footer .forgot_password,
.footer .first > a {
    color: #888 !important;
}

.footer .forgot_password,
.footer .first > a:hover {
    color: #1B0021;
    text-decoration:none;
}

.footer .fr > a > img {
    display: none;
}


/* MY CART */

.main {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
}


/* sold out */

.soldout_tag {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 2;
}


/* ostale ponudbe */ 

#ca-container-merchant .ca-item-main {
    padding: 10px;
}

#ca-container-merchant .ca-icon {
    position: relative;
    margin: 0 auto;
    height: 146px;
    overflow: hidden;
}

#ca-container-merchant .single.single-wg_deal .v7price_promotionsmall {
    font-size: 18px;
}


#ca-container-merchant .v7price_promotionsmall {
    background: rgba(213, 73, 158, 0.9) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-size: 22px !important;
    left: 10px;
    margin-left: 0;
    padding-top: 0;
    padding: 10px;
    text-align: center;
    top: 10px;
    width: auto;
    z-index: 2;
    line-height: inherit;
}

#ca-container-merchant .v7price_promotionsmall span {
    font-size: 20px;
}


#ca-container-merchant .ca-item a.deal_title{
    border-bottom: 1px dashed #ccc;
    color: #111;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 102px;
    padding: 4px 0 14px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    margin: 6px 0 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 102px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}


#ca-container-merchant .ca-item a.deal_title:hover {
    color: #000;
}

.weekly2 {
    background: #f3f3f3;
    margin-top: 40px;
    border: none;
}

.weekly.weekly2 {
	background: #fff;
}

#ca-container-merchant .v7PromotionSmall {
    color: #d5499f;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 3px;
}

#ca-container-merchant .ca-item-main:hover {
    border: 1px solid #D5499E;
}
#ca-container-merchant .ca-item-main {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
}


#scrollboxMerchant h1 {
    border-bottom: 1px dashed #d5499f;
    color: #d5499f;
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
}

#dockCatMerchant {
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
}

/* progress bar */

#progress_bar {
    display: block;
    margin: 10px 0;
    float: left;
    position: relative;
    height: 15px;
    clear: both;
    width: 94%;
    padding: 10px;
    margin-top: 10px !important;
}



.progress {
    display: none;
}


/* search page */

.search .main {
    padding: 30px 0;
    width: 100%;
    max-width: 1060px;
    background-color: #fff;
    margin: 20px auto;
}


.search .main_view {
    border: none;
    box-shadow: none;

}

.search .v7linkSold {
    border-bottom: 1px dashed #d5499f;
    color: #d5499f;
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    display: block;
    margin: 0 0 20px 0;
}

.search .right_contents {
    display: none;
}

.search .leftcontents {
    width: 100%;
}

.search .blog-post-thumb {
    float: left;
    margin: 0 10px 10px 0;
    display: inline-block;
    width: 20%;
}

.search .blog-post-content {
    text-align: justify;
    float: left;
    display: inline-block;
    width: 78%;
}

.search p {
    font-size: 14px;
    line-height: 20px;
}

.v7linkSold.fixPNG a {
    color: #d5499f !important;
    display: block;
}


/* PREVZEM */

/*.main-content2 .left-to {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    right: 1060px !important;
    top: 0px;
    cursor: pointer;
}

.main-content2 .right-to {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    left: 1060px !important;
    top: 0px;
    cursor: pointer;
}*/

.main-content2 .left-to {
    display: none;
}

.main-content2 .right-to {
    display: none;
}

/* CART */

.single.single-wp_router_page.logged-in .main,
.single.single-wp_router_page .main {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    background-color: #fff;
}


.single.single-wp_router_page.loaded.logged-in .rightMainBox,
.logged-in .rightMainBox,
.single.single-wp_router_page.loaded .rightMainBox,
.rightMainBox {
    display: block !important;
    float: left;
    width: 235px;
    position: relative;
}

.single-wp_router_page.logged-in .newTitleV6.p0.soldLineNew.pBottom10.mBottom10,
.logged-in .newTitleV6.p0.soldLineNew.pBottom10.mBottom10,
.single-wp_router_page .newTitleV6.p0.soldLineNew.pBottom10.mBottom10,
.newTitleV6.p0.soldLineNew.pBottom10.mBottom10 {
    border: none;
    padding: 20px 0 0;
}

.single-wp_router_page.logged-in .profileHeaderTitle,
.logged-in .profileHeaderTitle,
.single-wp_router_page .profileHeaderTitle,
.profileHeaderTitle {
    font-weight: normal;
    font-size: 30px;
    color: #1B0020;
}

.single-wp_router_page.logged-in .blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder,
.logged-in .blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder,
.single-wp_router_page .blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder,
.blockSoldItem.blockSoldHide1.pBottom10.blockSoldItemBorder {
    display: block;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.single-wp_router_page.logged-in .newTitleV6,
.logged-in .newTitleV6,
.single-wp_router_page .newTitleV6,
.newTitleV6 {
    font-size: 20px;
    color: #1B0020;
    font-weight: bold;
}


.single-wp_router_page.logged-in .title.m0.newqc,
.logged-in .title.m0.newqc,
.single-wp_router_page .title.m0.newqc,
.title.m0.newqc {
    font-size: 15px;
    margin-bottom: 14px;
    font-weight: normal;
    text-transform: inherit;
    line-height: 18px;
}

.single-wp_router_page.logged-in .soldInfo .title.m0.newqc,
.logged-in .soldInfo .title.m0.newqc,
.single-wp_router_page .soldInfo .title.m0.newqc,
.soldInfo .title.m0.newqc {
    display: none;
}


/*.single-wp_router_page .soldImgqc {
    position: relative;
    float: none;
    width: 100%;
    display: block;
}

.single-wp_router_page .wp-post-image {
    width: 100%;
    height: auto;
}*/

.single-wp_router_page.logged-in .box_discountsale,
.logged-in .box_discountsale,
.single-wp_router_page .box_discountsale,
.box_discountsale {
    background: rgba(213, 73, 158, 0.9) none repeat scroll 0 0;
    background-image: none !important;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-top: 0;
    left: 0;
    text-align: center;
    top: 0;
    width: unset !important;
    z-index: 6;
    padding: 6px;
    line-height: inherit;
    right: inherit;
    bottom: inherit;
    height: inherit;
}

.single-wp_router_page.logged-in .soldInfonew,
.logged-in .soldInfonew,
.single-wp_router_page .soldInfonew,
.soldInfonew {
    margin-left: 10px !important;
}


.single-wp_router_page.logged-in .soldInfo.soldInfonew.wauto .mTop5,
.logged-in .soldInfo.soldInfonew.wauto .mTop5,
.single-wp_router_page .soldInfo.soldInfonew.wauto .mTop5,
.soldInfo.soldInfonew.wauto .mTop5 {
    color: #d5499f;
    font-size: 16px;
    font-weight: normal;
    margin-top: 3px;
    font-style: normal;
}


.single-wp_router_page.logged-in .soldInfonew div b,
.logged-in .soldInfonew div b,
.single-wp_router_page .soldInfonew div b,
.soldInfonew div b {
    color: #d5499f;
    font-style: normal;
    font-size: 16px;
}


.single-wp_router_page.logged-in .soldInfonew div a,
.logged-in .soldInfonew div a,
.single-wp_router_page .soldInfonew div a,
.soldInfonew div a {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #d5499f;
    border-radius: 30px;
    box-shadow: none;
    color: #d5499f;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 15px 4px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    display: inline-block;
    font-style: normal;
    line-height: inherit;
}

.single-wp_router_page.logged-in .soldInfonew div a:hover,
.logged-in .soldInfonew div a:hover,
.single-wp_router_page .soldInfonew div a:hover,
.soldInfonew div a:hover{
    background-color: #d5499f;
    border: 1px solid #d5499f;
    color: #fff;
    text-decoration: none;
}

.profileAddGoldV6 {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #d5499f;
    border-radius: 30px;
    box-shadow: none;
    color: #d5499f;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 15px 4px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
    display: inline-block;
    font-style: normal;
    line-height: inherit;
}

.profileAddGoldV6:hover{
    background-color: #d5499f;
    border: 1px solid #d5499f;
    color: #fff;
    text-decoration: none;
}



.single-wp_router_page.logged-in .price.odd a,
.logged-in .price.odd a,
.single-wp_router_page .price.odd a,
.price.odd a {
    color: #d5499f;
}

.single-wp_router_page.logged-in .price.odd a:hover,
.logged-in .price.odd a:hover,
.single-wp_router_page .price.odd a:hover,
.price.odd a:hover {
    color: #d5499f;
    text-decoration: none;
    opacity: 0.8;
}

.single-wp_router_page.logged-in .price, .single-wp_router_page td.price,
.logged-in .price, .single-wp_router_page td.price,
.single-wp_router_page .price, .single-wp_router_page td.price,
.price, .single-wp_router_page td.price {
    color: #d5499f;
    font-weight: bold;
}




/*.single-wp_router_page .soldInfo.soldInfonew.wauto .buyBtn {
    background-color: #fff;
    background-image: none !important;
    border: 1px solid #d5499f;
    border-radius: 30px;
    box-shadow: none;
    color: #d5499f;
    font-size: 15px;
    font-weight: normal;
    margin: 8px 0;
    padding: 4px 10px 3px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: auto;
}

.single-wp_router_page .soldInfo.soldInfonew.wauto .buyBtn :hover {
    background-color: #d5499f;
    border: 1px solid #d5499f;
    color: #fff;
}*/

.keepshp {
    color: #d5499f;
}

.keepshp:hover {
    color: #d5499f;
}

.single.single-wp_router_page.logged-in .main_viewprofile,
.logged-in .main_viewprofile,
.single.single-wp_router_page.logged-in .sell1,
.logged-in .sell1,
.single.single-wp_router_page.logged-in .profileCus,
.logged-in .profileCus,
.single.single-wp_router_page .main_viewprofile,
.main_viewprofile,
.single.single-wp_router_page .sell1,
.sell1,
.single.single-wp_router_page .profileCus,
.profileCus{
    box-shadow: none;
    border: none;
}

.single.single-wp_router_page.logged-in .profileHeaderTop,
.logged-in .profileHeaderTop,
.single.single-wp_router_page .profileHeaderTop,
.profileHeaderTop {
    background-color: #fff;
}




